*{
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans',Roboto,sans-serif;
}
body{
    overflow: hidden;
    max-height: 100vh;
    background-color: transparent;
    /*background-image: url('https://cdn.pixabay.com/photo/2017/03/01/19/23/seamless-2109397_960_720.jpg');
    background-image: url('https://cdn.pixabay.com/photo/2018/05/02/09/04/blue-3368023_960_720.png');
    background-image: url('https://cdn.pixabay.com/photo/2016/04/08/00/22/seamless-1315263_960_720.jpg');*/
    background-image: url('https://cdn.pixabay.com/photo/2018/05/02/09/04/blue-3368023_960_720.png');
}
.main-content{
    border: 2px solid #3465a4;
    box-shadow: 0 0 5px 5px #0007;
    background-color: white;
    position: absolute;
    min-width: 400px;
    width: 400px;
    min-height: 300px;
    padding: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.content-headder{
    height: 300px;
    background: white;
    border: 2px dashed #3465a4;
    border-radius: 10px;
}
.content-body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.semi-circular-btn {
    border: 2px solid #a40000;
    padding: 10px 40px;
    font-size: 100%;
    background-color: white;
    border-radius: 20px;
    color: #a40000;
    transition: 0.25s transform;
    text-decoration: none;
  }
.semi-circular-btn:hover {
    transform: scale(1.1);
}
.cirular-add-field{
    background-color: #3465a4;
    color: white;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 16px;
}
.cirular-add-field:hover{
    transform: scale(1.1);
}
.text-input-short,
.text-input-long,
.text-input-full,
.text-input{
    padding: 8px;
    font-size: 15px;
    border: 1px #d5d5d5 solid;
    width: 260px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: white;
}
.text-input-short:focus,
.text-input-long:focus,
.text-input-full:focus,
.text-input:focus{
    outline: none;
    border: 1px #3465a4 solid;
}
.text-input-short{
    width: 160px;
}
.text-input-long{
    width: 360px;
}
.text-input-full{
    width: 100%;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}
.flex-justify-arround{
    display: flex;
    justify-content: space-around;
}
.flex-justify-between{
    display: flex;
    justify-content: space-between;
}
.flex-align-items-center{
    display: flex;
    align-items: center;
}
.texto-claro{
    color: #555;
}
.texto-peque{
    font-size: 14px;
}
.texto-bold{
    font-weight: bold;
}
.texto-muy-claro{
    color: #999;
}
.border-top-claro{
    border-top: 1px solid #bbb;
}
.pos-realtive{
    position: relative;
}
.pos-absolute{
    position: absolute;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-align-items-center{
    display: flex;
    align-items: center;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}
.flex-justify-end{
    display: flex;
    justify-content: flex-end;
}
.flex-justify-start{
    display: flex;
    justify-content: flex-start;
}
