*{
    margin: 0;
}
.proyecto-icono{
    width: 48px;
    height: 48px;
    min-width: 48px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 24px;
    color:white;
}
.lista-item-titulo{
    cursor: pointer;
}
.lista-item-titulo:hover {
    text-decoration-line: underline;
}

