.list-container{
    padding: 5% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list-element{
    display: flex;
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 0;
    padding: 15px 8px;
    align-items: center;
}
.imagen-usuario{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    display: block;
    margin-right: 20px;
}
.config-titulo{
    font-size: 28px;
    font-family: Lobster, Roboto, sans-serif;
}
.desc-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    margin-right: 10px;
    width: 200px;
}
.nombre-usuario{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
.nombre-desc{
    margin: 0 5px;
    color: #444;
    cursor: pointer;
    text-decoration: none;
}
.nombre-desc:hover{
    color: #000;
}
.roles-usuario{
    display: flex;
}
.rol-usuario{
    padding: 3px 6px;
    margin: 0 3px;
    background-color: #f4f4f4;
    border: 1px solid #999;
    color: #999;
    font-size: 14px;
    border-radius: 17%;
}
.ultimo-acceso{
    color: #888;
    font-size: 14px;
}
.pendiente,
.logueado,
.es-admin,
.esta-inactivo{
    font-size: 16px;
    padding-left: 7px;
}
.esta-inactivo{
    color: black;
}
.logueado{
    color: #3465a4aa;
}
.logueado:hover{
    color: #3465a4;
}
.pendiente{
    color: #a41515aa;
}
.pendiente:hover{
    color: #cc1111;
}
.es-admin{
    color: #5E569499;
}
.es-admin:hover{
    color: #5E5694;
}
.element-right-side{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
}
.proyectos-usuario{
    display: flex;
}
.opcion-usuario{
    margin: 0 10px;
    color: #888;
    cursor: pointer;
}
.proyectos-usuario:hover{
    color: #19865C;
}
.ultima-sesion-usuario:hover{
    color: #5E5694;
}
.desactivar-usuario:hover{
    color: #a40000;
}
.activar-usuario:hover{
    color: #003366;
}
.aprobar-registro-usuario:hover{
    color: fuchsia;
}
.titulo-lista{
    display: flex;
    flex-direction: row;
    font-size: 22px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.cantidad-usuarios{
    padding: 2px;
    margin: 0 5px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

/*
    OPCIONES DE LA BARRA SUPERIOR
*/

.top-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}
.add-user-btn{
    background-color: #3465a4;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s transform;
}
.add-user-btn:hover{
    transform: scale(1.1);
}
.add-user-icon{
    margin-right: 10px;
}

.contenedor_ordenar_por{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 14px;
}
.titulo_ordenar_por{
    font-weight: bold;
    margin: 0 10px;
    padding: 7px;
    border-radius: 10%;
    border: 2px #0000 solid;
}
.item_ordenar_por{
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    color: #444;
    border: 2px #0000 solid;
}
.item_ordenar_por:hover{
    color: #000;
}
.item_seleccionado{
    border-bottom: 2px #3465a4 solid;
    color: #000;
}
.no-desactivable:hover:before{
    content: "No se puede desactivar porque está activo en algún proyecto.";
    color:#877;
    font-size: 14px;
}