.field-list-head{
    position: relative;
}
.user-menu-main-info-block{
    width: 200px;
    padding-right: 2px;
    margin-right: 0;
}
.simple-remove-rol,
.simple-add-field{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #3465a4cc;
    color: #3465a4cc;
    padding: 7px 11px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.15s;
    left:100%;
    top: 0;
    transform: translateX(-100%);
}
.simple-remove-rol{
    color: #a40000cc;
    border: 1px solid #a40000cc;
}
.simple-add-field:hover,
.simple-remove-rol:hover{
    transform: scale(1.1) translateX(-100%);
}
.field-container{
    padding: 0;
    margin: 0;
}
.rol-id{
    background-color: #f2f2f2;
    color: #777;
    border-radius: 8px;
    padding: 5px 8px;
    width:auto;
    display: inline-block;
    transform: translate(-5px, -5px);
}
.fa-plus{
    padding: 0;
}
.titulo-lista{
    display: flex;
    flex-direction: row;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.cantidad-roles{
    padding: 4px 8px;
    margin: 0 5px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.add-field{
    font-size: 16px;
    margin-left: 20px;
}