.estado-proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 30px;
    background-color: #3875d7;
}
.proyecto-id{
    color: #777;
    padding: 2px 4px;
}