.socialaccount_provider_container {
    background-color: white;
    padding: 10px 0;
    width: calc(100% - 4px);
    height: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3465a4;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 0 #0003;
    font-size: 18px;
    text-decoration: none;
    color: #3465a4;
}
.socialaccount_provider-content{
    font-family: Roboto, sans-serif;
    color: #3465a4;
    margin: 0 15px;
}
.socialaccount_provider{
    border: 0;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #3465a4;
}
.fa-google{
    background-color: white;
    font-size: 27px;
    color: #3465a4;
}
.login-title {
    margin-top: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 100%;
}
.login-title h1{
    background-color: white;
    font-family: Sen, sans-serif;
    font-weight: normal;
}