.user-menu-main-info-block{
    width: 300px;
}
.imagen-usuario{
    width: 80px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

.add-field-long{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 3px;
    padding: 5px;
    width: 265px;
    height: 22px;
    border-radius: 5px;
    border: 2px dashed #3465a4;
    color: #3465a4;
    background-color: transparent;
    transition: 0.2s transform;
    cursor: pointer;
}
.add-field-long:hover{
    transform: scale(1.05);
}
.elements-list-container{
    overflow: auto;
    max-height: 550px;
    padding: 0 20px;
    background-color: #efefef;
}
.modal-footer{
    padding: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.add-tdi-modal{
    min-width: 480px;
}
.tdi-config{
    font-size: 21px;
    margin-bottom: 15px;
    margin-right: 7px;
    font-family: Lobster, Roboto, sans-serif;
    color: #222;
}
.tdi-config i{
    color: #3875d7;
}
.tdi-form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tdi-id{
    background-color: #7772;
    color: #555;
    display: inline-block;
    width: auto;
    border-radius: 4px;
    padding: 5px 8px;
    margin: 5px 0;
}
.tdi-name{

}
.tdi-att-block{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 16px;
    padding-top: 6px;
    border-bottom: 1px solid #ccc;

}
.add-tdi-att-block{
    flex-direction: column;
    padding-top: 5px;
}
.add-att-btn{
    display:flex;
    align-items:center;
    justify-content: center;
    border: 2px dashed #3465a4;
    color:#3465a4;
    cursor:pointer;
    margin-top:10px;
    width: 275px;
    padding: 8px 0;
    border-radius: 5px;
    transition: 0.2s transform;
}
.lista-atributos-titulo{
    margin-top:20px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: row;
}
.lista-atributos-contador{
    margin-left:10px;
    background-color: #e1e1e1;
    color:#707070;
    padding: 0 8px;
    border-radius: 5px;
}
.add-att-btn:hover{
    transform: scale(1.1);
}
.att-footer{
    display: flex;
    justify-content: flex-end;
}
.att-menu-opt{
    min-width: 20px;
    min-height: 20px;
    margin-top: 20px;
    margin-left: 5px;
    color:white;
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s transform;
    display: flex;
    justify-content: center;
    align-items: center;
}
.att-menu-opt:hover{
    transform: scale(1.1);
}
.cirular-close-tdi-info{
    top: -10px;
    background-color:white;
    color: #888;
    position:absolute;
    left: 100%;
    transform: translateX(calc(-100% - 15px));
    transition: 0.2s transform;
}
.cirular-close-tdi-info:hover{
    transform: translateX(calc(-100% - 15px)) scale(1.25);
}
.select-items{
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 15px;
}
.add-perm-btn{
    background-color: #3465a4;
    padding: 14px;
    width: 70px;
    color: white;
    border-radius: 18px;
    text-align: center;
    margin-top: 20px;
    float: right;
    cursor: pointer;
    transition: 0.2s transform;
}
.add-perm-btn:hover{
    transform: scale(1.1);
}
.selectable-text:hover{
    color: #003366;
    cursor: pointer;
}
.edit-rol-message{
    color:#777;
    font-size:13px;
    position:absolute;
    left:100%;
    transform: translateX(calc(-100% - 10px));
    white-space: nowrap;
}
.nota{
    color: #444;
}
.estado-proyecto{
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen-proyecto{
    margin: 0;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.config-titulo{
    margin-bottom: 25px;
    font-size: 30px;
    font-family: Lobster, Roboto, sans-serif;
}

.list-item-elem-del,
.list-item-elem {
    transform: translateX(-20px);
    padding: 14px 20px;
    width: calc(100%);
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 24px;
}
.list-item-elem:hover{
    background-color: #ddd;
}
.list-item-elem-del{
    background-color: #7301;
}

.proyecto-resumen-bloque{
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
}
.proyecto-config-main-continer{
    width: 100%;
    margin-top: 28px;
}












