.main-users-container{
    padding: 0;
    margin: 0;
    width: 100%;
}
.cabecera-mostardor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.imagen-usuario{
    border-radius: 50%;
    margin-bottom: 10px;
    display: block;
    width: 100px;
    height: 100px;
}
.nombre-cabecera{
    font-size: 24px;
    margin-bottom: 5px;
}
.user-menu-block-container{
    display: flex;
}
.user-menu-main-info-block,
.user-menu-main-fields-block{
    padding: 30px;
    border-top: 1px solid #ddd;
}
.user-menu-main-fields-block-border-bottom{
    border-bottom: 1px solid #bbb;
}
.user-menu-main-info-block{
    padding-top: 40px;
    max-width: 320px;
}
.user-menu-main-info-block p{
    margin: 8px 0;
}
label{
    font-weight: bold;
}
.long-input{
    width: 380px;
}
.long-short{
    width: 100px;
}
.field-container{
    display: flex;
    flex-direction: column;
    margin: 25px 20px 0 0;
}
.field-container-group{
    display: flex;
}
.field-list-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.add-field{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3465a4;
    color: white;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.15s;
    width: 34px;
    height: 34px;
}
.add-field:hover{
    transform: scale(1.1);
}
.field-input-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.side-btn{
    border: 0;
    background: transparent;
    padding: 6px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 18px;
}
.config-titulo{
    margin-bottom: 25px;
    font-size: 28px;
    font-family: Lobster, Roboto, sans-serif;
}
.delete-contact:hover{
    color: #a40000;
}
.selected-trash{
    color: #cc1111;
}
.view-eye,
.unselected-trash{
    position: relative;
    color: #999;
}
.view-eye:hover{
    color: orange;
}
button{
    border: 0;
    font-size: 100%;
}
button:focus{
    border: 0;
    outline: 0;
}
.bottom-buttons{
    padding: 20px;
    margin-top: 20px;
    align-self: flex-end;
}
.send-button,
.cancel-button{
    padding: 14px 26px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.2s;
    font-size: 18px;
}
.send-button:hover,
.cancel-button:hover{
    transform: scale(1.1);
}
.send-button{
    background-color: #3465a4;
}
.cancel-button{
    background-color: #cc1111;
}
input[type="submit"] {
    outline: none;
    border: 0;
}
#save-form{
    display: flex;
    flex-direction: column;
}
