.menu-header-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    opacity: 0.95;
    background-color: #3465a4;
    //box-shadow: 0 0 12px 2px #0005;
}
.menu-header-container::after {
    content: "";
    background-image: url("https://cdn.pixabay.com/photo/2018/05/02/09/04/blue-3368023_960_720.png");
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
.menu-header-container::before{
    background-color: #3465a4;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.95;
    z-index: -1;
}

.under-header{
    position: relative;
    top: 45px;
    display: flex;
    height: calc(100vh - 45px);
    background-color: #f2f2f2;
}

.lateral-menu-container{
    flex-basis: 0;
    min-width: 260px;
    max-width: 260px;
    background-color: white;
    //box-shadow: 0 0 15px 1px #0004;
}

.main-container-back{
    width: 100%;
    min-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    //position: relative;
}

.main-container {
    flex-grow: 1;
    background-color: white;
    padding: 0 20px;
    overflow: visible;
    //border: 1px solid #e1e1e1;
    //box-shadow: 0 0 8px 4px #0000000a;
}

body{
    display: flex;
    flex-direction: column;
}
.input-text-largo,
.input-text-corto,
.input-text-auto,
.input-text-full,
.input-text{
    padding: 8px;
    width: 260px;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: white;
}
.input-text-full{
    width: 100%;
}
.input-text-auto{
    width: auto;
}
.input-text-corto{
    width: 110px;
}
.input-text-largo{
    width: 310px;
}
.bordes-claros{
    border-color: #ccc;
}
.elemento-nota{
    padding: 2px 6px;
    margin-left: 6px;
    background-color: #f8f8f8;
    border-radius: 2px;
    border: 1px solid #eee;
}
.elemento-nota-claro{
    padding: 4px 8px;
    margin: 0 10px;
    background-color: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    color: #8b8b8b;
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elemento-nota-claro i{
    transform:translateY(1px);
}
.semi-circulo-btn{
    margin: 0 10px;
    background-color: #3875d7ee;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.semi-circulo-btn:hover{
    background-color: #3875d7;
    transform: scale(1.06);
}
.semi-circulo-bloqueado-btn{
    color:#666;
    white-space: nowrap;
    padding: 8px 12px;
    border-radius:8px;
}
.list-option-btn,
.selected-list-option-btn{
    padding: 15px 12px;
    color: #777;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}


.proyecto-config-main-continer {
    width: 100%;
    margin: 28px 0;
}

.bordered-group-header-top {
    margin: 30px 0 12px 0;
}

.bordered-group-container {
    border-radius: 3px;
    border: 1px solid #ddd;
}

.bordered-group-title {
    border-bottom: 1px solid #ddd;
    padding: 14px 10px;
}

.bordered-group-list-content {
    padding: 0 10px 10px 10px;
}
.input-titulo{
    position: relative;
    transform: translate(15px, 12px);
    background-color: white;
}
.item-lista{
    padding: 10px 5px;
    position: relative;
    //border-bottom: 1px solid #eee;
}
.header-row{
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
}
.page-title-top-space{
    height: 35px;
    padding: 50px 0 20px 0;
}
.list-option-btn:hover{
    color:#111;
    font-weight: bold;
}
.list-option-btn:hover:before,
.selected-list-option-btn:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ccc;
    left: 0;
    top: calc(100% - 2px);
}
.selected-list-option-btn{
    color: #000;
    font-weight: bold;
}
.selected-list-option-btn:before {
    background-color: #3875d7;
}

.lista-item-titulo {
    cursor: pointer;
}

.lista-item-titulo:hover {
    text-decoration-line: underline;
}

.btn-squere-red,
.btn-squere-green,
.btn-squere-white,
.btn-squere-blue,
.btn-squere-gray{
    color: white;
    height: 32px;
    border-radius: 3px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;
    transition: 0.4s all;
    transition-property: background-color, border-color;
    cursor: pointer;
    white-space: nowrap;
}
.btn-squere-green{
    background-color: #1aaa55;
    border: 1px solid #168f48;
}
.btn-squere-green:hover{
    background-color: #4E904A;
}
.btn-squere-red{
    background-color: #DB413B;
    border: 1px solid #cb3c2b;
}
.btn-squere-red:hover{
    background-color: #cb3c2b;
}
.btn-squere-white{
    background-color: #fff;
    border: 1px solid #ccc;
    color: #999;
}
.btn-squere-white:hover{
    border: 1px solid #999;
}
.btn-squere-gray{
    background-color: #eee;
    border: 1px solid #ccc;
    color: #999;
}
.btn-squere-blue{
    border: 1px solid #1a45d7;
    background-color: #3875d7;
}
.btn-squere-blue:hover{
    background-color: #1a45d7;
}



.menu-flotante-ord-filt{
    position: absolute;
    border: 1px solid #bbb;
    background-color: white;
    width: 320px;
    top: 152px;
    left: 100%;
    transform: translateX(calc(-100% - 5px));
}
.menu-flotante-ord-filt div{
    margin-top: 2px;
    padding: 8px 16px 5px 16px;
}
.menu-flotante-ord-filt p{
    padding: 8px 30px 8px 50px;
    cursor: pointer;
}
.menu-flotante-ord-filt p:hover{
    background-color: #eee;
}
.manu-flotante-ord-flit-back{
    background-color: #00000001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
#check-manu-flotante-ord-flit-back:checked + #menu-flotante-ord-flit-back-container{
    display: block;
}
.modal-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #0004;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 5px 5px #0001;
    min-width: 480px;
    width: 40%;
    max-height: 80%;
    border: 1px solid #ccc;
    padding: 16px;
}
.modal-content-title{
    font-size: 22px;
    margin-bottom: 12px;
    margin-left: 4px;
    color: #222;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal-content-title i {
    margin-right: 10px;
}
.modal-close-button{
    position: absolute;
    top: 15px;
    left: 100%;
    transform: translateX(calc(-100% - 15px));
    color:#777;
    cursor: pointer;
}
.modal-close-button:hover{
    color:#000;
}


















.att-bool-container{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
}

/* Customize the label (the container) */
.att-boo-block {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.att-boo-block input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid #999;
}

/* On mouse-over, add a grey background color */
.att-boo-block:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.att-boo-block input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.att-boo-block input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.att-boo-block .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}