[data-tooltip-bottom]:before,
[data-tooltip-right]:before,
[data-tooltip]:before {
    /* needed - do not touch */
    position: absolute;
    opacity: 0;
    display: none;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 2px;
    //box-shadow: 2px 2px 1px silver;
}
[data-tooltip-bottom]:before{
    content: attr(data-tooltip-bottom);
}
[data-tooltip-right]:before{
    content: attr(data-tooltip-right);
}
[data-tooltip]:before{
    content: attr(data-tooltip);
}

[data-tooltip-bottom]:hover:before,
[data-tooltip-right]:hover:before,
[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    display: block;

    /* customizable */
    white-space: nowrap;
    background: white;
    border: 1px solid #bbb;
    color: #444;
    font-size: 13px;
}
[data-tooltip]:hover:before {
    margin-left: -10px;
    margin-top: -40px;
}
[data-tooltip-bottom]:hover:before {
    margin-left: -10px;
    margin-top: 40px;
}
[data-tooltip-right]:hover:before {
    margin-left: 25px;
    margin-top: -5px;
}

[data-tooltip]:not([data-tooltip-persistent]):before,
[data-tooltip-bottom]:not([data-tooltip-persistent]):before,
[data-tooltip-right]:not([data-tooltip-persistent]):before{
    pointer-events: none;
}