{% load static %}
<style>
    .usuario-icono {
        width: 48px;
        height: 48px;
        min-width: 48px;
        border-radius:50%;
    }
</style>
<div class="pos-realtive">
    <div class="flex-row flex-justify-between header-row flex-align-items-center">
        <div class="flex-row">
            {% if soloMostrarMiembrosActivos %}
                <div onclick="removeUrlParam('buscar')" class="flex-row flex-align-items-center selected-list-option-btn">
                    {% if listaDeUsuariosTitulo is not None %}
                        {{ listaDeUsuariosTitulo }}
                    {% else %}
                        <p>Usuarios activos</p>
                    {% endif %}
                    <p class="elemento-nota">{{ cantidadUsuariosActivos }}</p>
                </div>
            {% else %}
                <div onclick="removeUrlParamList(['buscar', 'todos', 'filtro'])" class="flex-row flex-align-items-center
                        {% if request.GET.todos == 'True' %}list-option-btn{% else %}selected-list-option-btn{% endif %}">
                    <p>Usuarios activos</p>
                    <p class="elemento-nota">{{ cantidadUsuariosActivos }}</p>
                </div>
                <div onclick="addUrlParam('todos', 'True', ['buscar'])" class="flex-row flex-align-items-center
                        {% if request.GET.todos == 'True' %}selected-list-option-btn{% else %}list-option-btn{% endif %}">
                    <p>Todos los usuarios</p>
                    <p class="elemento-nota">{{ cantidadUsuariosTotales }}</p>
                </div>
            {% endif %}
        </div>
        <div class="flex-row flex-align-items-center" style="height:40px">
            <input id="input-buscar-enter" style="width:230px;margin-right:6px;"
                   class="input-text" type="text" placeholder="Buscar usuario">
            <div onclick="showFloatMenu()" class="input-text flex-row flex-justify-between flex-align-items-center"
                 style="width:180px;color:#555;cursor:pointer">
                <div id="filtro-titulo">Seleccionar orden y filtro</div>
                <i style="margin:0" class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>

    <!-- Resultados de la busqueda -->

    {% if request.GET.buscar is not None %}
        <div style="padding:10px;border-bottom:1px solid #ccc" class="flex-justify-center">
            <p class="texto-claro">Resultados de buscar <strong>{{ request.GET.buscar }}</strong></p>
        </div>
    {% endif %}

    <!-- Inicio de tabla -->

    <div style="margin-top: 10px">
        {% if cantidadRolesDeProyecto is not None and cantidadRolesDeProyecto == 0 and modificable %}
            <div style="padding:0 10px 10px 10px;border-bottom:1px solid #ddd">
                <p>No hay roles para asignar</p>
                <p class="texto-claro" >
                    Para definir nuevos roles de proyecto y luego asignarlos a los miembros,
                    vaya a la <a href="/proyecto/{{ proyecto.id }}/roles/" style="color:#3875D7">
                    <strong>configuración de roles</strong></a> del proyecto.
                </p>
            </div>
        {% endif %}
        {% for usuario in listaUsuarios %}
            {% if not request.GET.buscar or request.GET.buscar == usuario.id|stringformat:"i" or request.GET.buscar|lower in usuario.username|lower or request.GET.buscar|lower in usuario.email|lower %}
                <div class="item-lista flex-row flex-align-items-center">
                    <img class="usuario-icono" src="{{ usuario|get_usuario_imagen_perfil }}">
                    {% if mostrarMiembros %}
                        {% include 'proyecto/usuariosDeProyecto_ItemDeLIsta.html' %}
                    {% elif mostrar_comite %}
                        {% include 'proyecto/miembrosDeComite_ItemDeLIsta.html' %}
                    {% else %}
                        {% include 'usuario/usuarioDeSistema_ItemDeLIsta.html' %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!--    MODAL PARA FILTRAR Y ORDENAR USUARIOS     -->

    <div id="menu-flotante-ord-flit-back-container" style="display:none">
        <div onclick="hideFloatMenu()" class="manu-flotante-ord-flit-back"></div>
        <div class="menu-flotante-ord-filt" style="top:50px;z-index:100">
            <div><strong>Ordenar por</strong></div>
            <!-- Nombre de usuario -->
            {% if request.GET.ordenarPor == 'nombreDeUsuario' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Nombre de usuario</p>
                <script>$('#filtro-titulo').html('Nombre de usuario')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'nombreDeUsuario')">Nombre de usuario</p>
            {% endif %}
            {% if mostrarMiembros %}
                <!-- Ultimo Agregado a proyecto -->
                {% if request.GET.ordenarPor == 'ultimoAgregado' %}
                    <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Último agregado</p>
                    <script>$('#filtro-titulo').html('Último registrado')</script>
                {% else %}
                    <p onclick="addUrlParam('ordenarPor', 'ultimoAgregado')">Último agregado</p>
                {% endif %}
                <!-- Primero Agregado a proyecto -->
                {% if request.GET.ordenarPor == 'primeroAgregado' %}
                    <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Primero agregado (más antiguo)</p>
                    <script>$('#filtro-titulo').html('Primero agregado')</script>
                {% else %}
                    <p onclick="addUrlParam('ordenarPor', 'primeroAgregado')">Primero agregado (más antiguo)</p>
                {% endif %}
            {% else %}
                <!-- Ultimo registrado -->
                {% if request.GET.ordenarPor == 'ultimoRegistrado' %}
                    <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Último registrado</p>
                    <script>$('#filtro-titulo').html('Último registrado')</script>
                {% else %}
                    <p onclick="addUrlParam('ordenarPor', 'ultimoRegistrado')">Último registrado</p>
                {% endif %}
                <!-- Primero registrado -->
                {% if request.GET.ordenarPor == 'primeroRegistrado' %}
                    <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Primero registrado (más antiguo)</p>
                    <script>$('#filtro-titulo').html('Primero creado')</script>
                {% else %}
                    <p onclick="addUrlParam('ordenarPor', 'primeroRegistrado')">Primero registrado (más antiguo)</p>
                {% endif %}
            {% endif %}

            <!--#################    FILTROS     ################-->

            <div class="border-top-claro"><strong>Filtrar</strong></div>
            <!-- Inactivos -->
            {% if not soloMostrarMiembrosActivos and request.GET.todos == 'True' %}
                {% if request.GET.filtro == 'inactivos' %}
                    <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Inactivos</p>
                {% else %}
                    <p onclick="addUrlParam('filtro', 'inactivos')">Inactivos</p>
                {% endif %}
            {% endif %}
            {% if mostrarMiembros %}
                <!-- Gerente -->
                {% if request.GET.filtro == 'gerente' %}
                    <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Gerente</p>
                {% else %}
                    <p onclick="addUrlParam('filtro', 'gerente')">Gerente</p>
                {% endif %}
            {% else %}
                <!-- Pendientes -->
                {% if request.GET.filtro == 'pendientes' %}
                    <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Pendientes de aprobación</p>
                {% else %}
                    <p onclick="addUrlParam('filtro', 'pendientes')">Pendientes de aprobación</p>
                {% endif %}
                <!-- Administradores -->
                {% if request.GET.filtro == 'administradores' %}
                    <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Administradores</p>
                {% else %}
                    <p onclick="addUrlParam('filtro', 'administradores')">Administradores</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% if usuarioMod is not None and usuarioModRolesFaltantes|length > 0 and modificable %}
    {% include 'proyecto/agregarRolDeProyectoAUsuario.html' %}
{% endif %}

<script src="{% static 'scripts/listaUsuarios.js' %}"></script>

<script>
    function removeMemb(membId, proyId) {
        $.confirm({
            title: "Remover miembro del proyecto",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: '<p>Confirmar la opración tendrá un efecto inmediato y el usuario quedará inahabilitado en el ' +
                'proyecto.</p><br><strong>Advertencia: </strong>' +
                '<p>El usuario perderá todos los roles que le fueron asignados a este proyecto.</p>',
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-red',
                    action: function () {
                        sendRemoveUser(membId, proyId);
                    }
                },
                cancelar: function () {
                },
            }
        });
    }

    function removeMiembComite(miembro_id) {
        $.confirm({
            title: "Remover miembro del comité de cambios del proyecto",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: `<p>Confirmar la opración tendrá un efecto inmediato y el miembro quedará excluido del comité de cambios del proyecto</p>`,
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-red',
                    action: function () {
                        sendRequest(
                            '/proyecto/{{ proyecto.id }}/remover/comite/usuario/',
                            {
                                'usuario': miembro_id,
                                'href': window.location.href,
                            }
                        )
                    }
                },
                cancelar: function () {
                },
            }
        });
    }

    function deleteUsermodRol(rolId, usermodId) {
        $.confirm({
            title: "Remover rol del usuario",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: '<p>Confirmar la opración tendrá un efecto inmediato.</p><br><strong>Advertencia: </strong>' +
                '<p>El usuario perderá inmediatamente los permisos asociados al rol que está por serle removido.</p>',
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-red',
                    action: function () {
                        sendRemoveUserRol(usermodId, rolId);
                    }
                },
                cancelar: function () {
                },
            }
        });
    }

    function showFloatMenu() {
        $('#menu-flotante-ord-flit-back-container').css('display', 'block');
    }
    function hideFloatMenu() {
        $('#menu-flotante-ord-flit-back-container').css('display', 'none');
    }
</script>