{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Lista de usuarios" %}{% endblock %}
{% block systemBase_extra_head %}
    <link rel="stylesheet" href="{% static 'css/listaUsuarios.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main_container %}
    <!-- Formulario con csrf obligatorio para post -->
    <form id="user-modification-sender" method="POST">
        {% csrf_token %}
        <input id="userTo" type="hidden" name="username">
        <input id="formHref" type="hidden" name="formhref">
    </form>

    <!-- Inicio -->
    <div class="list-container">
        <div class="titulo-lista">
            <p id="cantidad-usuarios" class="cantidad-usuarios"></p>
            <p class="config-titulo" style="margin-right:10px;margin-left:4px;">Usuarios</p>
            <div data-tooltip-bottom="Buscar usuario" onclick="buscarUsuario()" class="cirular-add-field">
                <i style="margin:0" class="fas fa-search"></i></div>
            {% if request.GET.buscar %}
                <div data-tooltip-bottom="Mostrar todos los usuarios" onclick="mostartTodosLosUsuarios()"
                     class="cirular-add-field"><i style="margin:0" class="fas fa-list"></i></div>
            {% endif %}
        </div>
        {% if request.GET.buscar %}
            <div style="margin-bottom: 14px; color:#444;">Resultados del filtro <strong>{{ request.GET.buscar }}</strong></div>
        {% endif %}
        <!-- Ordenar usuario por... -->
        <div class="top-options">
            <div class="contenedor_ordenar_por">
            <div class="titulo_ordenar_por">Ordenar por</div>
            <!-- Ordenar por nombre de usuario -->
            {% if ordenarPor == 'username' %}
                <div class="item_ordenar_por item_seleccionado">Nombre de usuario</div>
            {% else %}
                <div onclick="ordenarPor('username')" class="item_ordenar_por">Nombre de usuario</div>
            {% endif %}
            <!-- Ordenar por ultimo login -->
            {% if ordenarPor == 'last_login' %}
                <div class="item_ordenar_por item_seleccionado">Último acceso</div>
            {% else %}
                <div onclick="ordenarPor('last_login')" class="item_ordenar_por">Último acceso</div>
            {% endif %}
            <!-- Ordenar por Fecha de registro -->
            {% if ordenarPor == 'date_joined' %}
                <div class="item_ordenar_por item_seleccionado">Fecha de registro</div>
            {% else %}
                <div onclick="ordenarPor('date_joined')" class="item_ordenar_por">Fecha de registro</div>
            {% endif %}
            <!-- Ordenar por pendiente -->
            {% if request.user|tiene_permiso_sistema:'aprobar_usuario' %}
                {% if ordenarPor == 'pendiente' %}
                    <div class="item_ordenar_por item_seleccionado">Pendientes</div>
                {% else %}
                    <div onclick="ordenarPor('pendiente')" class="item_ordenar_por">Pendientes</div>
                {% endif %}
            {% endif %}
        </div>
            <!--<div onclick="addUser()" class="add-user-btn"><i class="fas fa-user-plus add-user-icon"></i>Agregar</div>-->
        </div>

        <!-- Lista de usuarios -->
        <script>let cantidad_roles = 0;</script>
        {% for usuario in listaUsuarios %}
            {% if not request.GET.buscar or request.GET.buscar == usuario.id|stringformat:"i" or request.GET.buscar|lower in usuario.username|lower or request.GET.buscar|lower in usuario.first_name|lower or request.GET.buscar|lower in usuario.last_name|lower or request.GET.buscar|lower in usuario.email|lower %}
                <script>cantidad_roles += 1;</script>
                <div class="list-element">
                    <img class="imagen-usuario" src="{{ usuario|get_usuario_imagen_perfil }}" alt="">
                    <div class="desc-usuario">
                        <div class="nombre-usuario">
                            {% if user|tiene_permiso_sistema:'ver_todos_los_perfiles' or usuario.username == user.username %}
                                <a href="/usuario/{{ usuario.username }}" class="nombre-desc">{{ usuario.username }}</a>
                            {% else %}
                                <div class="nombre-desc">{{ usuario.username }}</div>
                            {% endif %}
                            {% if usuario|es_usuario_logueado %}
                                <div class="logueado" data-tooltip="Logueado"><i class="fas fa-sign"></i></div>
                            {% endif %}
                            {% if not usuario.aprobado %}
                                <div class="pendiente" data-tooltip="Pendinte de aprobación"><i
                                        class="fas fa-user-clock"></i></div>
                            {% endif %}
                            {% if usuario.is_superuser %}
                                <div class="es-admin" data-tooltip="Administrador"><i class="fas fa-lock-open"></i>
                                </div>
                            {% endif %}
                            {% if not usuario.is_active %}
                                <div class="esta-inactivo" data-tooltip="Desactivado"><i class="fas fa-skull"></i></div>
                            {% endif %}
                        </div>
                        <div style="color:#777;margin-top:5px">
                            {{ usuario.email }}
                        </div>
                    </div>
                    <div class="element-right-side">
                        {% if not usuario.aprobado and request.user|tiene_permiso_sistema:'aprobar_usuario' %}
                            <div id="{{ usuario.username }}" data-tooltip="Aprobar registro de usuario"
                                 onclick="aprobarRegistroDeUsuario(id)"
                                 class="opcion-usuario aprobar-registro-usuario"><i class="fas fa-user-check"></i></div>
                        {% endif %}
                        {% if request.user|tiene_permiso_sistema:'ver_ultimo_inicio_sesion' %}
                            <div data-tooltip="Inició sesión por útlima vez el {{ usuario.last_login }}"
                                 class="opcion-usuario ultima-sesion-usuario"><i class="fas fa-stopwatch"></i></div>
                        {% endif %}
                        {% if request.user|tiene_permiso_sistema:'deshabilitar_usuario' %}
                            {% if usuario.is_active %}
                                <div id="{{ usuario.username }}" data-tooltip="Desctivar"
                                     onclick="desactivarUsuario(id)"
                                     class="opcion-usuario desactivar-usuario"><i class="fas fa-user-slash"></i></div>
                            {% else %}
                                <div id="{{ usuario.username }}" data-tooltip="Activar" onclick="activarUsuario(id)"
                                     class="opcion-usuario activar-usuario"><i class="fas fa-user-plus"></i></div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="list-element"></div>
    <script>
        $('#cantidad-usuarios').text(cantidad_roles);
    </script>
    </div>


    <script src="{% static 'scripts/listaUsuarios.js' %}"></script>
{% endblock %}