{% extends 'systemBase.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Menú principal" %}{% endblock %}

{% block main_container %}
    <div class="header-row page-title-top-space" style="border:0">
        <h2>Usuarios</h2>
    </div>
    {% include 'usuario/listaUsuariosToInclude.html' %}
{% endblock %}