{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Usuario info" %}{% endblock %}
{% block systemBase_extra_head %}
    <link rel="stylesheet" href="{% static 'css/menuUsuario.css' %}">
{% endblock %}

{% block main_container %}

    <form id="form-add-admin" method="POST" action="/usuario/agregar/admin/">
        {% csrf_token %}
        <input type="hidden" name="usuario" id="add-admin-user">
        <input type="hidden" name="href" id="add-admin-href">
    </form>
    <form id="save-form" action="/usuario/save/changes/" method="post">
    {% csrf_token %}
        <!-- Cabecera -->
        <div class="cabecera-mostardor cabecera-flotante">
            <img class="imagen-usuario" src="{{ usuarioMod.username|get_usuario_imagen_perfil }}" alt="">
            <div class="nombre-cabecera">{{ name }} {{ lastname }}</div>
            <div style="margin:10px 0" class="texto-claro flex-align-items-center">
                {{ usuarioMod.username }} <i style="font-size:8px;margin:0 5px;" class="fas fa-circle"></i>
                {{ usuarioMod.email }} <i style="font-size:8px;margin:0 5px;" class="fas fa-circle"></i>
                Registrado desde
                el {{ usuarioMod.date_joined|date:"d" }}
                de {{ usuarioMod.date_joined|date:"F" }}
                del {{ usuarioMod.date_joined|date:"Y" }}
            </div>
            {% if usuarioMod|es_admin %}
                <div class="elemento-nota-claro" style="display:flex;">
                    <i style="margin-right:10px" class="fas fa-unlock-alt"></i>
                    <p>Administrador</p>
                </div>
            {% endif %}
        </div>
        <!-- BLOQUES -->

        <hr style="border:0;margin:175px">

        <div class="flex-row">
            <!-- Información de actividades -->
            <div class="sub-block">
                <div class="sub-block-titulo flex-justify-between flex-align-items-center">
                    <div class="flex-row">
                        Actividades
                        <p class="elemento-nota-claro">{{ actividadesLista|length }}</p>
                    </div>
                    <a href="#">Ver todos</a>
                </div>
                {% for proyecto in actividadesLista|slice:":10" %}
                {% endfor %}
            </div>
            <!-- Información de proyectos -->
            <div class="sub-block">
                <div class="sub-block-titulo flex-justify-between flex-align-items-center">
                    <div class="flex-row">
                        Proyectos
                        <p class="elemento-nota-claro">{{ proyetosLista|length }}</p>
                    </div>
                    <a href="#">Ver todos</a>
                </div>
                {% for proyecto in proyetosLista|slice:":10" %}
                    <div class="field-input-content">
                        <div class="item-proyecto flex-row flex-align-items-center">
                            <div class="proyecto-icono" style="background-color:{{ proyecto.color_icono }}3">
                                {{ proyecto.nombre|primera_letra|title }}
                            </div>
                            <div style="margin-left:15px">
                                <div onclick="window.location.href = '/proyecto/{{ proyecto.id }}'"
                                     class="lista-item-titulo">{{ proyecto.nombre }}</div>
                                <div class="texto-claro">Estado: {{ proyecto.estado|descripcion_estado }}</div>
                            </div>
                            {% if proyecto.gerente.id == user.id %}
                                <div class="elemento-nota-claro flex-row texto-claro">
                                    <i style="margin-right:7px" class="fas fa-user-tie"></i>
                                    <p>Eres gerente</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr style="border:0;margin:20px">

        <div class="flex-row">
            <!-- Información de contacto -->
            <div class="sub-block">
                <div class="sub-block-titulo">
                    Información de contacto
                </div>
                <div class="flex-row" style="margin-top:20px">
                    <!-- Nros de celular -->
                    <div class="flex-column contacto-block">
                        <div class="contanto-block-head">
                            <label>Números de celular</label>
                        </div>
                        <div class="flex-column">
                            {% for numero in numeroscelular %}
                                <div class="flex-row flex-align-items-center contact-list-item">
                                    <p>{{ forloop.counter }}</p>
                                    <i style="font-size:6px;margin:0 5px" class="fas fa-circle"></i>
                                    <p>{{ numero.descripcion }}</p>
                                </div>
                            {% endfor %}
                        </div>
                        <!--{% if modificable %}
                            <div class="flex-row">
                                <div onclick="addNumberContact()" class="btn-squere-green">Agregar</div>
                            </div>
                        {% endif %}-->
                    </div>
                    <!-- Emails -->
                    <div class="flex-column contacto-block">
                        <div>
                            <label>Correos electrónicos</label>
                        </div>

                        {% if modificable %}
                            <div class="flex-row">
                                <div onclick="addEmailContact()" class="btn-squere-green">Agregar</div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Web y urls -->
                    <div class="flex-column contacto-block">
                        <div>
                            <label>Direcciones web</label>
                        </div>

                        {% if modificable %}
                            <div class="flex-row">
                                <div onclick="addUrlContact()" class="btn-squere-green">Agregar</div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- Emails -->
                    <div class="flex-column contacto-block">
                        <div>
                            <label>Direcciones físicas</label>
                        </div>

                        {% if modificable %}
                            <div class="flex-row">
                                <div onclick="addDirectionContact()" class="btn-squere-green">Agregar</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>







    <!-- Información de contacto -->
    <div class="">

        <div class="">
            <div class="field-container">
                <div class="field-list-head">

                </div>
                {% for numero in numeroscelular %}
                    <div class="field-input-content">
                        {% if modificable %}
                            <input name="contact{{ numero.contacto_id }}" id="contact{{ numero.contacto_id }}"
                                   class="text-input" type="text" value="{{ numero.descripcion }}">
                            <div data-tooltip="Eliminar información de contacto" id="remove-contact-{{ numero.contacto_id }}"
                                 onclick="removeContact(id, {{ numero.contacto_id }})"
                                    class="side-btn unselected-trash"><i class="fas fa-trash-alt"></i></div>
                        {% else %}
                            <input name="contact{{ numero.contacto_id }}" id="contact{{ numero.contacto_id }}"
                                   class="text-input" type="text" value="{{ numero.descripcion }}" readonly>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="field-container">
                <div class="field-list-head">
                    <label>Correos electrónicos</label>
                    {% if modificable %}
                        <div data-tooltip="Agregar correo electrónico" onclick="addEmailContact()" class="btn-squere-green">
                            Agregar</div>
                    {% endif %}
                </div>
                {% for correo in correos %}
                    <div class="field-input-content">
                        {% if modificable %}
                            <input name="contact{{ correo.contacto_id }}" class="text-input" type="text"
                                   value="{{ correo.descripcion }}">
                            <div data-tooltip="Eliminar información de contacto" id="remove-contact-{{ correo.contacto_id }}"
                                 onclick="removeContact(id, {{ correo.contacto_id }})"
                                    class="side-btn unselected-trash"><i class="fas fa-trash-alt"></i></div>
                        {% else %}
                            <input name="contact{{ correo.contacto_id }}" class="text-input" type="text"
                                   value="{{ correo.descripcion }}" readonly>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="field-container">
                <div class="field-list-head">
                    <label>Direcciones web y URLs</label>
                    {% if modificable %}
                        <div data-tooltip="Agregar URL" onclick="addUrlContact()" class="btn-squere-green">
                            Agregar</i></div>
                    {% endif %}
                </div>
                {% for url in urls %}
                    <div class="field-input-content">
                        {% if modificable %}
                            <input name="contact{{ url.contacto_id }}" class="text-input" type="text"
                                   value="{{ url.descripcion }}">
                            <div data-tooltip="Eliminar información de contacto" id="remove-contact-{{ url.contacto_id }}"
                                 onclick="removeContact(id, {{ url.contacto_id }})"
                                class="side-btn unselected-trash"><i class="fas fa-trash-alt"></i></div>
                        {% else %}
                            <input name="contact{{ url.contacto_id }}" class="text-input" type="text"
                                   value="{{ url.descripcion }}" readonly>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="field-container">
                <div class="field-list-head">
                    <label>Direcciones físicas</label>
                    {% if modificable %}
                        <div data-tooltip="Agregar dirección física" onclick="addDirectionContact()" class="btn-squere-green">
                            Agregar</div>
                    {% endif %}
                </div>
                {% for dir in direcciones %}
                    <div class="field-input-content">
                        {% if modificable %}
                            <input name="contact{{ dir.contacto_id }}" class="text-input" type="text"
                                   value="{{ dir.descripcion }}">
                            <div data-tooltip="Eliminar información de contacto" id="remove-contact-{{ dir.contacto_id }}"
                                 onclick="removeContact(id, {{ dir.contacto_id }})"
                                    class="side-btn unselected-trash"><i class="fas fa-trash-alt"></i></div>
                        {% else %}
                            <input name="contact{{ dir.contacto_id }}" class="text-input" type="text"
                                   value="{{ dir.descripcion }}" readonly>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- BOTONES INFERIORES -->
    <div class="bottom-buttons">
        <!--<button type="button" class="cancel-button">Cancelar</button>-->
        {% if modificable or request.user|tiene_permiso_sistema:'modificar_roles_sistema' %}
            <input type="submit" class="send-button" value="Guardar">
        {% endif %}
    </div>
    </form>
    <script src="{% static 'scripts/usuarios.js' %}"></script>
{% endblock %}