{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Usuario info" %}{% endblock %}
{% block systemBase_extra_head %}
    <link rel="stylesheet" href="{% static 'css/menuUsuario.css' %}">
{% endblock %}

{% block main_container %}
    <style>
        .lista-item-titulo {
            cursor: pointer;
        }

        .lista-item-titulo:hover {
            text-decoration-line: underline;
        }

        .proyecto-icono {
            width: 42px;
            height: 42px;
            min-width: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            font-size: 18px;
            color: #555;
        }

        .sub-block {
            flex-grow: 1;
            flex-basis: 0;
            padding: 0 20px;
            overflow: hidden;
        }

        .sub-block-titulo {
            font-family: 'Inria Sans', sans-serif;
            font-size: 22px;
            //border-bottom: 1px solid #ddd;
            padding-bottom: 7px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .sub-block a {
            font-size: 13.5px;
            margin-right: 10px;
            text-decoration: none;
        }

        .sub-block a:hover {
            text-decoration-line: underline;
        }

        .cabecera-flotante {
            position: absolute;
            padding: 20px;
            background-color: #fff;
            width: calc(100% - 40px);
            top: 0;
            left: 0;
            border-bottom: 5px solid #e5e5e5;
            box-shadow: 0 0 10px 6px #0000000c;
        }
        .btn-editar{
            position: absolute;
            top:0;
            left: 100%;
            transform: translate(calc(-100% - 20px), 22px);
            white-space: nowrap;
        }
        .item-proyecto{
            margin: 6px 0;
        }
    </style>

    <!-- Cabecera -->
    <!-- Cabecera flotate: <div class="cabecera-mostardor cabecera-flotante"> -->
    <div class="cabecera-mostardor cabecera-flotante">
    <!--<div class="cabecera-mostardor" style="margin: 40px 0; border-bottom: 1px solid #ddd;padding-bottom:35px">-->
        <img class="imagen-usuario" src="{{ usuarioMod.username|get_usuario_imagen_perfil }}">
        <div class="nombre-cabecera">{{ name }} {{ lastname }}</div>
        <div style="margin-bottom:9px" class="texto-claro flex-align-items-center">
            {{ usuarioMod.username }} <i style="font-size:6px;margin:0 5px;" class="fas fa-circle"></i>
            {{ usuarioMod.email }} <i style="font-size:6px;margin:0 5px;" class="fas fa-circle"></i>
            Registrado desde
            el {{ usuarioMod.date_joined|date:"d" }}
            de {{ usuarioMod.date_joined|date:"F" }}
            del {{ usuarioMod.date_joined|date:"Y" }}
        </div>
        {% if usuarioMod|es_admin %}
            <div class="elemento-nota-claro" style="display:flex;">
                <i style="margin-right:10px" class="fas fa-unlock-alt"></i>
                <p>Administrador</p>
            </div>
        {% endif %}
        {% if modificable %}
            <div onclick="goto('/usuario/{{ usuarioMod.username }}/editar/')"
                 class="btn-editar btn-squere-white">
                <i style="margin-right:7px" class="fas fa-edit"></i>
                <p>Editar</p>
            </div>
        {% endif %}
    </div>
    <!-- BLOQUES -->

    <!-- Cabecera flotante <hr style="border:0;margin:155px">-->
    <hr style="border:0;margin:153px">

    <div class="flex-row">
        <!-- Información de actividades -->
        <div class="sub-block">
            <div class="sub-block-titulo flex-justify-between flex-align-items-center">
                <div class="flex-row">
                    <p style="font-family:'Inria Sans', sans-serif">Historial de actividades</p>
                    <p class="elemento-nota-claro">{{ actividadesLista|length }}</p>
                </div>
                <a href="#">Ver todos</a>
            </div>
            {% for proyecto in actividadesLista|slice:":10" %}
            {% endfor %}
        </div>
        <!-- Información de proyectos -->
        <div class="sub-block">
            <div class="sub-block-titulo flex-justify-between flex-align-items-center">
                <div class="flex-row">
                    <p style="font-family:'Inria Sans', sans-serif">Proyectos</p>
                    <p class="elemento-nota-claro">{{ proyetosLista|length }}</p>
                </div>
                <a href="#">Ver todos</a>
            </div>
            {% for proyecto in proyetosLista|slice:":10" %}
                <div class="field-input-content">
                    <div class="item-proyecto flex-row flex-align-items-center">
                        <div class="proyecto-icono" style="background-color:{{ proyecto.color_icono }}3">
                            {{ proyecto.nombre|primera_letra|title }}
                        </div>
                        <div style="margin-left:15px">
                            <div class="flex-row">
                            {# TODO: SOLO SI TIENE PERMISO PARA VER OTROS PROYECTOS #}
                                <p onclick="window.location.href = '/proyecto/{{ proyecto.id }}/'"
                                   class="lista-item-titulo">
                                    {{ proyecto.nombre }}
                                </p>
                                <p style="margin:0 5px">/</p>
                                <strong>{{ proyecto.estado|descripcion_estado }}</strong>
                                {% if proyecto.gerente.id == usuarioMod.id %}
                                    <p style="margin:0 5px">/</p>
                                    <div class="flex-row texto-claro">
                                        <i style="margin-right:7px" class="fas fa-user-tie"></i>gerente
                                    </div>
                                {% endif %}
                            </div>
                            <div class="texto-claro" style="white-space:nowrap">
                                {{ proyecto.descripcion }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'scripts/usuarios.js' %}"></script>
{% endblock %}