<style>
    .faltantes-contenedor{
        position: absolute;
        top:79px;
        border-radius: 4px;
        width: calc(100% - 4px);
        border: 1px solid #ccc;
        background-color: white;
        padding: 10px 1px;
        max-height: 300px;
        overflow: auto;
        display: none;
        z-index: 20;
    }
    .faltante-vacio-item,
    .faltante-item{
        color: #555;
        padding: 10px 10px 10px 20px;
        cursor: pointer;
        font-weight: normal;
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    .faltante-item:hover{
        background-color: #eee;
    }
    .faltante-vacio-item{
        cursor: auto;
    }
    #agregar-usuario-input{
        border: 0;
        width: 100%;
        height: auto;
    }
    #agregar-usuario-input::before{
        content: "";
        position: absolute;
        background-color: red;
        top:0;
        left:0;
        width: 100px;
        height: 100px;
    }
    .input-text-container{
        padding: 0;
        width:auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        height: 34px;
    }
    .faltante-icono-vacio,
    .faltante-icono-peque,
    .faltante-icono {
        width: 32px;
        height: 32px;
        display: flex;
        margin-right: 15px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        font-size: 18px;
        color: #555;
    }
    .faltante-icono-vacio{
        width: 160px;
        height: 160px;
        margin-bottom:10px;
    }
    .faltante-icono-peque{
        width: 28px;
        height: 28px;
        margin-right: 8px;
    }
    #selected-members-to-add-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .selected-members-to-add{
        align-items: center;
        padding: 3px 5px;
        border: 1px solid #ccc;
        font-weight: normal;
        margin-left: 5px;
        border-radius: 4px;
    }
    .selected-members-to-add i{
        margin-left: 4px;
        font-size: 12px;
        margin-top: 1px;
        color: #444;
        transition: 0.4s color;
    }
    .selected-members-to-add i:hover {
        color: #c0341d;
    }
</style>

<div class="bordered-group-list-content">
    <div class="flex-column pos-realtive">
        <div class="flex-column" style="margin: 10px 0">
            <p><strong>Escriba o seleccione el nombre de usuario</strong></p>
        </div>
        <div class="input-text bordes-claros input-text-container">
            <div id="selected-members-to-add-container"></div>
            <input id="agregar-usuario-input" type="text" class="input-text">
        </div>
        <!-- Lista de miembros faltantes -->
        <div id="faltantes-contenedor" class="faltantes-contenedor">
            <script>var miembrosFaltantes = []</script>
            {% for faltante in miembrosFaltantes %}
                <script>
                    miembrosFaltantes.push({
                        'nombre': '{{ faltante.first_name }}',
                        'apellido': '{{ faltante.last_name }}',
                        'username': '{{ faltante.username }}',
                        'imgSrc': '{{ faltante|get_usuario_imagen_perfil }}'
                    });
                </script>
            {% endfor %}
        </div>
        <div id="faltantes-contenedor-vacio" class="faltantes-contenedor flex-justify-center"
             style="background-color:#f4f4f4">
            <div class="faltante-vacio-item flex-column">
                <img class="faltante-icono-vacio" style="border-radius:50%"
                     src="http://drive.google.com/uc?export=view&id=1Lryi384T4foly6H8JRMEbiLg7u5KM8UG">
                <div class="flex-column flex-align-items-center" style="max-width:400px">
                    <p class="texto-bold">¡Espera espera espera!</p>
                    <p class="texto-claro" style="font-size:15px;margin:5px 0">
                        No se encontraron más usuarios.</p>
                    <p class="texto-claro" style="font-size:15px;text-align:center">
                        Es posible que deba cambiar el texto de busqueda ya que no hay coincidencias,
                        o ya nos hayas agregado a todos...
                    </p>
                </div>
            </div>
        </div>

        <div class="flex-row">
            <div id="btn-agregar_miembro_a_proyecto" onclick="addSelectedUsers()"
                 style="margin:10px 0 0 5px" class="btn-squere-gray">Agregar
            </div>
        </div>
    </div>
</div>

<script>
    /* SELECCIONAR */
    var canSelectOnlyOneUser = false;
    var selectedMembersToAdd = [];
    $('#agregar-usuario-input').focus(function () {
        if (canDisplayMoreUsers() && miembrosFaltantes.length > selectedMembersToAdd.length)
            $('#faltantes-contenedor').css('display', 'block');
        showMissMembers();
    });
    $('#agregar-usuario-input').focusout(function () {
        $('#faltantes-contenedor-vacio').css('display', 'none');
        setTimeout(()=>{
            $('#faltantes-contenedor').css('display', 'none');
        }, 200);
    });
    $('#agregar-usuario-input').on('input', function (e) {
        showMissMembers();
    });
    function showMissMembers() {
        removeMissMembers();
        var text = $('#agregar-usuario-input').val();
        const contenedor = $('#faltantes-contenedor');
        let validMembersCount = 0;
        for (let i = 0; i < miembrosFaltantes.length; i++){
            if (isValidMember(text, miembrosFaltantes[i])) {
                var html =
                    `<div class="faltante-item flex-row" onclick="selectMemberToAdd('` + miembrosFaltantes[i].username + `')">
                        <img class="faltante-icono" style="border-radius:50%" src="` + miembrosFaltantes[i].imgSrc + `">
                        <div class="flex-column">
                            <p>` + miembrosFaltantes[i].nombre + ` ` + miembrosFaltantes[i].apellido + `</p>
                            <p>` + miembrosFaltantes[i].username + `</p>
                        </div>
                    </div>`;
                $(contenedor).append($(html));
                validMembersCount += 1;
            }
        }
        if (canDisplayMoreUsers() && validMembersCount === 0){
            $('#faltantes-contenedor-vacio').css('display', 'flex');
        }
        else{
            $('#faltantes-contenedor-vacio').css('display', 'none');
        }
    }
    function removeMissMembers() {
        $('#faltantes-contenedor').empty();
    }
    function isValidMember(text, miembro) {
        return (miembro.username.includes(text) || stringIsNullOrWhitespace(text)) && !selectedMembersToAdd.includes(miembro);
    }
    function updateMembersToAdd() {
        const top_contenedor = $('#selected-members-to-add-container');
        $(top_contenedor).empty();
        $('#agregar-usuario-input').val('');
        updateBtnAddMembers();
        if (selectedMembersToAdd.length > 0) {
            var mid_contenedor = $('<div style="margin-right:5px" class="flex-row"></div>');
            for (let i = 0; i < selectedMembersToAdd.length; i++) {
                var html =
                    `
                <div class="flex-row selected-members-to-add">
                    <p>` + selectedMembersToAdd[i].username + `</p>
                    <i onclick="unselectMemberToAdd('` + selectedMembersToAdd[i].username + `')" class="fas fa-times"></i>
                </div>
                `;
                $(mid_contenedor).append($(html));
            }
            $(top_contenedor).append($(mid_contenedor));
        }
        var addUserInput = $('#agregar-usuario-input');
        if (!canDisplayMoreUsers()){
            $(addUserInput).css('display', 'none');
            /*$(addUserInput).attr('readonly', true);
            $(addUserInput).css('opacity', 0);
            $(addUserInput).css('width', 0);*/
        }
        else{
            $(addUserInput).css('display', 'flex');
            /*$(addUserInput).attr('readonly', false);
            $(addUserInput).css('opacity', 1);
            $(addUserInput).css('width', 'auto');*/
        }
    }
    function selectMemberToAdd(username){
        for (let i = 0; i < miembrosFaltantes.length; i++){
            if (miembrosFaltantes[i].username === username){
                selectedMembersToAdd.push(miembrosFaltantes[i]);
                break;
            }
        }
        updateMembersToAdd();
    }
    function unselectMemberToAdd(username) {
        for (let i = 0; i < selectedMembersToAdd.length; i++){
            if (selectedMembersToAdd[i].username === username){
                selectedMembersToAdd.splice(i, 1);
                break;
            }
        }
        updateMembersToAdd();
    }
    function canDisplayMoreUsers() {
        return (canSelectOnlyOneUser && selectedMembersToAdd.length === 0) || !canSelectOnlyOneUser;
    }



    /* AGREGAR */

    var newMemberNameSetted = false;
    function addSelectedUsers() {
        var selectedUsers = [];
        for (let i = 0; i < selectedMembersToAdd.length; i++)
            selectedUsers.push(selectedMembersToAdd[i].username);
        sendSelectedUsers(selectedUsers);
        //
        // PARA IMPLEMENTAR
        //
        // Cree una función 'sendSelectedUsers' en un script de su archivo html de origen (el que incluye este html)
        // que reciba como parámetro 'selectedUsers' y envíe los datos necesarios a través de un sendRequest.
        //
        // EJEMPLO
        /*
        function sendSelectedUsers(selectedUsers) {
            sendRequest(
                '/proyecto/miembro/agregar/',
                {
                    'usuarios': selectedUsers,
                    'proyecto': proyecto.id,
                    'href': window.location.href
                }
            );
        }
        */
    }
    function updateBtnAddMembers() {
        const button = $('#btn-agregar_miembro_a_proyecto');
        const is_valid = selectedMembersToAdd.length > 0;
        if (is_valid && !newMemberNameSetted) {
            $(button).removeClass('btn-squere-gray');
            $(button).addClass('btn-squere-green');
            newMemberNameSetted = true;
        } else if (!is_valid && newMemberNameSetted) {
            $(button).addClass('btn-squere-gray');
            $(button).removeClass('btn-squere-green');
            newMemberNameSetted = false;
        }
    }
</script>