<style>
    .pendiente,
    .es-admin,
    .esta-inactivo {
        font-size: 16px;
        padding-left: 7px;
    }

    .esta-inactivo {
        color: black;
    }
    .pendiente {
        color: #a41515aa;
    }
    .pendiente:hover {
        color: #cc1111;
    }
    .es-admin {
        color: #5E569499;
    }
    .es-admin:hover {
        color: #5E5694;
    }
    .element-right-side {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
    }
    .opcion-usuario {
        margin: 0 10px;
        color: #888;
        cursor: pointer;
    }
    .desactivar-usuario:hover {
        color: #a40000;
    }
    .activar-usuario:hover {
        color: #003366;
    }
    .aprobar-registro-usuario:hover {
        color: fuchsia;
    }
    .no-desactivable:hover:before {
        content: "No se puede desactivar porque está activo en algún proyecto.";
        color: #877;
        font-size: 14px;
    }
</style>
<div class="flex-column flex-justify-arround" style="margin-left:15px">
    <div class="flex-row">
        <div class="lista-item-titulo flex-row"
                {% if user|tiene_permiso_sistema:'ver_todos_los_perfiles' or usuario.username == user.username %}
             onclick="window.location.href = '/usuario/{{ usuario.username }}/'">{% endif %}
        <p>{{ usuario.first_name }} {{ usuario.last_name }}</p>
        <p style="margin:0 5px">/</p>
        <p><strong>{{ usuario.username }}</strong></p>
        </div>
        {% if usuario.is_superuser %}
            <div class="es-admin" data-tooltip="Administrador"><i class="fas fa-lock-open"></i>
            </div>
        {% endif %}
        {% if not usuario.aprobado %}
            <div class="pendiente" data-tooltip="Pendiente de aprobación"><i
                    class="fas fa-user-clock"></i></div>
        {% endif %}
        {% if not usuario.is_active %}
            <div class="esta-inactivo" data-tooltip="Desactivado">
                <i class="fas fa-skull"></i></div>
        {% endif %}
    </div>
    <div class="texto-claro">{{ usuario.email }}</div>
</div>
<div style="margin-right:30px" class="element-right-side">
    {% if not usuario.aprobado and request.user|tiene_permiso_sistema:'aprobar_usuario' %}
        <div id="{{ usuario.username }}" data-tooltip="Aprobar registro"
             onclick="aprobarRegistroDeUsuario(id)"
             class="opcion-usuario aprobar-registro-usuario"><i class="fas fa-user-check"></i>
        </div>
    {% endif %}
    {% if request.user|tiene_permiso_sistema:'deshabilitar_usuario' %}
        {% if usuario.is_active %}
            {% if usuario|activo_en_proyecto %}
                <div id="{{ usuario.username }}" style="color:#ccc"
                     class="opcion-usuario no-desactivable">
                    <i class="fas fa-user-slash"></i>
                </div>
            {% else %}
                <div id="{{ usuario.username }}" data-tooltip="Desctivar"
                     onclick="desactivarUsuario(id)"
                     class="opcion-usuario desactivar-usuario"><i class="fas fa-user-slash"></i>
                </div>
            {% endif %}
        {% else %}
            <div id="{{ usuario.username }}" data-tooltip="Activar" onclick="activarUsuario(id)"
                 class="opcion-usuario activar-usuario"><i class="fas fa-user-plus"></i></div>
        {% endif %}
    {% endif %}
</div>