{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Editar info" %}{% endblock %}

{% block main_container %}
    <style>
        .lado-izq{
            width: 35%;
            padding-right: 20px;
            min-width: 300px;
        }
        .lado-izq-titulo{
            font-family: 'Inria Sans', sans-serif;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .info-bloque{
            padding: 20px 10px;
            margin: 10px 0;
            border-bottom: 1px solid #ddd;
        }
        .campo-elemento{
            margin: 10px;
        }
        .campo-titulo{
            font-size: 14px;
            margin-bottom: 5px;
        }
    </style>
    {% include 'includes/direccionDePagina.html' %}

    <div>
        <!-- Config de cuenta -->
        <div class="flex-row info-bloque">
            <div class="lado-izq">
                <p class="lado-izq-titulo">Contraseña</p>
                <p class="texto-claro">Define una nueva contraseña para tu sesión.</p>
            </div>
            <div class="flex-column">
                <label class="campo-elemento">
                    <div class="campo-titulo"><strong>Contraseña actual</strong></div>
                    <input id="input-password" class="input-text-full" type="text">
                    <p style="margin-top:5px" class="texto-muy-claro texto-peque">
                        Debes ingresar tu contraseña actual para poder cambiarla.</p>
                </label>
                <label class="campo-elemento">
                    <div class="campo-titulo"><strong>Nueva contraseña</strong></div>
                    <input id="input-password" class="input-text-full" type="text">
                </label>
                <label class="campo-elemento">
                    <div class="campo-titulo"><strong>Confirmar la nueva contraseña</strong></div>
                    <input id="input-password" class="input-text-full" type="text">
                </label>
                <div class="flex-row" style="margin-left:10px">
                    <div onclick="saveNewUserPassword()" id="btn-guardar-contra" class="btn-squere-gray">Guardar</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function saveNewUserPassword() {

        }
    </script>

{% endblock %}