{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Editar info" %}{% endblock %}

{% block main_container %}
    <style>
        .lado-izq{
            width: 35%;
            padding-right: 20px;
            min-width: 300px;
        }
        .lado-izq-titulo{
            font-family: 'Inria Sans', sans-serif;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .info-bloque{
            padding: 20px 10px;
            margin: 10px 0;
            border-bottom: 1px solid #ddd;
        }
        .campo-elemento{
            margin: 10px;
        }
        .campo-titulo{
            font-size: 14px;
        }
    </style>
    {% include 'includes/direccionDePagina.html' %}

    <div>
        <!-- Config de cuenta -->
        <div class="flex-row info-bloque">
            <div class="lado-izq">
                <p class="lado-izq-titulo">Cuenta</p>
                <p class="texto-claro">
                    Define el nombre de usuario con el que te identificarás dentro del sistema.
                </p>
                <p class="texto-claro" style="margin-top:10px">
                    Los nombres de usuario no pueden tener espacios en blanco, no deben ser sólo números ni
                    pueden tener símbolos a excepción del guión bajo.
                </p>
            </div>
            <div class="flex-column">
                <div class="flex-row">
                    <label class="campo-elemento">
                        <div class="campo-titulo"><strong>Nombre de usuario</strong></div>
                        <input id="input-username" class="input-text-largo" type="text"
                               value="{{ usuarioMod.username }}" required>
                    </label>
                    <label class="campo-elemento">
                        <div class="campo-titulo"><strong>Usuario ID</strong></div>
                        <input class="input-text-corto" type="text" value="{{ usuarioMod.id }}" readonly>
                    </label>
                </div>
                <div class="flex-row" style="margin-left:10px">
                    <div onclick="saveNewUsename()" id="btn-guardar-username" class="btn-squere-gray">Guardar</div>
                </div>
            </div>
        </div>
        <!-- Config de datos personales -->
        <div class="flex-row info-bloque">
            <div class="lado-izq">
                <p class="lado-izq-titulo">Pesonal</p>
                <p class="texto-claro">Completa tus datos personales para conocerte mejor.</p>
                <p class="texto-claro">Podríamos darte un regalo de cumpleaños si lo haces. ; )</p>
            </div>
            <div class="flex-column">
                <div class="flex-row">
                    <label class="campo-elemento">
                        <div class="campo-titulo"><strong>Nombre</strong></div>
                        <input id="input-nombre" class="input-text" type="text" value="{{ usuarioMod.first_name }}">
                    </label>
                    <label class="campo-elemento">
                        <div class="campo-titulo"><strong>Apellido</strong></div>
                        <input id="input-apellido" class="input-text" type="text" value="{{ usuarioMod.last_name }}">
                    </label>
                </div>
                <label class="campo-elemento">
                    <div class="campo-titulo"><strong>Cédula de identidad N°</strong></div>
                    <input id="input-documento" class="input-text" type="text" value="{{ usuarioMod.cedula }}">
                </label>
                <label class="campo-elemento">
                    <div class="campo-titulo"><strong>Fecha de nacimiento</strong></div>
                    <input id="input-cumple" class="input-text" type="date" value="{{ usuarioMod.fecha_nacimiento|date:"Y-m-d" }}">
                </label>
                <div class="flex-row" style="margin-left:10px">
                    <div onclick="saveNewPersonalData()" id="btn-guardar-personal" class="btn-squere-gray">Guardar</div>
                </div>
            </div>
        </div>
        <div style="margin-right:0;margin-left:auto;width:70px">
            <div onclick="goto('/usuario/{{ usuarioMod.username }}/')" class="btn-squere-white">Volver</div>
        </div>
    </div>

    <script>
        /* MENSAJES DE ERROR */
        $(document).ready(function () {
            const error_message = getUrlParameterValue('error');
            if (error_message != null) {
                $.confirm({
                    title: '<p><strong>Error</strong></p>',
                    typeAnimated: true,
                    columnClass: 'small',
                    boxWidth: '30%',
                    useBootstrap: false,
                    icon: 'fas fa-bomb',
                    content: '<p style="margin-left:20px;color:#444">' + error_message + '</p>',
                    buttons: {
                        formSubmit: {
                            text: 'Ok',
                            btnClass: 'btn-red',
                            action: function () {
                                removeUrlParam('error');
                            }
                        },
                    },
                });
            }
        });

        /* CONFIGURACIÓN DE CUENTA */
        var canSaveNewUsername = false;
        const originalUsername = '{{ usuarioMod.username }}';
        $(document).ready(function () {
            $('#input-username').on('input', function (e) {
                const button = $('#btn-guardar-username');
                const newUsername = $('#input-username').val();
                const valid = newUsername === originalUsername || stringIsNullOrWhitespace(newUsername);
                if (canSaveNewUsername && valid) {
                    $(button).removeClass('btn-squere-green');
                    $(button).addClass('btn-squere-gray');
                    canSaveNewUsername = false;
                }
                else if (!canSaveNewUsername && !valid)  {
                    $(button).removeClass('btn-squere-gray');
                    $(button).addClass('btn-squere-green');
                    canSaveNewUsername = true;
                }
            });
        });
        function saveNewUsename() {
            if (!canSaveNewUsername) return;
            const newUsername = $('#input-username').val();
            sendRequest(
                '/usuario/cambiardatos/cuenta/',
                {
                    'username': newUsername,
                    'usuarioId': {{ usuarioMod.id }},
                    'href': window.location.href
                }
            )
        }
        /* CONFIGURACIÓN DE DATOS PERSONALES */
        var canSavePersonalData = false;
        const originalFirstName = '{{ usuarioMod.first_name }}';
        const originalLastName = '{{ usuarioMod.last_name }}';
        const originalDocument = '{{ usuarioMod.documento }}';
        const originalBirtday = '{{ usuarioMod.fecha_nacimiento }}';
        $(document).ready(function () {
            $('#input-nombre').on('input', function (e) { updateSavePersonalDataButton(); });
            $('#input-apellido').on('input', function (e) { updateSavePersonalDataButton(); });
            $('#input-documento').on('input', function (e) { updateSavePersonalDataButton(); });
            $('#input-cumple').on('input', function (e) { updateSavePersonalDataButton(); });
        });
        function updateSavePersonalDataButton() {
            const isValid = isValidToSavePersonalData();
            const button = $('#btn-guardar-personal');
            if (canSavePersonalData && !isValid) {
                $(button).removeClass('btn-squere-green');
                $(button).addClass('btn-squere-gray');
                canSavePersonalData = false;
            } else if(!canSavePersonalData && isValid) {
                $(button).removeClass('btn-squere-gray');
                $(button).addClass('btn-squere-green');
                canSavePersonalData = true;
            }
        }
        function isValidToSavePersonalData() {
            const newName = $('#input-nombre').val();
            const newLastName = $('#input-apellido').val();
            const newDocument = $('#input-documento').val();
            const newBirthday = $('#input-cumple').val();
            return (newName !== originalFirstName||
                newLastName !== originalLastName ||
                newDocument !== originalDocument ||
                (newBirthday !== originalBirtday && !stringIsNullOrWhitespace(newBirthday)));
        }
        function saveNewPersonalData() {
            if (!canSavePersonalData) return;
            const newName = $('#input-nombre').val();
            const newLastName = $('#input-apellido').val();
            const newDocument = $('#input-documento').val();
            const newBirthday = $('#input-cumple').val();
            sendRequest(
                '/usuario/cambiardatos/perfil/',
                {
                    'nombre': newName,
                    'apellido': newLastName,
                    'documento': newDocument,
                    'cumple': newBirthday,
                    'usuarioId': {{ usuarioMod.id }},
                    'href': window.location.href
                }
            )
        }
    </script>
{% endblock %}