{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Editar info" %}{% endblock %}
{% block systemBase_extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main_container %}
    <style>
        .roles-titulo{
            font-family: 'Inria Sans', sans-serif;
            font-size:24px;
            font-weight:bold;
            margin-top: 30px;
        }
    </style>
    {% include 'includes/direccionDePagina.html' %}

    <div class="roles-titulo">Roles del usuario en el sistema</div>
    {% if modificable %}
        <!-- Agregar nuevo rol -->
        <p class="bordered-group-header-top texto-claro" style="max-width:70%">
            Puedes agregar nuevos roles al usuario seleccionandolo en el apartado desplegable de abajo.
            Una vez que hayas asignado el nuevo rol haciendo click en <strong>Agregar</strong>,
            lo encontrarás siempre yendo a la pesataña <strong>Todos los roles</strong>
            en la lista de roles asignados al usuario.</p>
        </p>
        <!--
        Puedes agregar nuevos roles al proyecto definiendo primero su nombre y
        luego sus permisos. Una vez que hayas creado el nuevo rol, lo contrarás yendo a la pesataña
        <strong>Todos los roles</strong> en la lista de roles exsitentes del proyecto.</p>
        -->
        <div class="bordered-group-container">
            <div class="bordered-group-title flex-row flex-align-items-center">
                <p><strong>Agregar nuevo rol al usuario</strong></p>
            </div>
            <div class="bordered-group-list-content">
                <label class="flex-column">
                    <div class="flex-row">
                        <p class="input-titulo">
                            <strong>Selecciona un rol, agrega y repite</strong>
                        </p>
                    </div>
                    <select id="seleccionar-rol-input" class="text-input-full">
                        <option value=""></option>
                        {% for rol_faltante in rolesFaltantes %}
                            <option value="{{ rol_faltante.id }}">{{ rol_faltante.nombre }}</option>
                        {% endfor %}
                    </select>
                    <div class="flex-row">
                        <div id="btn-agregar_rol_a_usuario" style="margin:10px 0 0 5px"
                             onclick="agregar_rol_a_usuario({{ proyecto.id }})"
                             class="btn-squere-gray">Agregar
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <!-- Lista de roles -->
        <div class="bordered-group-header-top">
            <p><strong>Roles asignados al usuario</strong></p>
            <p class="texto-claro" style="max-width:70%;margin-top:5px">
                Visualiza y gestiona los roles del usuario sobre el sistema.
                <!--Si quieres asignar uno o más roles a los usuarios del sistema, ve al <strong>perfíl</strong>
                configuración del usuario a travsé de su perfíl y selecciona la opción de <strong>Roles</strong>
                que verás al costado izquierdo en la barra vertical. Una vez allí, selecciona un rol en el
                apartado <strong>Agregar nuevo rol al usuario</strong> y haz click en <strong>Agregar</strong>.-->
            </p>
        </div>
    {% else %}
        <div style="margin:13px"></div>
    {% endif %}
    <div class="bordered-group-container">
        <div class="bordered-group-title flex-row flex-align-items-center">
            <p>Roles de <strong>{{ usuarioMod.username }}</strong></p>
        </div>
        <div class="bordered-group-list-content">
            {% include 'roles/listaRolesToInclude.html' %}
        </div>
    </div>
    <!-- Hacer administrador -->
    {% if not usuarioMod.is_superuser and user.is_superuser %}
        <div class="bordered-group-header-top">Puedes hacer que este usuario sea un administrador del sistema</div>
        <div class="bordered-group-container">
            <div class="bordered-group-title flex-row flex-align-items-center">
                <p><strong>Hacer administrador</strong></p>
            </div>
            <div class="bordered-group-list-content">
                <label class="flex-column">
                    <div class="flex-column">
                        <p style="color:#DB413B;font-size:22px;margin:15px 0 10px 0"><strong>Advertencia</strong></p>
                        <p style="margin-bottom:15px">Convertir a un usuario en administrador es una acción
                            irreversible que tendrá efecto inmediato sobre el sistema una vez que se confirme.</p>
                    </div>
                    <div class="flex-row">
                        <div id="btn-agregar_rol_a_usuario"
                             onclick="doAdmin()"
                             class="btn-squere-green">Continuar
                        </div>
                    </div>
                </label>
            </div>
        </div>
    {% endif %}
    <!-- Volver -->
    <div style="margin:20px 0 30px auto;width:70px">
        <div onclick="goto('/usuario/{{ usuarioMod.username }}/')" class="btn-squere-white">Volver</div>
    </div>

    <script>
        var newRoleNameSetted = false;
        $(document).ready(function () {
            $("#seleccionar-rol-input").change(function () {
                const value = $('#seleccionar-rol-input').val();
                const isVald = !stringIsNullOrWhitespace(value);
                const button = $('#btn-agregar_rol_a_usuario');
                if (!newRoleNameSetted && isVald){
                    $(button).removeClass('btn-squere-gray');
                    $(button).addClass('btn-squere-green');
                    newRoleNameSetted = true;
                }
                else if (newRoleNameSetted && !isVald){
                    $(button).addClass('btn-squere-gray');
                    $(button).removeClass('btn-squere-green');
                    newRoleNameSetted = false;
                }
            });
        });
        function agregar_rol_a_usuario() {
            if (!newRoleNameSetted) return;
            const rolId = $('#seleccionar-rol-input').val();
            sendRequest(
                '/usuario/rol/agregar/',
                {
                    'usuarioId': {{ usuarioMod.id }},
                    'rolId': rolId,
                    'href': window.location.href
                }
            );
        }
        function doAdmin() {
            $.confirm({
            title: "Confirmar creación de administrador",
            type: 'green',
            typeAnimated: true,
            columnClass: 'small',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-unlock-alt',
            content: '<p>¿Está seguro de que quiere convertir a este usuario en un administrador del sistema?</p>' +
                '<br><strong>Advertencia: </strong><br><br>' +
                '<p>Convertir a un usuario en administrador es una acción irreversible que tendrá efecto inmediato ' +
                'sobre el sistema una vez que se confirme.</p>',
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-green',
                    action: function () {
                        sendRequest(
                            '/usuario/agregar/admin/',
                            {
                                'usuario': {{ usuarioMod.id }},
                                'href': window.location.href
                            }
                        )
                    }
                },
                cancelar: function () {
                    //close
                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });
        }
    </script>

{% endblock %}