<style>
    .proy-para-imp-contenedor{
        padding: 10px;
        border-bottom:1px solid #ccc;
        cursor:pointer;
    }
    .proy-para-imp-contenedor:hover{
        background-color:#f0f0f0;
    }
    .tdis-proyecto-seleccionado{
        background-color: #f2f2f2;
        padding:5px 10px 5px 33px;
        cursor:pointer;
        position: relative;
    }
    .tdis-proyecto-seleccionado:hover{
        background-color:#eee;
        font-weight: bold;
    }
    .tdis-proyecto-seleccionado:hover:before{
        content: 'Importar';
        position: absolute;
        top:50%;
        left: 100%;
        transform: translate(calc(-100% - 5px), -50%);
        background-color:#00A000;
        color:white;
        padding:2px 5px;
        border-radius:3px;
    }
</style>

<!--    MODAL PARA SELECCIONAR PROYECTO PARA IMPORTAR TIPO DE ÍTEM     -->

{% if importarTdi and modificable %}
    <div class="modal-container">
        <div class="modal-content" style="width: 550px;">
            <div class="modal-content-title">
                <i class="fas fa-tasks"></i>
                <p>Importar tipo de ítem</p>
            </div>
            <p style="margin-bottom:10px">Los tipos de ítems cuyo nombre ya exista en el proyecto actual no podrán ser importados.</p>
            <p style="margin-bottom:5px"><strong>Proyectos</strong></p>
            {% for proyParaImp in proyectosParaImportarTdi %}
                {% if proyParaImp.id != proyecto.id %}
                    <div class="proy-para-imp-contenedor flex-row flex-align-items-center"
                         {% if proyectoParaImportarTdiSeleccionado.id == proyParaImp.id %}style="background-color:#f2f2f2"{% endif %}
                         onclick="addUrlParam('importarTdi', {{ proyParaImp.id }})">
                        {% if proyectoParaImportarTdiSeleccionado.id == proyParaImp.id %}
                            <i style="font-size:14px;margin-right:10px" class="texto-claro fas fa-chevron-down"></i>
                            <p class="texto-bold">{{ proyParaImp.nombre }}</p>
                        {% else %}
                            <i style="font-size:14px;margin-right:10px" class="texto-claro fas fa-chevron-right"></i>
                            <p>{{ proyParaImp.nombre }}</p>
                        {% endif %}
                        <p style="margin:0 5px">/</p>
                        <p class="texto-claro">{{ proyParaImp|cantidad_de_tdis_de_proyecto }} tipos de ítem</p>
                    </div>
                    {% if proyectoParaImportarTdiSeleccionado.id == proyParaImp.id %}
                        {% for tdiDeSel in tdisDeProyectoSeleccionado %}
                            <div class="tdis-proyecto-seleccionado flex-row"
                                onclick="importTdiToProject({{ proyecto.id }}, {{ tdiDeSel.id }})">
                                <p>{{ tdiDeSel.nombre }}</p>
                                <p style="margin:0 5px">:</p>
                                <p class="texto-claro">{{ tdiDeSel|atributos_de_tdi|length }} atributos</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div onclick="removeUrlParam('importarTdi')" class="modal-close-button"><i class="fas fa-times"></i></div>
        </div>
    </div>
{% endif %}

<!--    MODAL PARA IMPORTAR TIPO DE ÍTEM DE PROYECTO     -->

{% if False and proyectoParaImportarTdi is not None %}
    <div class="modal-container">
        <div class="modal-content" style="min-width:450px">
            <div class="modal-header">
                <div class="tdi-config flex-row">
                    <i style="margin-right:10px;" class="fas fa-file-import"></i>
                    <p>Importar tipo de ítem</p>
                </div>
                <div class="tdi-id"><strong>desde el proyecto:</strong> {{ proyectoParaImportarTdi.nombre }}</div>
                <div class="lista-atributos-titulo">
                    <div style="display:flex;">
                        <strong>Seleccione el tipo de ítem</strong>
                        <p class="lista-atributos-contador">{{ tdisDeProyectoImp|length }}</p>
                    </div>
                </div>
            </div>
            <div class="elements-list-container">
                {% for tdiImp in tdisDeProyectoImp %}
                    <div class="list-item-elem">
                        <div onclick="importTdiToProject({{ proyecto.id }}, {{ tdiImp.id }})"
                             data-tooltip-right="Importar"><i
                                style="margin-right:15px;cursor:pointer;color:#3875d7"
                                class="fas fa-file-import"></i></div>
                        <div onclick="addUrlParam('verTdiAttImp', {{ tdiImp.id }})"
                             data-tooltip-right="Ver atributos"><i
                                style="margin-right:15px;cursor:pointer;color:#444"
                                class="fas fa-list"></i></div>
                        <div onclick="addUrlParam('verTdiAttImp', {{ tdiImp.id }})" class="selectable-text">
                            {{ tdiImp.nombre }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <div onclick="removeUrlParam('tdisDeProyecto')" class="att-menu-opt cirular-close-tdi-info">
                    <i class="fas fa-times"></i></div>
            </div>
        </div>
    </div>
{% endif %}

<script>
    $(document).ready(function() {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('estadoImportacion')){
        const state = urlParams.get('estadoImportacion');
        if (state === 'correcto') {
            $.confirm({
                title: "Tipo de ítem importado correctamente",
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-check-circle',
                content: '',
                buttons: {
                    formSubmit: {
                        text: 'Ok',
                        action: function () {
                            removeUrlParam('estadoImportacion')
                        }
                    }
                }
            });
        }
        else if (state === 'error') {
            $.confirm({
                title: "Ocurrió un error durante la importación",
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-exclamation-triangle',
                content: 'Es probable que un tipo de ítem con el mismo nombre ya exista en el proyecto donde desea ' +
                'importarlo. Verifique que esto no ocurra y vuelva a intentarlo.',
                buttons: {
                    formSubmit: {
                        text: 'Ok',
                        action: function () {
                            removeUrlParam('estadoImportacion')
                        }
                    }
                }
            });
        }
    }
});
    function importTdiToProject(proyectoId, tdiId) {
        sendRequest(
            '/proyecto/tdi/importar/',
            {
                'proyecto': proyectoId,
                'tdi': tdiId,
                'href': removeUrlParam('importarTdi', false)
            }
        )
    }
</script>