{% load static %}

<style>
    .fase-item {
        margin: 10px 7px;
    }
    .atrib-nota{
        margin:0 6px 5px 0;
        padding:3px 5px;
        color: #555;
        white-space: nowrap;
        display: flex;
        align-items: center;

    }
    .atrib-name{
        cursor: pointer;
    }
    .atrib-name:hover{
        text-decoration-line: underline;
    }

    .tdi-icono {
        width: 40px;
        max-width: 40px;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tdi-icono i {
        font-size: 35px;
    }

    .tdi-item-nombre {
        cursor: pointer;
    }

    .tdi-item-nombre:hover {
        text-decoration-line: underline;
        color: #111;
    }

    .atribs-container{
        max-width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin-top:5px;
    }
    .remover-atrib{
        margin:0 0 0 4px;
        color:#bbb;
        cursor: pointer;
        font-size: 13px;
    }
    .remover-atrib:hover{
        color:#C03728;
    }
</style>
<div class="pos-realtive">

    <!-- Cabecera -->

    <div class="flex-row flex-justify-between header-row flex-align-items-center">
        <div class="flex-row">
            <!-- Mostrar todos o solo aquellos con atributos ya asignados -->
            <div onclick="removeUrlParamList(['todos', 'buscarTdi'])" class="flex-row flex-align-items-center
                    {% if request.GET.todos == 'True' %}list-option-btn{% else %}selected-list-option-btn{% endif %}">
                <p>Con atributos</p>
                <p class="elemento-nota">{{ cantidad_tdi_con_atibutos }}</p>
            </div>
            <div onclick="addUrlParam('todos', 'True', ['buscarTdi'])" class="flex-row flex-align-items-center
                    {% if request.GET.todos == 'True' %}selected-list-option-btn{% else %}list-option-btn{% endif %}">
                <p>Todos</p>
                <p class="elemento-nota">{{ cantidad_tdi_totales }}</p>
            </div>
        </div>
        <div class="flex-row flex-align-items-center" style="height:40px">
            <input id="input-buscar-tdi" style="width:230px;margin-right:6px;"
                   class="input-text" type="text" placeholder="Buscar tipo de ítem">
            <div onclick="showTdiFloatMenu()" class="input-text flex-row flex-justify-between flex-align-items-center"
                 style="width:180px;color:#555;cursor:pointer">
                <div id="filtro-titulo">Seleccionar orden y filtro</div>
                <i style="margin:0" class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>

    <!-- Resultados de la busqueda -->

    {% if request.GET.buscarTdi is not None %}
        <div style="padding:10px;border-bottom:1px solid #ccc" class="flex-justify-center">
            <p class="texto-claro">Resultados de buscar <strong>{{ request.GET.buscarTdi }}</strong></p>
        </div>
    {% endif %}

    <!-- Lista de ítems -->

    <div style="margin-top: 10px">
        {% for tdi in tdis %}
            {% if not request.GET.buscarTdi or request.GET.buscarTdi|lower in tdi.nombre|lower %}
                <div class="item-lista flex-row flex-align-items-center">
                    <div class="flex-row flex-align-items-center" style="width:100%;">
                        <div class="flex-column">
                            <div class="flex-row" style="font-size:15px;color:#333">
                                <p class="tdi-item-nombre texto-bold">{{ tdi.nombre }}</p>
                                <p style="margin:0 5px">/</p>
                                <p>{{ tdi|atributos_de_tdi|length }} atributos</p>
                                {% if tdi.fase is not None %}
                                    <p style="margin:0 5px">/</p>
                                    <p>Asignado a la fase
                                        <span style="text-decoration-line:underline">{{ tdi.fase.nombre }}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="flex-row atribs-container">
                                {% for atrib in tdi|atributos_de_tdi %}
                                    <div class="flex-row">
                                        <div class="elemento-nota-claro atrib-nota">
                                            <p class="atrib-name" style="color:black">{{ atrib.titulo }}</p>
                                            <p>: {{ atrib.tipo|tipo_descripcion }}</p>
                                            {% if user.id == proyecto.gerente.id and modificable %}
                                                <i onclick="deleteTdiAttribute({{ atrib.id }})"
                                                   class="fas fa-times remover-atrib"></i>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if modificable %}
                        <div class="flex-row flex-align-items-center">
                            <div class="btn-squere-white flex-align-items-center" style="margin-right:5px"
                                onclick="addUrlParam('agregar_atributo', {{ tdi.id }})">
                                <i class="fas fa-plus" style="margin-right:5px"></i>
                                <p>Agregar atributo</p>
                            </div>
                            {% if proyecto.estado == 'pe' %}
                                <div onclick="deleteTdi({{ tdi.id }})" class="btn-squere-red">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!--    MODAL PARA FILTRAR Y ORDENAR USUARIOS     -->

    <div id="menu-flotante-ord-flit-back-container-tdi" style="display: none;">
        <div onclick="hideTdiFloatMenu()" class="manu-flotante-ord-flit-back"></div>
        <div class="menu-flotante-ord-filt" style="top:50px;">
            <div><strong>Ordenar por</strong></div>
            <!-- Nombre de tdi -->
            {% if request.GET.ordenarPor == 'nombre' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Nombre</p>
                <script>$('#filtro-titulo').html('Nombre')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'nombre')">Nombre</p>
            {% endif %}
            <!-- Ultimo agregada a proyecto -->
            {% if request.GET.ordenarPor == 'ultimoAgregado' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Último agregado</p>
                <script>$('#filtro-titulo').html('Último registrado')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'ultimoAgregado')">Último agregado</p>
            {% endif %}
            <!-- Primero agregado a proyecto -->
            {% if request.GET.ordenarPor == 'primeroAgregado' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Primero agregado (más antiguo)</p>
                <script>$('#filtro-titulo').html('Primero agregado')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'primeroAgregado')">Primero agregado (más antiguo)</p>
            {% endif %}

            <!--#################    FILTROS     ################-->

            <div class="border-top-claro"><strong>Filtrar</strong></div>
            {% if request.GET.filtro == 'conFaseAsignada' %}
                <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Con fase asignada</p>
            {% else %}
                <p onclick="addUrlParam('filtro', 'conFaseAsignada')">Con fase asignada</p>
            {% endif %}
            <!-- Tdis sin asignar -->
            {% if request.GET.filtro == 'sinFaseAsignada' %}
                <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Sin fase asignada</p>
            {% else %}
                <p onclick="addUrlParam('filtro', 'sinFaseAsignada')">Sin fase asignada</p>
            {% endif %}
            <!-- Tdis asignados -->
            {% if request.GET.filtro == 'sinAtributos' %}
                <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Sin atributos</p>
            {% else %}
                <p onclick="addUrlParam('filtro', 'sinAtributos')">Sin atributos</p>
            {% endif %}
        </div>
    </div>
</div>

{% include 'proyecto/agregarAtributoDeTdiToInclude.html' %}

<script>
    $('#input-buscar-tdi').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode === 13) {
            addUrlParam('buscarTdi', $(this).val());
        }
    });


    function deleteTdiAttribute(atrib) {
        $.confirm({
            title: "Remover atributo de tipo de ítem",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: '<p>¿Está seguro de que desea eliminar este atributo del tipo de ítem? ' +
                'Confirmar la operación tendrá un efecto inmediato e irreversible.</p>',
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-red',
                    action: function () {
                        sendRequest(
                            '/proyecto/tdi/atributo/remover/',
                            {
                                'atributo': atrib,
                                'href': window.location.href
                            }
                        )
                    }
                },
                cancelar: function () { },
            }
        });
    }

    function deleteTdi(tdi) {
        $.confirm({
            title: "Remover tipo de ítem",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: '<p>¿Está seguro de que desea eliminar este tipo de ítem del proyecto? ' +
                'Confirmar la operación tendrá un efecto inmediato e irreversible.</p>',
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-red',
                    action: function () {
                        sendRequest(
                            '/proyecto/tdi/remover/',
                            {
                                'tdi': tdi,
                                'href': window.location.href
                            }
                        )
                    }
                },
                cancelar: function () { },
            }
        });
    }

    function showTdiFloatMenu() {
        $('#menu-flotante-ord-flit-back-container-tdi').css('display', 'block');
    }

    function hideTdiFloatMenu() {
        $('#menu-flotante-ord-flit-back-container-tdi').css('display', 'none');
    }
</script>