{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Proyecto info" %}{% endblock %}

{% block main_container %}
    {% include 'includes/direccionDePagina.html' %}

    <div class="proyecto-config-main-continer">
        <div style="font-size:24px;font-weight:bold">Tipos de ítem del proyecto</div>
        {% if modificable %}
            <div class="bordered-group-header-top">Puedes agregar nuevos tipos de ítems al proyecto o importarlos desde
                otro.
            </div>
            <div class="bordered-group-container">
                <div class="bordered-group-title flex-row flex-align-items-center">
                    <p><strong>Agregar tipo de ítem</strong></p>
                </div>
                <div class="bordered-group-list-content">
                    <div class="flex-column">
                        <div class="flex-row">
                            <label for="agregar-tdi-input" class="input-titulo">
                                <strong>Nombre del tipo de ítem</strong>
                            </label>
                        </div>
                        <input id="agregar-tdi-input" type="text" class="input-text-auto bordes-claros">
                        <div class="flex-row" style="margin-top:10px">
                            <div id="btn-agregar_tdi_a_proyecto"
                                 onclick="agregar_tdi_a_proyecto({{ proyecto.id }})"
                                 class="btn-squere-gray">Agregar
                            </div>
                            <div style="margin-left:10px"
                                 onclick="addUrlParam('importarTdi', '-1')"
                                 class="btn-squere-blue">Importar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bordered-group-header-top">
                <strong>Tipos de ítems existentes del proyecto</strong>
            </div>
        {% else %}
            <div style="margin:13px"></div>
        {% endif %}
        <div class="bordered-group-container">
            <div class="bordered-group-title flex-row flex-align-items-center">
                <p>Tipos de ítem de <strong>{{ proyecto.nombre }}</strong></p>
            </div>
            <div class="bordered-group-list-content">
                {% include 'tdis/listaTdisToInclude.html' %}
            </div>
        </div>
    </div>

    {% include 'tdis/importarTdiToInclude.html' %}

    <script>
        var newTdiNameSetted = false;

        function agregar_tdi_a_proyecto() {
            if (!newTdiNameSetted) return;
            const tdiNombre = $('#agregar-tdi-input').val();
            sendRequest(
                '/proyecto/tdi/agregar/',
                {
                    'tdi': tdiNombre,
                    'proyecto': {{ proyecto.id }},
                    'href': window.location.href
                }
            );
        }
        function removeTdiFromProject(){

        }

        $(document).ready(function () {
            const button = $('#btn-agregar_tdi_a_proyecto');
            $('#agregar-tdi-input').on('input', function (e) {
                const texto = $('#agregar-tdi-input').val();
                const is_valid = !stringIsNullOrWhitespace(texto);
                if (is_valid && !newTdiNameSetted) {
                    $(button).removeClass('btn-squere-gray');
                    $(button).addClass('btn-squere-green');
                    newTdiNameSetted = true;
                } else if (!is_valid && newTdiNameSetted) {
                    $(button).addClass('btn-squere-gray');
                    $(button).removeClass('btn-squere-green');
                    newTdiNameSetted = false;
                }
            });
        });
    </script>
{% endblock %}