<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% include 'snippets/cdn.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
  {% block body %}
  {% endblock %}
  {% block extra_body %}
  {% endblock %}
  <script>const csrfToken = $('{% csrf_token %}').val();</script>
  <script src="{% static 'scripts/sendRequest.js' %}"></script>
  <script src="{% static 'scripts/utils.js' %}"></script>
  </body>
</html>
