{% extends 'systemBase.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Menú principal" %}{% endblock %}
{% block systemBase_extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/menuProyecto.css' %}">
{% endblock %}

{% block main_container %}
    <form id="form-sender" method="POST">
        {% csrf_token %}
        <input id="projectName" type="hidden" name="projectName">
        <input id="projectDesc" type="hidden" name="projectDesc">
        <input id="href" type="hidden" name="href">
    </form>

    <div style="height:100%;position:relative;">
        <div class="flex-row flex-justify-between header-row page-title-top-space" style="border:0">
            <div style="font-family:'Inria Sans';font-size:24px;font-weight:bold">Proyectos</div>
            {% if user.is_superuser %}
                <div onclick="crearProyecto()" style="margin-right:5px" class="btn-squere-green">Nuevo proyecto</div>
            {% endif %}
        </div>
        {% if request.GET.buscar is not None %}
            <div style="position:absolute;transform:translate(2px, -22px)">
                <p class="texto-claro">Resultados de la busqueda: <strong>{{ request.GET.buscar }}</strong></p>
            </div>
        {% endif %}
        <div class="flex-row flex-justify-between header-row flex-align-items-center">
            <div class="flex-row">
                <div onclick="removeUrlParamList(['todos', 'buscar'])" class="flex-row flex-align-items-center
                        {% if request.GET.todos == 'True' %}list-option-btn{% else %}selected-list-option-btn{% endif %}">
                    <p>Tus proyectos</p>
                    <p class="elemento-nota">{{ cantidadProyectosPersonales }}</p>
                </div>
                {% if user|tiene_permiso_sistema:"ver_lista_proyectos" %}
                    <div onclick="addUrlParam('todos', 'True', ['buscar'])"
                         class="{% if request.GET.todos == 'True' %}selected-list-option-btn{% else %}list-option-btn{% endif %}">
                        <p>Todos los proyectos</p>
                    </div>
                {% endif %}
            </div>
            <div class="flex-row flex-align-items-center" style="height:40px">
                <input id="input-buscar-proyecto" style="width:230px;margin-right:6px;"
                       class="input-text" type="text" placeholder="Buscar proyecto">
                <div onclick="showFloatMenu()" class="input-text flex-row flex-justify-between flex-align-items-center"
                     style="width:180px;color:#555;cursor:pointer">
                    <div id="filtro-titulo">Seleccionar orden y filtro</div>
                    <div><i class="fas fa-chevron-down"></i></div>
                </div>
            </div>
        </div>
        {% if user|tiene_permiso_sistema:'ver_proyectos_propios' %}
        {% if request.GET.todos != 'True' %}
            <div class="flex-row header-row">
                <div onclick="removeUrlParamList(['soyGerente', 'buscar'])" class="flex-row flex-align-items-center
                        {% if request.GET.soyGerente == 'True' %}list-option-btn{% else %}selected-list-option-btn{% endif %}">
                    <p>Todos</p>
                    <p class="elemento-nota">{{ cantidadProyectosPersonales }}</p>
                </div>
                <div onclick="addUrlParam('soyGerente', 'True', ['buscar'])" class="flex-row flex-align-items-center
                        {% if request.GET.soyGerente == 'True' %}selected-list-option-btn{% else %}list-option-btn{% endif %}">
                    <p>Soy gerente</p>
                    <p class="elemento-nota">{{ cantidadProyectosSoyGerente }}</p>
                </div>
            </div>
        {% endif %}
        <div>
            {% for proyecto in proyectos %}
                {% if not request.GET.buscar or request.GET.buscar == proyecto.id|stringformat:"i" or request.GET.buscar|lower in proyecto.nombre|lower %}
                    <div class="item-lista flex-row flex-align-items-center" style="max-width:100%;overflow: hidden">
                        <div class="proyecto-icono" style="background-color:{{ proyecto.color_icono }}">
                            {{ proyecto.nombre|primera_letra|title }}</div>
                        <div style="margin-left:15px">
                            <div class="flex-row flex-align-items-center">
                                <p onclick="goto('/proyecto/{{ proyecto.id }}/')"
                                   class="lista-item-titulo">{{ proyecto.nombre }}</p>
                                <p style="margin:0 5px">/</p>
                                <strong>{{ proyecto.estado|descripcion_estado }}</strong>
                                {% if proyecto.gerente.id == user.id and not soloSoyGerente %}
                                    <p style="margin:0 5px">/</p>
                                    <div class="flex-row texto-claro">
                                        <i style="margin-right:6px" class="fas fa-user-tie"></i>
                                        <p>Eres gerente</p>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="texto-claro" style="white-space: nowrap;">
                                {{ proyecto.descripcion }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
            <div style="padding:10px">No tienes el permiso para ver los proyectos donde participas.</div>
        {% endif %}
        <!--    MODAL PARA FILTRAR Y ORDENAR PROYECTOS     -->

        <div id="menu-flotante-ord-flit-back-container" style="display: none;">
            <div onclick="hideFloatMenu()" class="manu-flotante-ord-flit-back"></div>
            <div class="menu-flotante-ord-filt">
                <div><strong>Ordenar por</strong></div>
            <!-- Ultimo creado -->
                {% if request.GET.ordenarPor == 'ultimoCreado' %}
                    <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Último creado</p>
                    <script>$('#filtro-titulo').html('Último creado')</script>
                {% else %}
                    <p onclick="addUrlParam('ordenarPor', 'ultimoCreado')">Último creado</p>
                {% endif %}
            <!-- Ultimo modificado -->
                {% if request.GET.ordenarPor == 'ultimaModificacion' %}
                    <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Última modificación</p>
                    <script>$('#filtro-titulo').html('Última modificación')</script>
                {% else %}
                    <p onclick="addUrlParam('ordenarPor', 'ultimaModificacion')">Última modificación</p>
                {% endif %}
            <!-- Nombre -->
                {% if request.GET.ordenarPor == 'nombre' %}
                    <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Nombre</p>
                    <script>$('#filtro-titulo').html('Nombre')</script>
                {% else %}
                    <p onclick="addUrlParam('ordenarPor', 'nombre')">Nombre</p>
                {% endif %}
            <!-- Primero creado -->
                {% if request.GET.ordenarPor == 'primeroCreado' %}
                    <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Primero creado (más antiguo)</p>
                    <script>$('#filtro-titulo').html('Primero creado')</script>
                {% else %}
                    <p onclick="addUrlParam('ordenarPor', 'primeroCreado')">Primero creado (más antiguo)</p>
                {% endif %}

            <!--#################    FILTROS     ################-->

                <div class="border-top-claro"><strong>Filtrar</strong></div>
            <!-- Pendientes -->
                {% if request.GET.filtro == 'pendientes' %}
                    <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Pendientes</p>
                {% else %}
                    <p onclick="addUrlParam('filtro', 'pendientes')">Pendientes</p>
                {% endif %}
            <!-- Activos -->
                {% if request.GET.filtro == 'activos' %}
                    <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Activos</p>
                {% else %}
                    <p onclick="addUrlParam('filtro', 'activos')">Activos</p>
                {% endif %}
            <!-- Finalizados -->
                {% if request.GET.filtro == 'finalizados' %}
                    <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Finalizados</p>
                {% else %}
                    <p onclick="addUrlParam('filtro', 'finalizados')">Finalizados</p>
                {% endif %}
            <!-- Cancelados -->
                {% if request.GET.filtro == 'cancelados' %}
                    <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                        <i style="left:25px" class="pos-absolute fas fa-check"></i>Cancelados</p>
                {% else %}
                    <p onclick="addUrlParam('filtro', 'cancelados')">Cancelados</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function showFloatMenu() {
            $('#menu-flotante-ord-flit-back-container').css('display', 'block');
        }

        function hideFloatMenu() {
            $('#menu-flotante-ord-flit-back-container').css('display', 'none');
        }

        function crearProyecto() {
            $.confirm({
                title: "<p style='font-family:Inria Sans,sans-serif'>Agregar un nuevo proyecto</p>",
                typeAnimated: true,
                columnClass: 'small',
                boxWidth: '35%',
                useBootstrap: false,
                icon: "fas fa-plus",
                content: '' +
                    '<br><form action="/" method="POST" class="formName">' +
                    '<div style="display:flex;flex-direction:column;" class="form-group">' +
                    '<label style="margin-bottom:5px" for="pname"><strong>Ingrese en nombre del nuevo proyecto</strong></label>' +
                    '<input id="pname" type="text" placeholder="ej. Backend Panda" class="text-input" required autofocus/><br>' +
                    '<label style="margin-bottom:5px" for="pdesc"><strong>Ingrese la descripción del nuevo proyecto</strong></label>' +
                    '<textarea id="pdesc" style="width:calc(100% - 25px);resize: none;" placeholder="Descripción concisa del proyecto" ' +
                    'class="confirm-value-input text-input" rows="5"/>' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Crear',
                        btnClass: 'btn-green',
                        action: function () {
                            const name = this.$content.find('#pname').val();
                            const desc = this.$content.find('#pdesc').val();
                            if (!name) {
                                fastAlert('Error al intentar crear',
                                    'Es posible que no haya ingresado ningún valor en el campo solicitado.',
                                    'red', 'fas fa-bomb');
                                return false;
                            }
                            $("#projectName").attr("value", name);
                            $("#projectDesc").attr("value", desc);
                            $("#href").attr("value", window.location.href);
                            $("#form-sender").attr('action', '/proyecto/agregar/');
                            $("#form-sender").submit();
                        }
                    },
                    cancelar: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        }
    </script>
{% endblock %}