{% extends 'base.html' %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/systemBase.css' %}">
    {% block systemBase_extra_head %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="under-header">
        {% if showLateral %}
            {% include 'includes/lateral_manu.html' %}
        {% endif %}
        <div class="main-container-back">
            <div class="main-container" style="{% if showLateral %}margin:0 10%;{% else %}margin:0 16%;{% endif %}">
                {% block main_container %} {% endblock %}
            </div>
        </div>
    </div>
    {% include 'includes/menu_header.html' %}
{% endblock %}