{% load static %}

<style>
    .fase-item {
        margin: 10px 7px;
    }
    .atrib-nota{
        margin:0 6px 5px 0;
        padding:3px 5px;
        color: #555;
        white-space: nowrap;
        display: flex;
        align-items: center;

    }
    .atrib-name{
        cursor: pointer;
    }
    .atrib-name:hover{
        text-decoration-line: underline;
    }

    .tdi-icono {
        width: 40px;
        max-width: 40px;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tdi-icono i {
        font-size: 35px;
    }

    .tdi-item-nombre {
        cursor: pointer;
    }

    .tdi-item-nombre:hover {
        text-decoration-line: underline;
        color: #111;
    }

    .atribs-container{
        max-width: 70%;
        display: flex;
        flex-wrap: wrap;
        margin-top:5px;
    }
    .remover-atrib{
        margin:0 0 0 4px;
        color:#bbb;
        cursor: pointer;
        font-size: 13px;
    }
    .remover-atrib:hover{
        color:#C03728;
    }
</style>
<div class="pos-realtive">

    <!-- Cabecera -->

    <div class="flex-row flex-justify-between header-row flex-align-items-center">
        <div class="flex-row">
            <!-- Mostrar todos o solo aquellos con atributos ya asignados -->
            <div onclick="removeUrlParamList(['todos', 'buscarLb'])" class="flex-row flex-align-items-center selected-list-option-btn">
                <p>Todos</p>
                <p class="elemento-nota">{{ lbs|length }}</p>
            </div>
        </div>
        <div class="flex-row flex-align-items-center" style="height:40px">
            <input id="input-buscar-lb" style="width:230px;margin-right:6px;"
                   class="input-text" type="text" placeholder="Buscar línea base">
        </div>
    </div>

    <!-- Resultados de la busqueda -->

    {% if request.GET.buscarLb is not None %}
        <div style="padding:10px;border-bottom:1px solid #ccc" class="flex-justify-center">
            <p class="texto-claro">Resultados de buscar <strong>{{ request.GET.buscarLb }}</strong></p>
        </div>
    {% endif %}

    <!-- Lista de ítems -->

    <div style="margin-top: 10px">
        {% for lb in lbs %}
            {% if not request.GET.buscarLb or request.GET.buscarLb|lower in lb.nombre|lower %}
                <div class="item-lista flex-row flex-align-items-center">
                    <div class="flex-row flex-align-items-center" style="width:100%;">
                        <div class="flex-column">
                            <div class="flex-row" style="font-size:15px;color:#333">
                                <p class="tdi-item-nombre texto-bold">{{ lb.nombre }}</p>
                            </div>
                            <div class="flex-row atribs-container">
                                {% for item in lb|items_lb %}
                                    <div class="flex-row">
                                        <div class="elemento-nota-claro atrib-nota">
                                            <p class="atrib-name" style="color:black">{{ item.prefijo }} {{ item.codigo }}: </p>
                                            <p style="margin-left:5px">{{ item.nombre }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if modificable %}
                        <div class="flex-row flex-align-items-center">
                            {% if lb.id|es_lb_rota %}
                                <div class="btn-squere-gray flex-align-items-center" style="margin-right:5px">
                                    <i class="fas fa-heart-broken" style="margin-right:5px"></i>
                                    <p>Rota</p>
                                </div>
                            {% elif lb.id|esta_romper_solicitado %}
                                <div class="btn-squere-white flex-align-items-center" style="margin-right:5px">
                                    <i class="fas fa-heart-broken" style="margin-right:5px"></i>
                                    <p>Solicitud para romper pendiente</p>
                                </div>
                            {% else %}
                                <div class="btn-squere-red flex-align-items-center" style="margin-right:5px"
                                     onclick="solicitarRomperLb({{ lb.id }})">
                                    <i class="fas fa-heart-broken" style="margin-right:5px"></i>
                                    <p>Solicitar romper</p>
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% include 'proyecto/agregarAtributoDeTdiToInclude.html' %}

<script>
    $('#input-buscar-lb').keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode === 13) {
            addUrlParam('buscarLb', $(this).val());
        }
    });
    function solicitarRomperLb(lb_id) {
        $.confirm({
            title: "Romper línea base",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-heart-broken',
            content: `
                        <p>Confirmar esta opración enviará un mensaje de aviso a los miembros del comité de
                        cambio para que verifiquen y aprueben la acción solicitada</p><br>
                        <form action="" class="formName">
                            <div class="form-group" style="position:relative">
                                <span style="position:relative;left:10px"><strong>Motivo de la ruptura</strong></span><br>
                                <textarea id="desc" style="width:calc(100% - 25px);resize: none;"
                                class="confirm-value-input text-input" rows="5" required/>
                            </div>
                        </form>`,
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-green',
                    action: function () {
                        const desc = this.$content.find('#desc').val();
                        if (desc.length < 10) {
                            $.alert({
                                title: 'Error',
                                content: 'No hi ingresado un motivo o la descripción del motivo es demasiado corta.',
                                boxWidth: '35%',
                                useBootstrap: false,
                                icon: 'fas fa-exclamation-triangle',
                            });
                            return false;
                        }
                        sendRequest(
                            '/proyecto/solicitar/romper/lineabase/',
                            {
                                'lineaBase': lb_id,
                                'usuario': {{ user.id }},
                                'motivo': desc,
                                'href': window.location.href,
                            }
                        )
                    }
                },
                cancelar: function () {
                },
            },
            onContentReady: function () {
                // bind to events
                let jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            },
        });
    }
</script>