{% load static %}

<style>
    .informe-items-contenedor .subtitulo-2 {
        font-size: 16px;
        color: #333;
    }
    .informe-items-contenedor .subtitulo {
        font-size: 18px;
    }
    .informe-items-contenedor * {
        font-family: 'Inria Sans', sans-serif;
    }
    .informe-items-contenedor th {
        text-align: left;
        padding: 5px 0;
    }
    .informe-items-contenedor td {
        padding: 10px 5px;
        max-width: 100px;
    }
    .informe-items-contenedor .td-5 {
        text-align: center;
    }
</style>

<div class="informe-items-contenedor">
    <!-- CABECERA -->
    <h2>INFORME DE ÍTEMS DE PROYECTO</h2>
    <div class="flex-row subtitulo">
        <strong>Proyecto:</strong>
        <span>{{ proyecto.nombre }}</span>
    </div>
    <div class="flex-row subtitulo-2" style="margin:5px 0 20px 0">
        <li><span>Items pendientes y aprobados</span></li>
    </div>

    <hr>

    <!-- LISTA DE ÍTEMS -->
    <div style="margin-top: 15px">
        <table style="width:100%">
            <tr>
                <th class="tr-1">Codigo</th>
                <th>Nombre</th>
                <th class="tr-1">Fase</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th class="tr-5">Costo</th>
            </tr>
            {% for item in items %}
                {% if item.estado == 'pe' or item.estado == 'ap' %}
                    <tr>
                        <td class="td-1">{{ item.prefijo|upper }}-{{ item.codigo }}</td>
                        <td>{{ item.nombre }}</td>
                        <td class="td-1">Fase {{ item.fase.numero_fase }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.estado|descripcion_estado_item|title }}</td>
                        <td class="td-5">{{ item.costo }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

    </div>
</div>