{% load static %}

<style>
    .informe-fase-items-contenedor .subtitulo {
        font-size: 18px;
    }
    .informe-fase-items-contenedor * {
        font-family: 'Inria Sans', sans-serif;
    }
    .informe-fase-items-contenedor th {
      text-align: left;
        padding: 5px 0;
    }
    .informe-fase-items-contenedor .tr-1 {
        min-width: 70px;
    }
    .informe-fase-items-contenedor .tr-5{
        margin-left: 10px;
    }
    .informe-fase-items-contenedor td {
        padding: 10px 0;
    }
    .informe-fase-items-contenedor .td-5 {
        text-align: center;
        margin-right: 10px;
    }
</style>

<div class="informe-fase-items-contenedor">
    <!-- CABECERA -->
    <h2>INFORME DE ESTADO DE ÍTEMS</h2>
    <div class="flex-row subtitulo">
        <strong>Proyecto:</strong>
        <span>{{ fase.proyecto.nombre }}</span>
    </div>
    <div class="flex-row subtitulo" style="margin:5px 0 20px 0">
        <strong>Fase {{ fase.numero_fase }}:</strong>
        <span>{{ fase.nombre }}</span>
    </div>

    <hr>

    <!-- LISTA DE ÍTEMS -->
    <div style="margin-top: 15px">
        <table style="width:100%">
            <tr>
                <th class="tr-1">Codigo</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th class="tr-5">Costo</th>
            </tr>
            {% for item in items %}
            <tr>
                <td class="td-1">{{ item.prefijo|upper }}-{{ item.codigo }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.estado|descripcion_estado_item|title }}</td>
                <td class="td-5">{{ item.costo }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>