
{% load static %}

<style>
    .informe-items-contenedor .subtitulo-2 {
        font-size: 16px;
        color: #333;
    }
    .informe-items-contenedor .subtitulo {
        font-size: 18px;
    }
    .informe-items-contenedor * {
        font-family: 'Inria Sans', sans-serif;
    }
    .informe-items-contenedor th {
        text-align: left;
        padding: 5px 0;
    }
    .informe-items-contenedor td {
        padding: 10px 5px;
        max-width: 100px;
    }
    .informe-items-contenedor .td-5 {
        text-align: center;
    }
</style>

<div class="informe-items-contenedor">
    <!-- CABECERA -->
    <h2>INFORME DE MODIFICACIONES</h2>
    <div class="flex-row subtitulo">
        <strong>Proyecto:</strong>
        <span>{{ proyecto.nombre }}</span>
    </div>
    <div class="flex-row subtitulo-2" style="margin:5px 0 20px 0">
        <li><span>Desde {{ inicial }} hasta {{ final }}</span></li>
    </div>

    <hr>

    <!-- LISTA DE ÍTEMS -->
    <div style="width:100%">
        {% for item in items %}
            {% if item.estado == 'pe' or item.estado == 'ap' %}
                <div class="flex-row" style="padding:10px 0">
                    <span class="td-1"><strong>{{ item.prefijo|upper }}-{{ item.codigo }}: </strong></span>
                    <span>{{ item.nombre }}</span> /
                    <span>{{ item.estado|descripcion_estado_item|title }}</span> /
                    <span class="td-1">Fase {{ item.fase.numero_fase }}</span>
                </div>
                <!--<li style="padding:5px 10px;border-bottom:1px solid #fff">
                        {% if item|get_historial|length > 0 %}
                            {{ item|get_historial|length }} modificaciones
                        {% else %}
                            Sin modificaciones
                        {% endif %}
                    </li>-->
                <div style="border-bottom:1px solid #999;padding:0 0 0 0;margin:0 0 0 0;width:70%">
                    {% if item|get_historial|length > 0 %}
                        {% for hist in item|get_historial %}
                            {% if hist.fecha_historia|fecha_mayor_que:inicial_obj %}
                                <li style="padding:0 10px 10px 30px">
                                    <span>En fecha {{ hist.fecha_historia }}.</span><br>
                                    <span>{{ hist.descripcion|replace_enter_to_br|safe }}</span>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>