<style>
    .tdi-att-block {
        margin: 0;
        padding: 15px 0;
        border-bottom:1px solid #ddd;
    }
    .tdi-att-block label{
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>

{% if agregar_atributoa_a_tdi and modificable %}
    <div class="modal-container">
        <div class="modal-content" style="width:400px;">
            <div class="modal-content-title">
                <i class="fas fa-tasks"></i>
                <p>Agregar atributo</p>
            </div>
            <div class="elements-list-container" style="padding-top:10px">
                <div class="flex-column tdi-att-block">
                    <label>Nomber del atributo</label>
                    <input id="input-atributo-nombre" name="atributoNombre" class="tdi-name input-text"
                           maxlength="50" autofocus>
                </div>
                <div class="flex-column tdi-att-block">
                    <label>Tipo</label>
                    <select id="atributo-tipo-select" name="atributoTipo" class="tdi-name input-text">
                        <option value="str">Texto</option>
                        <option value="num">Numerico</option>
                        <option value="bool">Sí o no</option>
                        <option value="url">Dirección url</option>
                    </select>
                </div>
                <!--Bloque - es obligatorio / bool por defecto -->
                <div id="bloque-es-obligatorio" class="tdi-att-block add-tdi-att-block">
                    <div class="att-bool-container">
                        <label class="att-boo-block flex-row">
                            <span id="es-obligatorio-titulo">Es obligatorio</span>
                            <input id="input-es-obligatorio" name="atributoObligatorio" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="flex-row">
                    <!--Bloque - longitud mínima -->
                    <div id="bloque-long-max" class="tdi-att-block flex-column" style="width:49%;margin-right:1%">
                        <label id="min-titulo">Cantidad mínima de carácteres</label>
                        <input type="number" id="atributo-min" class="tdi-name input-text-auto" value="0"
                               min="0"
                               max="99999">

                    </div>
                    <!--Bloque - longitud máxima -->
                    <div id="bloque-long-min" class="tdi-att-block flex-column" style="width:49%;margin-left:1%">
                        <label id="max-titulo">Cantidad máxima de carácteres</label>
                        <input type="number" id="atributo-max" class="tdi-name input-text-auto" value="100"
                               min="1"
                               max="99999">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="att-footer">
                    <div onclick="removeUrlParam('agregar_atributo')" class="modal-close-button">
                        <i class="fas fa-times"></i></div>
                    <div id="btn-agregar-atributo" onclick="agregarAtributoATdi()"
                         class="btn-squere-gray">Agregar</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#atributo-tipo-select').change(function () {
            if ($(this).val() === 'str'){
                $('#bloque-long-max').css('display', 'flex');
                $('#bloque-long-min').css('display', 'flex');
                $('#min-titulo').html('Cantidad mínima de caracteres');
                $('#max-titulo').html('Cantidad máxima de caracteres');
                $('#es-obligatorio-titulo').html('Es obligatorio');
            }
            else if ($(this).val() === 'num'){
                $('#bloque-long-max').css('display', 'flex');
                $('#bloque-long-min').css('display', 'flex');
                $('#min-titulo').html('Menor dígito posible');
                $('#max-titulo').html('Mayor dígito posible');
                $('#es-obligatorio-titulo').html('Es obligatorio');
            }
            else if ($(this).val() === 'bool'){
                $('#bloque-long-max').css('display', 'none');
                $('#bloque-long-min').css('display', 'none');
                $('#es-obligatorio-titulo').html('Valor por defecto');
            }
            else if ($(this).val() === 'url'){
                $('#bloque-long-max').css('display', 'flex');
                $('#bloque-long-min').css('display', 'flex');
                $('#min-titulo').html('Cantidad mínima de caracteres');
                $('#max-titulo').html('Cantidad máxima de caracteres');
                $('#es-obligatorio-titulo').html('Es obligatorio');
            }
        });
        let canCreateNewAttribute = false;
        $('#input-atributo-nombre').on('input', function () {
            const button = $('#btn-agregar-atributo');
            const texto = $(this).val();
            const is_valid = !stringIsNullOrWhitespace(texto);
            if (is_valid && !canCreateNewAttribute) {
                $(button).removeClass('btn-squere-gray');
                $(button).addClass('btn-squere-green');
                canCreateNewAttribute = true;
            } else if (!is_valid && canCreateNewAttribute) {
                $(button).addClass('btn-squere-gray');
                $(button).removeClass('btn-squere-green');
                canCreateNewAttribute = false;
            }
        });

        function agregarAtributoATdi() {
            if (!canCreateNewAttribute) return;
            const tdiId = getUrlParameterValue('agregar_atributo');
            sendRequest(
                '/proyecto/tdi/atributo/agregar/',
                {
                    'nombre': $('#input-atributo-nombre').val(),
                    'tipo': $('#atributo-tipo-select').val(),
                    'es_obligatorio': $('#input-es-obligatorio').is(":checked") ? 'on' : 'off',
                    'min': $('#atributo-min').val(),
                    'max': $('#atributo-max').val(),
                    'href': removeUrlParam('agregar_atributo', false),
                    'tdi': tdiId,
                }
            )
        }
    </script>
{% endif %}