<div class="modal-container">
    <div class="modal-content">
        <div class="modal-content-title">
            <i class="fas fa-award"></i>
            <strong>Asignar rol sobre el proyecto</strong>
        </div>
        <div class="flex-row">
            <div class="input-titulo texto-bold">Selecciona el rol</div>
        </div>
        <select id="select-role" class="text-input-full">
            {% for rol in usuarioModRolesFaltantes %}
                <option value="{{ rol.id }}">{{ rol.nombre }}</option>
            {% endfor %}
        </select>
        <div class="flex-row flex-justify-end" style="margin-top:10px;">
            <div onclick="addRoleToUsuer()" class="btn-squere-green">Agregar</div>
        </div>
        <div onclick="removeUrlParam('modMiembro')" class="modal-close-button"><i class="fas fa-times"></i>
        </div>
    </div>
</div>

<script>
    function addRoleToUsuer() {
        const href = removeUrlParam('modMiembro', false);
        const selectedRolId = $('#select-role').val();
        sendRequest(
            '/proyecto/miembro/rol/agregar/',
            {
                'usuario': {{ usuarioMod.id }},
                'rol': selectedRolId,
                'proyecto': {{ proyecto.id }},
                'href': href
            }
        );
    }
</script>