{% load static %}

<style>
    .usuario-comite-modal-back{
        position: absolute;
        background-color:#0007;
        display: flex;
        justify-content: center;
        align-items: center;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index:1000;
    }
    .usuario-comite-modal{
        position: absolute;
        background-color: white;
        border-radius:5px;
        width:40%;
        min-width:200px;
    }
</style>

<div class="usuario-comite-modal-back">
    <div class="usuario-comite-modal">
        <div class="bordered-group-container">
            <div class="bordered-group-title flex-row flex-align-items-center flex-justify-between">
                <span>Seleccionar nuevos miembros del comité de cambios del proyecto</span>
                <div class="btn-squere-white" onclick="removeUrlParam('agregarComite')">Cerrar</div>
            </div>
            {% include 'usuario/seleccionarUsuarioToInclude.html' %}
        </div>
    </div>
</div>

<script>
    function sendSelectedUsers(users) {
        sendRequest(
            '/proyecto/{{ proyecto.id }}/agregar/comite/usuario/',
            {
                'usuarios': users,
                'href': removeUrlParam('agregarComite', false),
            }
        )
    }
</script>