{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Proyecto info" %}{% endblock %}

{% block main_container %}
    <style>
        .config-item-font {
            font-size: 15px;
            margin-bottom: 5px;
            margin-top: 22px;
            font-weight: bold;
        }
        .container-block-bordered {
            border: 1px solid #ddd;
            border-radius: 3px;
            margin: 0;
        }
        .container-block-bordered-body {
            padding: 15px;
        }
        .blocks-hr {
            margin: 25px 0;
            border: 0;
            border-bottom: 1px solid #ccc;
        }
    </style>
    {% include 'includes/direccionDePagina.html' %}

    <div class="proyecto-config-main-continer">
        <div class="container-block flex-column">
            <div>
                <p style="font-size:24px;font-weight:bold;margin-bottom:30px;">Nombre y descripción</p>
                <p class="texto-claro" style="max-width:60%">
                    Actualiza el nombre y agregar una descripción al proyecto. La descripción será visible
                    en la página principal del proyecto para que todos lo vean.
                </p>
            </div>

            <div class="flex-column">
                <div class="flex-row">
                    <label>
                        <div class="flex-row config-item-font"><p>Nombre del proyecto</p></div>
                        <input id="input-proyecto-nombre" type="text" class="text-input-long"
                               value="{{ proyecto.nombre }}"
                               required {% if not modificable %}readonly{% endif %}>
                    </label>
                    <label style="margin-left:32px">
                        <div class="flex-row config-item-font"><p>Id del proyecto</p></div>
                        <input type="text" class="text-input-short" value="{{ proyecto.id }}" readonly>
                    </label>
                </div>
                <label>
                    <div class="flex-row config-item-font"><p>Descripción del proyecto (opcional)</p></div>
                    <textarea id="input-proyecto-desc" class="text-input-long" style="width:573px" rows="4"
                              {% if not modificable %}readonly{% endif %}>{{ proyecto.descripcion }}</textarea>
                </label>
            </div>
            {% if modificable %}
                <div class="flex-row">
                    <div id="btn-guardar-cambios-nombre-desc-proyecto" style="margin-top:10px"
                         onclick="guardarCambiosNombreDescProyecto()"
                         class="btn-squere-gray">Guardar cambios
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- COMITÉ DE CONTROL DE CAMBIOS -->

        <hr class="blocks-hr">

        <div class="container-block flex-column">

            <div style="font-family:'Inria Sans';">
                <div class="flex-row align-center flex-justify-between">
                    <p style="font-size:24px;font-weight:bold;margin-bottom:15px;">Comité de control de cambios</p>
                    {% if user.id == proyecto.gerente.id and modificable %}
                        <div class="flex-row flex-justify-end">
                            <div class="btn-squere-blue agregar-miembro" style="width:100px"
                                 onclick="addUrlParam('agregarComite', 'true')">
                                Agregar miembro
                            </div>
                        </div>
                    {% endif %}
                </div>
                <p class="texto-claro" style="max-width:60%">
                    Usuarios encargados de verificar y aprobar o rechazar ciertas acciones en el proyecto.
                </p>
            </div>

            {% include 'usuario/listaUsuariosToInclude.html' %}

        </div>

        <hr class="blocks-hr">

        <!-- ESTADO -->

        <div class="container-block flex-column">

            <div style="font-family:'Inria Sans';">
                <p style="font-size:24px;font-weight:bold;margin-bottom:15px;">Estado</p>
                <p class="texto-claro" style="max-width:60%">
                    Lleva al proyecto a su siguiente etapa acualizando su estado, pero ten cuidado, los cambios que
                    hagas serán irreversibles. ¡Solo está permitido avanzar o fracasar!
                </p>
            </div>

            <label>
                <div class="flex-row config-item-font"><p>Estado actual del proyecto</p></div>
                <input type="text" class="text-input" value="{{ proyecto.estado|descripcion_estado|title }}" readonly>
            </label>

            {% if user.id == proyecto.gerente.id %}
                {% if proyecto.estado == 'ac' %}
                    <!-- Finalizar poryecto -->
                    <div class="container-block-bordered flex-column" style="margin-top:20px;width:70%">
                        <div class="container-block-bordered-body">
                            {% if proyecto|puede_finalizar_proyecto %}
                                <div style="font-family:'Inria Sans';">
                                    <p style="font-size:21px;font-weight:bold;margin-bottom:15px;color:#00a31b">
                                        Finalizar proyecto</p>
                                </div>
                                <p><strong>¡Todas las fases están finalizadas! ¡Ya puedes finalizar este proyecto!</strong></p>
                                <p style="margin-top:10px">
                                    La finalización del proyecto lo dejará en un estado <strong>Finalizado</strong> dentro del
                                    sistema, toda la información quedará almacenada, pero no podrá vover a modificarse.
                                </p>
                                <div class="flex-row">
                                    <div onclick="confirmarFinalizarProyecto()" class="btn-squere-green"
                                         style="margin-top:15px">
                                        Finalizar
                                    </div>
                                </div>
                            {% else %}
                                <div style="font-family:'Inria Sans';">
                                    <p style="font-size:21px;font-weight:bold;margin-bottom:15px;">
                                        Todavía no puedes finalizar el proyecto
                                    </p>
                                </div>
                                <p>
                                    Para finalizar un proyecto se requiere que ninguna de las fases creadas haya quedado
                                    pendiente, todas deben estar correctamente finalizadas.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Cancelar poryecto -->
                    <div class="container-block-bordered flex-column" style="margin-top:20px;width:70%">
                        <div class="container-block-bordered-body">
                            <div style="font-family:'Inria Sans';">
                                <p style="font-size:21px;font-weight:bold;margin-bottom:15px;color:#DB413B">
                                    Cancelar proyecto</p>
                            </div>
                            <p>
                                La eliminación del proyecto lo dejará en un estado <strong>Cancelado</strong> dentro del
                                sistema, toda la información quedará almacenada, pero no podrá vover a modificarse.
                            </p>
                            <br>
                            <p><strong>¡La eliminación no puede revertirse y es inamediata una vez que se
                                confirme!</strong></p>
                            <div class="flex-row">
                                <div onclick="confirmarCancelarProyecto()" class="btn-squere-red"
                                     style="margin-top:15px">
                                    Cancelar
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif proyecto.estado == 'pe' and puedeIniciarProyecto %}
                    <div class="container-block-bordered flex-column" style="margin-top:20px;width:70%">
                        <div class="container-block-bordered-body">
                            <div style="font-family:'Inria Sans';">
                                <p style="font-size:21px;font-weight:bold;margin-bottom:15px;color:#4E904A">
                                    Iniciar proyecto</p>
                            </div>
                            <p>
                                Inicar el proyecto lo dejará en un estado <strong>Activo</strong> dentro del sistema,
                                toda la
                                configuración a excepción de las fases podrá seguir modificándose.
                            </p>
                            <br>
                            <p><strong>¡Iniciar un proyecto no puede revertirse y tiene efecto inmediato una vez que se
                                confirme!</strong></p>
                            <div class="flex-row">
                                <div onclick="confirmarIniciarProyecto()" class="btn-squere-green"
                                     style="margin-top:15px">
                                    Iniciar
                                </div>
                            </div>
                        </div>
                    </div>
                {% elif not puedeIniciarProyecto %}
                    <div class="container-block-bordered flex-column" style="margin-top:20px;width:70%">
                        <div class="container-block-bordered-body">
                            <div style="font-family:'Inria Sans';">
                                <p style="font-size:21px;font-weight:bold;margin-bottom:15px;">
                                    Todavía no puedes inicar el proyecto</p>
                            </div>
                            <p>
                                Para iniciar el proyecto se requiere que haya al menos una fase creada, además, se
                                recomienda que cree e incluya todos los tipos de ítems a las fases que lo requieran
                                aprevio al inicio del proyecto.
                            </p>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% if request.GET.agregarComite == 'true' %}
    {% include 'proyecto/agregarUsuarioComiteToInclude.html' %}
    {% endif %}

    <script>
        var originalName = `{{ proyecto.nombre }}`;
        var originalDesc = `{{ proyecto.descripcion }}`;
        var canSaveNameAndDesc = false;

        function guardarCambiosNombreDescProyecto() {
            if (!canSaveNameAndDesc) return;
            sendRequest(
                '/proyecto/guardar_nombre_desc/',
                {
                    'nombre': $('#input-proyecto-nombre').val(),
                    'descripcion': $('#input-proyecto-desc').val(),
                    'proyecto': {{ proyecto.id }},
                    'href': window.location.href
                }
            );
        }

        $(document).ready(function () {
            $('#input-proyecto-nombre').on('input', function (e) {
                updateCanSaveNameAndDesc();
            });
            $('#input-proyecto-desc').on('input', function (e) {
                updateCanSaveNameAndDesc();
            });
        });

        function updateCanSaveNameAndDesc() {
            const button = $('#btn-guardar-cambios-nombre-desc-proyecto');
            const newProjName = $('#input-proyecto-nombre').val();
            const newProjDesc = $('#input-proyecto-desc').val();
            const invalidNewName = newProjName === originalName || stringIsNullOrWhitespace(newProjName);
            const invalidNewDesc = newProjDesc === originalDesc || stringIsNullOrWhitespace(newProjDesc);
            if (!canSaveNameAndDesc && (!invalidNewName || !invalidNewDesc)) {
                $(button).removeClass('btn-squere-gray');
                $(button).addClass('btn-squere-green');
                canSaveNameAndDesc = true;
            } else if (canSaveNameAndDesc && invalidNewName && invalidNewDesc) {
                $(button).removeClass('btn-squere-green');
                $(button).addClass('btn-squere-gray');
                canSaveNameAndDesc = false;
            }
        }

        function confirmarCancelarProyecto() {
            $.confirm({
                title: "Confirmar cancelación",
                typeAnimated: true,
                columnClass: 'small',
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-eraser',
                content: '<p>La eliminación del proyecto lo dejará en un estado \'Cancelado\' dentro del sistema, toda la ' +
                    'información quedará almacenada, pero no podrá vover a modificarse.</p>' +
                    '<br><strong>Advertencia: </strong><br><br>' +
                    '<p>¡La eliminación no puede revertirse y es inamediata una vez que se confirme!</p>',
                buttons: {
                    formSubmit: {
                        text: 'Confirmar',
                        btnClass: 'btn-red',
                        action: function () {
                            sendRequest(
                                '/proyecto/cancelar/',
                                {
                                    'proyectoId': {{ proyecto.id }},
                                    'href': window.location.href
                                }
                            )
                        }
                    },
                    cancelar: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        }

        function confirmarIniciarProyecto() {
            $.confirm({
                title: "Confirmar inicio de proyecto",
                typeAnimated: true,
                columnClass: 'small',
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-play',
                content: '<p>Inicar el proyecto lo dejará en un estado \'Activo\' dentro del sistema, toda la ' +
                    'configuración a excepción de las fases podrá seguir modificándose.</p>' +
                    '<br><strong>Advertencia: </strong><br><br>' +
                    '<p>¡Iniciar un proyecto no puede revertirse y es inamediata una vez que se confirme!</p>',
                buttons: {
                    formSubmit: {
                        text: 'Confirmar',
                        btnClass: 'btn-green',
                        action: function () {
                            sendRequest(
                                '/proyecto/activar/',
                                {
                                    'proyectoId': {{ proyecto.id }},
                                    'href': window.location.href
                                }
                            )
                        }
                    },
                    cancelar: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        }
        function confirmarFinalizarProyecto() {
            $.confirm({
                title: "Confirmar finalización",
                typeAnimated: true,
                columnClass: 'small',
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-eraser',
                content: '<p>La finalización del proyecto lo dejará en un estado \'Finalizado\' dentro del sistema, toda la ' +
                    'información quedará almacenada, pero no podrá vover a modificarse.</p>' +
                    '<br><strong>Advertencia: </strong><br><br>' +
                    '<p>¡La finalización no puede revertirse y es inamediata una vez que se confirme!</p>',
                buttons: {
                    formSubmit: {
                        text: 'Confirmar',
                        btnClass: 'btn-green',
                        action: function () {
                            sendRequest(
                                '/proyecto/finalizar/',
                                {
                                    'proyectoId': {{ proyecto.id }},
                                    'href': window.location.href
                                }
                            )
                        }
                    },
                    cancelar: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        }
    </script>
{% endblock %}