{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Proyecto info" %}{% endblock %}

{% block main_container %}

    <style>
        .imagen-proyecto {
            margin: 0;
            width: 55px;
            height: 55px;
            border-radius: 10px;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .nombre-cabecera {
            font-size: 24px;
            margin-bottom: 5px;
        }
        .proyecto-resumen-bloque {
            padding: 20px 10px;
        }
    </style>

    {% include 'includes/direccionDePagina.html' %}

    <!-- MAIN CONTAINER -->

    <div class="proyecto-config-main-continer">

        <!-- Cabecera -->

        <div class="flex-row flex-justify-between">
            <div class="flex-row flex-start flex-align-items-center">
                <div class="imagen-proyecto" style="background-color:{{ proyecto.color_icono }}">
                    {{ proyecto.nombre|primera_letra|title }}
                </div>
                <div class="flex-column" style="margin-left:20px">
                    <div class="nombre-cabecera">
                        <strong>{{ proyecto.nombre }}</strong></div>
                    <div class="flex-row flex-align-items-center">
                        <div class="texto-claro">Proyecto ID: {{ proyecto.id }}</div>
                        <p style="margin:0 10px;font-size:9px;color:#555">
                            <i style="margin:0" class="fas fa-circle"></i></p>
                        <div class="texto-claro">Estado: {{ proyecto.estado|descripcion_estado }}</div>
                    </div>
                    <!--<div class="email-fechareg">
                    <div>Creado el {{ proyecto.fecha_creacion|date:"d" }} de {{ proyecto.fecha_creacion|date:"F" }}
                        del {{ proyecto.fecha_creacion|date:"Y" }}</div>
                    </div>
                    {% if proyecto.estado == 'fi' %}
                        <div class="email-fechareg">Finalizado el {{ proyecto.fecha_finalizacion }}</div>
                    {% endif %}-->
                </div>
            </div>
        </div>

        <!-- Resumen de proyecto -->

        <div class="proyecto-resumen-bloque flex-column">
            <div class="flex-row">
                <!-- Resumen fases -->
                <div style="margin-right:25px" class="texto-claro flex-row flex-align-items-center">
                    <i style="font-size:13px;margin-right:5px" class="fas fa-layer-group"></i>
                    <p style="font-size:15px;"><strong>{{ cantidadFases }}</strong></p>
                    <p style="margin-left:5px">{% if cantidadFases == 1 %}fase{% else %}fases{% endif %}</p>
                </div>
                <!-- Resumen tipo de ítems -->
                <div style="margin-right:25px" class="texto-claro flex-row flex-align-items-center">
                    <i style="font-size:13px;margin-right:5px" class="fas fa-sitemap"></i>
                    <p style="font-size:15px;"><strong>{{ cantidadTdis }}</strong></p>
                    <p style="margin-left:5px">{% if cantidadTdis == 1 %}tipo{% else %}tipos{% endif %} de ítem</p>
                </div>
                <!-- Resumen usuarios -->
                <div style="margin-right:25px" class="texto-claro flex-row flex-align-items-center">
                    <i style="font-size:13px;margin-right:5px" class="fas fa-users"></i>
                    <p style="font-size:15px;"><strong>{{ cantidadMiembros }}</strong></p>
                    <p style="margin-left:5px">{% if cantidadMiembros == 1 %}miembro{% else %}
                        miembros{% endif %}</p>
                </div>
                <!-- Resumen roles -->
                <div style="margin-right:25px" class="texto-claro flex-row flex-align-items-center">
                    <i style="font-size:13px;margin-right:5px" class="fas fa-swatchbook"></i>
                    <p style="font-size:15px;"><strong>{{ cantidadRoles }}</strong></p>
                    <p style="margin-left:5px">{% if cantidadRoles == 1 %}rol{% else %}roles{% endif %}</p>
                </div>
            </div>
            <!-- Descripción de proyecto -->
            <p style="margin-top:16px">{{ proyecto.descripcion }}</p>
        </div>

        <!-- Gerente de proyecto -->

        {% if sin_gerente and user|es_admin %}
            <div class="field-container" style="position:relative;">
                <p style="margin-top:10px"><strong>Paso 1 - Selecciona un gerente para el proyecto</strong></p>
                <p class="texto-claro" style="margin:3px 0 10px 0">
                    Un gerente es el encargado de gestionar toda la configuración del proyecto,
                    solo puede haber uno y es irremplazable de por vida.
                </p>
                <div class="bordered-group-container">
                    <div class="bordered-group-title flex-row flex-align-items-center">Seleccionar gerente</div>
                    {% include 'usuario/seleccionarUsuarioToInclude.html' %}
                </div>
            </div>
        {% endif %}

        <!-- Fases del proyecto -->
    {% if tiene_gerente and user|usuario_proyecto:proyecto|tiene_permiso_proyecto:'ver_fases_de_proyecto' %}
        <div style="border:1px solid #ccc;padding:0 10px 10px 10px;border-radius:4px">
            {% include 'fases/listaFasesToInclude.html' %}
        </div>
    {% endif %}
    </div>



    <script>
        canSelectOnlyOneUser = true;

        function sendSelectedUsers(selectedUsers) {
            sendRequest(
                '/proyecto/gerente/agregar/',
                {
                    'usuario': selectedUsers[0],
                    'proyecto': {{ proyecto.id }},
                    'href': window.location.href
                }
            );
        }
    </script>
{% endblock %}