<!--######################    ANTIGUO   ######################-->

    <!--    MODAL DE TIPOS DE ÍTEMS DEL PROYECTO    -->

    {% if mostrarTdis %}
        <div class="modal-container">
            <div class="modal-content" style="width:510px">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px;" class="fas fa-sitemap"></i>
                        Configuración de tipos de ítems
                    </div>
                    <div class="tdi-id"><strong>del proyecto:</strong> {{ proyecto.nombre }}</div>
                    <div class="field-list-head" style="margin:10px 0;">
                        <label>Tipos de ítems</label>
                    </div>
                </div>
                <div class="elements-list-container">
                    {% for tipo_de_item in tipos_de_items %}
                        <div class="list-item-elem">
                            {% if modificable %}
                                <div data-tooltip-right="Eliminar tipo de item" style="color:#877;"
                                     onclick="removeTdi({{ tipo_de_item.id }})"
                                     class="unselected-trash"><i class="fas fa-trash-alt"></i></div>
                                <div data-tooltip-right="Modificar tipo del item" style="color:#789;"
                                     onclick="editTdi({{ tipo_de_item.id }})"
                                     class="unselected-trash"><i class="fas fa-edit"></i></div>
                                <div onclick="editTdi({{ tipo_de_item.id }})" class="selectable-text">
                                    {{ tipo_de_item.nombre }}</div>
                            {% else %}
                                <div>{{ tipo_de_item.nombre }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {% if modificable %}
                        <div class="flex-row flex-justify-between flex-align-items-center">
                            <div onclick="addItemType({{ proyecto.id }})" class="add-field-long">
                                <i class="fas fa-plus"></i>Nuevo tipo de ítem
                            </div>
                            <div onclick="showImportTdi()" style="height:20px"
                                 class="semi-circulo-btn"><i class="fas fa-file-import"></i>Importar
                            </div>
                        </div>
                    {% endif %}
                    <div onclick="closeTdiList()" class="att-menu-opt cirular-close-tdi-info">
                        <i class="fas fa-times"></i></div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--    MODAL DE ROLES DEL PROYECTO     -->

    {% if mostrarRoles %}
        <div class="modal-container">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px;" class="fas fa-swatchbook"></i>Configuración de
                        roles
                    </div>
                    <div class="tdi-id"><strong>del proyecto:</strong> {{ proyecto.nombre }}</div>
                    <div class="lista-atributos-titulo">
                        <div style="display:flex;">
                            <strong>Roles</strong>
                            <p class="lista-atributos-contador">{{ proyectoRoles|length }}</p>
                        </div>
                    </div>
                </div>
                <div class="elements-list-container">
                    {% for proyectoRol in proyectoRoles %}
                        <div class="list-item-elem">
                            {% if modificable %}
                                <div onclick="removeProjectRole({{ proyectoRol.id }})" data-tooltip-right="Elimiar rol">
                                    <i style="margin-right:10px;color:#877;cursor:pointer"
                                       class="fas fa-trash-alt"></i></div>
                                <div onclick="showProjectRolesList({{ proyectoRol.id }})"
                                     data-tooltip-right="Modificar rol">
                                    <i style="margin-right:10px;color:#777;cursor:pointer"
                                       class="fas fa-edit"></i></div>
                            {% endif %}
                            <div onclick="showProjectRolesList({{ proyectoRol.id }})"
                                 class="selectable-text">{{ proyectoRol.nombre }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {% if modificable %}
                        <div onclick="addProjectRole({{ proyecto.id }})" class="add-att-btn">
                            <i style="margin-right:8px;font-size:20px" class="fas fa-plus-circle"></i>Agregar rol
                        </div>
                    {% endif %}
                    <div onclick="closeProjectRoles()" class="att-menu-opt cirular-close-tdi-info"><i
                            class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--    MODAL DE FASES DEL PROYECTO     -->

    {% if mostrarFases %}
        <div class="modal-container">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px;" class="fas fa-layer-group"></i>Configuración
                        de fases
                    </div>
                    <div class="tdi-id"><strong>del proyecto:</strong> {{ proyecto.nombre }}</div>
                    <div class="lista-atributos-titulo">
                        <div style="display:flex;">
                            <strong>Fases</strong>
                            <p class="lista-atributos-contador">{{ fases|length }}</p>
                        </div>
                    </div>
                </div>
                <div class="elements-list-container">
                    {% for fase in fases %}
                        <div class="list-item-elem">
                            {% if modificable %}
                                {% if proyecto.estado == 'pe' %}
                                    <div onclick="removeProjectFase({{ fase.id }}, {{ proyecto.id }})"
                                         data-tooltip-right="Elimiar fase">
                                        <i style="margin-right:10px;color:#877;cursor:pointer"
                                           class="fas fa-trash-alt"></i></div>
                                {% endif %}
                                <div onclick="alert('Sin implementación')" data-tooltip-right="Modificar fase">
                                    <i style="margin-right:10px;color:#5897fb;cursor:pointer"
                                       class="far fa-edit"></i></div>
                            {% endif %}
                            <div class="selectable-text flex-row">
                                <strong>Fase {{ fase.numero_fase }}:</strong>
                                <div class="texto-claro">&nbsp;{{ fase.nombre }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {% if modificable and proyecto.estado == 'pe' %}
                        <div onclick="addProjectFase({{ proyecto.id }})" class="add-att-btn">
                            <i style="margin-right:8px;font-size:20px" class="fas fa-plus-circle"></i>Agregar fase
                        </div>
                    {% endif %}
                    <div onclick="removeUrlParam('mostrarFases')" class="att-menu-opt cirular-close-tdi-info"><i
                            class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}




    <!--######################    MODALE SECUNDARIOS    ######################-->

    <!--    MODAL DE DETALLE DE TIPO DE ITEM    -->

    {% if tdiData != None and modificable %}
        <div class="modal-container">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px" class="fas fa-landmark"></i>
                        Configuración de tipo de ítem
                    </div>
                    <!--<div class="tdi-id">del </div>-->
                    <label for="tdi-name">Nombre</label>
                    <div class="flex-align-items-center">
                        <input id="tdi-name" name="tdiNombre" class="tdi-name input-text"
                               value="{{ tdiData.nombre }}" readonly required>
                        <div onclick="changeTdiName({{ tdiData.id }}, '{{ tdiData.nombre }}')"
                             style="margin-left:10px;" data-tooltip="Modificar nombre">
                            <i style="color:#789;font-size:19px" class="fas fa-edit"></i></div>
                    </div>
                    <div class="lista-atributos-titulo">
                        <strong>Atributos</strong>
                        <p class="lista-atributos-contador">{{ tdiAtributos|length }}</p>
                    </div>
                </div>
                <div class="elements-list-container">
                    {% for atributo in tdiAtributos %}
                        <div class="list-item-elem">
                            <div onclick="deleteAtribute({{ atributo.id }})" data-tooltip-right="Elimiar atributo">
                                <i style="margin-right:15px;margin-top:10px;color:#877;cursor:pointer"
                                   class="fas fa-trash-alt"></i>
                            </div>
                            <div class="flex-column" style="width:285px">
                                <div class="flex-row flex-align-items-center"
                                     style="margin-top:10px;white-space: nowrap;">
                                    <strong>{{ atributo.titulo }}</strong>
                                    <div style="margin-left:8px"
                                         class="tdi-id">{{ atributo.tipo|tipo_descripcion }}</div>
                                    {% if atributo.es_obligatorio and atributo.tipo != 'bool' %}
                                        <div data-tooltip-right="Es obligatorio" style="margin-left: 10px"><i
                                                class="fas fa-lock"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <div onclick="addTdiAtt()" class="add-att-btn">
                        <i style="margin-right:8px;font-size:20px" class="fas fa-plus-circle"></i>Agregar atributo
                    </div>
                    <div onclick="closeAtt()" class="att-menu-opt cirular-close-tdi-info"><i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--    MODAL PARA AGREGAR ATRIBUTO DE TIPO DE ÍTEM    -->

    {% if tdiData != None and addTdiAtt and modificable %}
        <div class="modal-container">
            <div class="modal-content" style="min-width:500px;">
                <form id="add-tdi-att-form" method="POST" action="/proyecto/tdi/atributo/agregar/">
                    {% csrf_token %}
                    <input type="hidden" name="href" id="atrHref">
                    <input type="hidden" name="tdiId" id="tdiAttId">
                    <div class="modal-header">
                        <div class="tdi-config"><i style="margin-right:10px" class="fas fa-file-medical"></i>
                            Agregar nuevo atributo
                        </div>
                        <div style="margin-bottom:20px" class="tdi-id"><strong>al tipo de
                            ítem:</strong> {{ tdiData.nombre }}</div>
                    </div>
                    <div class="elements-list-container" style="padding-top:10px">
                        <div class="tdi-att-block add-tdi-att-block">
                            <label>Nomber del atributo</label>
                            <input name="atributoNombre" class="tdi-name input-text" maxlength="50" required autofocus>
                        </div>

                        <div class="tdi-att-block add-tdi-att-block">
                            <label>Tipo</label>
                            <select name="atributoTipo" class="tdi-name input-text">
                                <option value="str">Texto</option>
                                <option value="num">Numerico</option>
                                <option value="bool">Sí o no</option>
                                <option value="url">Dirección url</option>
                            </select>
                        </div>
                        <div class="tdi-att-block add-tdi-att-block">
                            <div class="att-bool-container">
                                <label class="att-boo-block">Es obligatorio
                                    <input name="atributoObligatorio" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="nota">* Omitir en caso de ser sí o no.</div>
                        </div>
                        <div class="tdi-att-block add-tdi-att-block">
                            <label>Longitud mínima</label>
                            <p class="nota">* Cantidad de carácteres mínimo en caso de ser texto o url.</p>
                            <p class="nota">* Valor mínimo en caso de ser numérico.</p>
                            <p class="nota">* Omitir en caso de ser sí o no.</p>
                            <input type="number" name="atributoMin" class="tdi-name input-text" value="0"
                                   min="0"
                                   max="99999">
                        </div>
                        <div class="tdi-att-block add-tdi-att-block" style="border:0">
                            <label>Longitud máxima</label>
                            <p class="nota">* Cantidad de carácteres máximo en caso de ser texto o url.</p>
                            <p class="nota">* Valor máximo en caso de ser numérico.</p>
                            <p class="nota">* Omitir en caso de ser sí o no.</p>
                            <input type="number" name="atributoMax" class="tdi-name input-text" value="100"
                                   min="1"
                                   max="99999">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="att-footer">
                            <div onclick="closeAddAtt()" class="att-menu-opt cirular-close-tdi-info">
                                <i class="fas fa-times"></i></div>
                            <button type="submit" style="background-color:#3465a4" class="att-menu-opt">
                                Agregar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    <!--    MODAL DE PERMISOS DE ROLES DEL PROYECTO     -->

    {% if modRol and modificable %}
        <div class="modal-container">
            <div class="modal-content" style="min-width: 500px;">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px;" class="fas fa-clipboard-list"></i>
                        Configuración de permisos
                    </div>
                    <div class="tdi-id"><strong>del rol:</strong> {{ modRolObj.nombre }}</div>
                    <div class="lista-atributos-titulo">
                        <strong>Permisos</strong>
                        <p class="lista-atributos-contador">{{ permisosDelRolActual|length }}</p>
                    </div>
                </div>
                <div class="elements-list-container">
                    {% for perm in permisosDelRolActual %}
                        <div class="list-item-elem">
                            <div onclick="removeProjectRolePerm({{ perm.id }}, {{ modRolObj.id }})"
                                 data-tooltip-right="Elimiar permiso">
                                <i style="margin-right:10px;color:#993333bb;cursor:pointer"
                                   class="fas fa-trash-alt"></i></div>
                            <p>{{ perm.descripcion }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {% if permisosFaltantes|length > 0 %}
                        <div onclick="showSelectNewPerm()" class="add-att-btn">
                            <i style="margin-right:8px;font-size:20px" class="fas fa-plus-circle"></i>Agregar permiso
                        </div>
                    {% else %}
                        <div class="flex-row">
                            <div class="semi-circulo-bloqueado-btn">
                                <i style="margin-right:8px;font-size:20px" class="fas fa-minus-circle"></i>
                                No hay más permisos para agregar
                            </div>
                        </div>
                    {% endif %}
                    <div onclick="closeProjectRolesList()" class="att-menu-opt cirular-close-tdi-info"><i
                            class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--    MODAL PARA AGREGAR PERMISOS A ROL DEL PROYECTO  -->

    {% if agregarPerm and permisosFaltantes|length > 0 and modificable %}
        <div class="modal-container">
            <div class="modal-content" style="min-width: 450px;">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px;" class="fas fa-tasks"></i>Agregar permiso</div>
                    <div class="tdi-id"><strong>al rol:</strong> {{ modRolObj.nombre }}</div>
                    <div class="lista-atributos-titulo" style="border:0"><strong>Selecciona el permiso a
                        agregar</strong></div>
                    <select id="select-perm" class="select-items">
                        {% for perm in permisosFaltantes %}
                            <option value="{{ perm.id }}">{{ perm.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="elements-list-container" style="padding-bottom:15px">
                    <div onclick="addRolePerm({{ modRolObj.id }})" class="add-perm-btn">Agregar</div>
                    <div onclick="closeAddPermToRole()" class="att-menu-opt cirular-close-tdi-info"><i
                            class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--    MODAL DE ROLES DE PROYECTO DE USUARIO    -->

    {% if False and usuarioModRoles != None and modificable %}
        <div class="modal-container">
            <div class="modal-content" style="width:520px">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px;" class="fas fa-user-tag"></i>
                        Configuración de roles
                    </div>
                    <div class="tdi-id"><strong>del usuario:</strong> {{ usuarioMod.username }}</div>
                    <form id="usermod-form" method="POST" action="/proyecto/usuario/rol/agregar">
                        {% csrf_token %}
                        <input type="hidden" name="usuarioId" value="{{ usuarioMod.id }}">
                        <input type="hidden" name="href" id="usermodHref">
                        <input type="hidden" name="usermodRolId" id="usermodRolId">
                    </form>
                    <div class="lista-atributos-titulo">
                        <strong>Roles en el proyecto</strong>
                        <p class="lista-atributos-contador">{{ usuarioModRoles|length }}</p>
                    </div>
                </div>
                <div class="elements-list-container">
                    {% for rol in usuarioModRoles %}
                        <div class="list-item-elem">
                            <div onclick="deleteUsermodRol({{ rol.id }}, {{ usuarioMod.id }}, {{ proyecto.id }})"
                                 data-tooltip-right="Elimiar rol"><i
                                    style="margin-right:15px;color:#a41515cc;cursor:pointer"
                                    class="fas fa-trash-alt"></i></div>
                            <div style="width:285px">
                                <div>{{ rol.nombre }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    {% if usuarioModRolesFaltantes|length > 0 %}
                        <div onclick="showAddRolToUser()" class="add-att-btn">
                            <i style="margin-right:8px;font-size:20px" class="fas fa-plus-circle"></i>Agregar rol
                        </div>
                    {% else %}
                        <div style="margin-top:5px;border:1px solid #888;color:#666;width:300px;padding:10px;border-radius:12px;">
                            <i style="margin-right:8px;font-size:20px" class="fas fa-minus-circle"></i>
                            No hay más roles para agregar
                        </div>
                    {% endif %}

                    <div onclick="closeUsermodRol()" class="att-menu-opt cirular-close-tdi-info">
                        <i class="fas fa-times"></i></div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--    MODAL PARA SELECCIONAR PROYECTO PARA IMPORTAR TIPO DE ÍTEM     -->

    {% if importarTdi is not None and importarTdi %}
        <div class="modal-container">
            <div class="modal-content" style="min-width: 550px;">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px;" class="fas fa-file-import"></i>Importar tipo
                        de ítem
                    </div>
                    <div style="margin:0" class="tdi-id">
                        <strong>al proyecto:</strong> {{ proyecto.nombre }}</div>
                    <div class="lista-atributos-titulo">Seleccione el proyecto de origen</div>
                </div>
                <div class="elements-list-container">
                    {% for proyectoSistema in proyectosSistema %}
                        {% if proyecto.id != proyectoSistema.id %}
                            <div class="list-item-elem">
                                <div class="flex-column">
                                    <div onclick="addUrlParam('tdisDeProyecto', {{ proyectoSistema.id }})"
                                         class="selectable-text"><strong>{{ proyectoSistema.nombre }}</strong></div>
                                    <div class="texto-claro"><strong>Estado </strong>
                                        {{ proyectoSistema.estado|descripcion_estado }}</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <div onclick="closeImportTdi()" class="att-menu-opt cirular-close-tdi-info">
                        <i class="fas fa-times"></i></div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--    MODAL PARA IMPORTAR TIPO DE ÍTEM DE PROYECTO     -->

    {% if proyectoParaImportarTdi is not None %}
        <div class="modal-container">
            <div class="modal-content" style="min-width:450px">
                <div class="modal-header">
                    <div class="tdi-config flex-row">
                        <i style="margin-right:10px;" class="fas fa-file-import"></i>
                        <p>Importar tipo de ítem</p>
                    </div>
                    <div class="tdi-id"><strong>desde el proyecto:</strong> {{ proyectoParaImportarTdi.nombre }}</div>
                    <div class="lista-atributos-titulo">
                        <div style="display:flex;">
                            <strong>Seleccione el tipo de ítem</strong>
                            <p class="lista-atributos-contador">{{ tdisDeProyectoImp|length }}</p>
                        </div>
                    </div>
                </div>
                <div class="elements-list-container">
                    {% for tdiImp in tdisDeProyectoImp %}
                        <div class="list-item-elem">
                            <div onclick="importTdiToProject({{ proyecto.id }}, {{ tdiImp.id }})"
                                 data-tooltip-right="Importar"><i
                                    style="margin-right:15px;cursor:pointer;color:#3875d7"
                                    class="fas fa-file-import"></i></div>
                            <div onclick="addUrlParam('verTdiAttImp', {{ tdiImp.id }})"
                                 data-tooltip-right="Ver atributos"><i
                                    style="margin-right:15px;cursor:pointer;color:#444"
                                    class="fas fa-list"></i></div>
                            <div onclick="addUrlParam('verTdiAttImp', {{ tdiImp.id }})" class="selectable-text">
                                {{ tdiImp.nombre }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <div onclick="removeUrlParam('tdisDeProyecto')" class="att-menu-opt cirular-close-tdi-info">
                        <i class="fas fa-times"></i></div>
                </div>
            </div>
        </div>
    {% endif %}

    <!--    MODAL PARA VER ATRIBUTOS DE TIPO DE ÍTEM IMPORTABLE     -->

    {% if tdiImpDeta is not None %}
        <div class="modal-container">
            <div class="modal-content" style="width:520px">
                <div class="modal-header">
                    <div class="tdi-config"><i style="margin-right:10px;" class="fas fa-list"></i>Atributos</div>
                    <div class="tdi-id"><strong>del tipo de ítem:</strong> {{ tdiImpDeta.nombre }}</div>
                    <div class="lista-atributos-titulo">
                        <div style="display:flex;">
                            <strong>Atributos del típo de ítem</strong>
                            <p class="lista-atributos-contador">{{ atributosDeTdiImp|length }}</p>
                        </div>
                    </div>
                </div>
                <div class="elements-list-container">
                    {% for atributo in atributosDeTdiImp %}
                        <div class="list-item-elem">
                            <div class="flex-column" style="width:285px">
                                <div class="flex-row flex-align-items-center"
                                     style="margin-top:10px;white-space: nowrap;">
                                    <strong>{{ atributo.titulo }}</strong>
                                    <div style="margin-left:8px"
                                         class="tdi-id">{{ atributo.tipo|tipo_descripcion }}</div>
                                    {% if atributo.es_obligatorio and atributo.tipo != 'bool' %}
                                        <div data-tooltip-right="Es obligatorio" style="margin-left: 10px"><i
                                                class="fas fa-lock"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <div onclick="removeUrlParam('verTdiAttImp')" class="att-menu-opt cirular-close-tdi-info">
                        <i class="fas fa-times"></i></div>
                </div>
            </div>
        </div>
    {% endif %}