{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Lista de proyectos" %}{% endblock %}
{% block systemBase_extra_head %}
    <link rel="stylesheet" href="{% static 'css/listaUsuarios.css' %}">
    <link rel="stylesheet" href="{% static 'css/listaProyectos.css' %}">
{% endblock %}

{% block main_container %}
    <!-- Formulario con csrf obligatorio para post -->
    <form id="form-sender" method="POST">
        {% csrf_token %}
        <input id="projectName" type="hidden" name="projectName">
        <input id="projectDesc" type="hidden" name="projectDesc">
        <input id="href" type="hidden" name="href">
    </form>

    <!-- Inicio -->
    <div class="list-container">
        <div class="titulo-lista">
            <p style="margin-right:14px" id="cantidad-usuarios" class="cantidad-usuarios"></p>
            <div id="lp-titulo" class="config-titulo" style="margin-right:16px;">Proyectos</div>
            {% if user|tiene_permiso_sistema:'crear_proyecto' %}
                <div data-tooltip-bottom="Crear nuevo proyecto" onclick="crearProyecto()" class="cirular-add-field">
                    <i style="margin:0" class="fas fa-plus"></i></div>
            {% endif %}
            <div data-tooltip-bottom="Buscar proyecto" onclick="buscarProyecto()" class="cirular-add-field">
                <i style="margin:0" class="fas fa-search"></i></div>
            {% if request.GET.buscar %}
                <div data-tooltip-bottom="Mostrar todos los proyectos" onclick="mostartTodosLosProyectos()" class="cirular-add-field">
                    <i style="margin:0" class="fas fa-list"></i></div>
            {% endif %}
        </div>
        {% if request.GET.buscar %}
            <div style="margin-bottom: 14px; color:#444;">Resultados del filtro <strong>{{ request.GET.buscar }}</strong></div>
        {% endif %}
        <!-- Ordenar usuario por... -->
        <div class="top-options">
            <div class="contenedor_ordenar_por">
            <div class="titulo_ordenar_por">Ordenar por</div>
            <!-- Ordenar por nombre de proyecto -->
            {% if request.GET.ordenarPor == 'nombre' %}
                <div class="item_ordenar_por item_seleccionado">Nombre de proyecto</div>
            {% else %}
                <div onclick="ordenarPor('nombre')" class="item_ordenar_por">Nombre de proyecto</div>
            {% endif %}
            <!-- Ordenar por fecha creación -->
            {% if request.GET.ordenarPor == 'fecha_creacion' %}
                <div class="item_ordenar_por item_seleccionado">Fecha de creación</div>
            {% else %}
                <div onclick="ordenarPor('fecha_creacion')" class="item_ordenar_por">Fecha de creación</div>
            {% endif %}
            <!-- Ordenar por estado -->
            {% if request.GET.ordenarPor == 'estado' %}
                <div class="item_ordenar_por item_seleccionado">Estado</div>
            {% else %}
                <div onclick="ordenarPor('estado')" class="item_ordenar_por">Estado</div>
            {% endif %}
        </div>
        </div>

        <!-- Lista de proyectos -->
        <script>let cantidad_proyectos = 0;</script>
        {% if user|tiene_permiso_sistema:'ver_proyectos_propios' %}
        {% for proyecto in listaProyectos %}
            {% if not request.GET.buscar or request.GET.buscar == proyecto.id|stringformat:"i" or request.GET.buscar == proyecto.estado or request.GET.buscar|lower in proyecto.nombre|lower %}
                <script>cantidad_proyectos += 1;</script>
                <div class="list-element">
                    <div class="imagen-usuario estado-proyecto"
                            {% if proyecto.estado == 'pe' %}
                                data-tooltip="Proyecto pendiente" style="background-color:orange;">
                            {% elif proyecto.estado == 'ac' %}
                                data-tooltip="Proyecto activo" style="background-color:#3465a4;">
                            {% elif proyecto.estado == 'fi' %}
                                data-tooltip="Proyecto finalizado" style="background-color:#19865C;">
                            {% elif proyecto.estado == 'ca' %}
                                data-tooltip="Proyecto cancelado" style="background-color:#a40000;">
                            {% else %}
                                "">
                            {% endif %}
                    {{ proyecto.estado|title }}</div>
                    <div class="desc-usuario">
                        <div class="proyecto-id">id: {{ proyecto.id }}</div>
                        <div class="nombre-usuario">
                            {% if user|tiene_permiso_sistema:'ver_todos_los_proyectos' %}
                                <a href="/proyecto/info/?id={{ proyecto.id }}" class="nombre-desc">{{ proyecto.nombre }}</a>
                            {% else %}
                                <div class="nombre-desc">{{ proyecto.nombre }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="element-right-side">
                        <div data-tooltip="Creado el {{ proyecto.fecha_creacion }}"
                             class="opcion-usuario ultima-sesion-usuario"><i class="fas fa-stopwatch"></i></div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}

        <div class="list-element"></div>
    <script>
        $('#cantidad-usuarios').text(cantidad_proyectos);
        if (cantidad_proyectos === 1)
            $('#lp-titulo').text('Proyecto');
    </script>
    </div>
{% endblock %}