<style>
    .roles-container {
        max-width: 200%;
        display: flex;
        flex-wrap: wrap;

    }
    .user-info-container {
        margin-left: 15px;
        max-width: 30%;
    }
    .rol-nota {
        border-radius: 2px;
        font-size: 15px;
        margin: 3px 6px 0 0;
        padding: 3px 5px;
        color: #6a6a6a;
    }
    .remover-usuario-rol {
        margin: 0;
        margin-left: 4px;
        color: #bbb;
        cursor: pointer;
        font-size: 13px;
    }
    .remover-usuario-rol:hover {
        color: #C03728;
    }
    .eres-tu {
        background-color: #5FAC56;
        color: white;
        padding: 1px 5px;
        margin: 0 8px;
        border-radius: 4px;
        font-size: 15px;
        white-space: nowrap;
    }
</style>

<div class="flex-row flex-justify-between flex-align-items-center" style="width:100%;background-color: white">
    <div class="flex-column flex-justify-arround user-info-container">
        <div class="flex-row flex-align-items-center">
            <p style="white-space:nowrap">{{ usuario.first_name }} {{ usuario.last_name }}</p>
            <p style="margin:0 5px">/</p>
            <p {% if user|tiene_permiso_sistema:'ver_todos_los_perfiles' or usuario.username == user.username %}
                onclick="window.location.href = '/usuario/{{ usuario.username }}'" {% endif %}
                class="lista-item-titulo">
                <strong>{{ usuario.username }}</strong>
            </p>
            {% if user.id == usuario.id %}
                <p class="eres-tu">Eres tú</p>
            {% endif %}
        </div>

    </div>
    <div style="margin-right:10px" class="flex-row">
        {% if usuario.id == proyecto.gerente.id %}
            <div style="border-radius:3px" class="elemento-nota-claro texto-claro">Gerente</div>
        {% endif %}
        {% if user.id == proyecto.gerente.id and modificable %}
            <div style="margin:0 0 0 5px" onclick="removeMiembComite({{ usuario.id }})"
                     class="btn-squere-red"><i class="fas fa-trash-alt"></i></div>
        {% endif %}
    </div>
</div>