{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Proyecto info" %}{% endblock %}
{% block systemBase_extra_head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main_container %}
    {% include 'includes/direccionDePagina.html' %}
    <div class="proyecto-config-main-continer">
        <div style="font-family:'Inria Sans';font-size:24px;font-weight:bold">Roles del proyecto</div>
        {% if modificable %}
            <p class="bordered-group-header-top texto-claro" style="max-width:70%">
                Puedes agregar nuevos roles al proyecto definiendo primero su nombre y
                luego sus permisos. Una vez que hayas creado el nuevo rol, lo encontrarás yendo a la pesataña
                <strong>Todos los roles</strong> en la lista de roles exsitentes del proyecto.</p>
            <div class="bordered-group-container">
                <div class="bordered-group-title flex-row flex-align-items-center">
                    <p><strong>Agregar rol</strong></p>
                </div>
                <div class="bordered-group-list-content">
                    <label class="flex-column">
                        <div class="flex-row">
                            <p class="input-titulo">
                                <strong>Nombre para el nuevo rol</strong>
                            </p>
                        </div>
                        <input id="agregar-rol-input" type="text" class="input-text bordes-claros" style="width:auto">
                        <div class="flex-row">
                            <div id="btn-agregar_rol_a_proyecto" style="margin-top:10px"
                                 onclick="agregar_rol_a_proyecto({{ proyecto.id }})"
                                 class="btn-squere-gray">Agregar
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="bordered-group-header-top">
                <p style="margin-bottom:5px"><strong>Roles existentes del proyecto</strong></p>
                <p class="texto-claro" style="margin-bottom:5px">
                    Visualiza y gestiona los roles que creaste para este proyecto.</p>
                <p class="texto-claro" style="max-width:70%">
                    Si quieres asignar uno o más roles a los miembros del proyecto, ve a la
                    <a style="color: #3875D7" href="/proyecto/{{ proyecto.id }}/miembros/">
                        <strong>Configuración de miembros</strong></a>
                    y selecciona la opción de <strong>Asignar nuevo rol</strong> que verás al costado
                    derecho de la lista de miembros existentes.
                </p>
            </div>
        {% else %}
            <div style="margin:13px"></div>
        {% endif %}
        <div class="bordered-group-container">
            <div class="bordered-group-title flex-row flex-align-items-center">
                <p>Roles de <strong>{{ proyecto.nombre }}</strong></p>
            </div>
            <div class="bordered-group-list-content">
                {% include 'roles/listaRolesToInclude.html' %}
            </div>
        </div>
    </div>

    <script>
        var newRoleNameSetted = false;

        function agregar_rol_a_proyecto() {
            if (!newRoleNameSetted) return;
            const rolNombre = $('#agregar-rol-input').val();
            sendRequest(
                '/proyecto/rol/agregar/',
                {
                    'nombre': rolNombre,
                    'proyecto': {{ proyecto.id }},
                    'href': window.location.href
                }
            );
        }

        $(document).ready(function () {
            const button = $('#btn-agregar_rol_a_proyecto');
            $('#agregar-rol-input').on('input', function (e) {
                const texto = $('#agregar-rol-input').val();
                const is_valid = !stringIsNullOrWhitespace(texto);
                if (is_valid && !newRoleNameSetted) {
                    $(button).removeClass('btn-squere-gray');
                    $(button).addClass('btn-squere-green');
                    newRoleNameSetted = true;
                } else if (!is_valid && newRoleNameSetted) {
                    $(button).addClass('btn-squere-gray');
                    $(button).removeClass('btn-squere-green');
                    newRoleNameSetted = false;
                }
            });
        });
    </script>
{% endblock %}