{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Proyecto info" %}{% endblock %}
{% block systemBase_extra_head %}

{% endblock %}

{% block main_container %}
    <style>

    </style>
    {% include 'includes/direccionDePagina.html' %}
    <div class="proyecto-config-main-continer flex-start flex-column">
        <div style="font-family:'Inria Sans';font-size:24px;font-weight:bold;">Miembros del proyecto</div>
        {% if modificable %}
            <p style="max-width: 70%" class="bordered-group-header-top texto-claro">
                Puedes agregar nuevos miembros al proyecto y asignar sus roles dentro del proyecto luego,
                seleccionando la opción <strong>Asignar nuevo rol</strong> que verás al costado derecho en la lista de
                miembros existentes del proyecto.</p>
            <div class="bordered-group-container">
                <div class="bordered-group-title flex-column">
                    <p style="margin-bottom:5px"><strong>Agregar un nuevo miembro</strong></p>
                    <p style="max-width:70%" class="texto-claro">
                        Busca y selecciona uno o varios usuarios para agregar como miembros del proyecto.
                    </p>
                </div>
                {% include 'usuario/seleccionarUsuarioToInclude.html' %}
            </div>
            <div class="bordered-group-header-top">
                <p style="margin-bottom:5px"><strong>Miembros existentes del proyecto</strong></p>
                <p class="texto-claro">Visualiza y gestiona los usuarios que asignaste a este proyecto.</p>
                <p class="texto-claro">Para crear nuevos roles y asignarselo a los miembros del proyecto,
                    ve primero a <a style="color: #3875D7" href="/proyecto/{{ proyecto.id }}/roles/">
                        <strong>Configuración de roles</strong></a> del proyecto.
                </p>
            </div>
        {% else %}
            <div style="margin:13px"></div>
        {% endif %}
        <div class="bordered-group-container">
            <div class="bordered-group-title flex-row flex-align-items-center">
                <p>Lista de miembros del proyecto <strong>{{ proyecto.nombre }}</strong></p>
            </div>
            <div class="bordered-group-list-content">
                {% include 'usuario/listaUsuariosToInclude.html' %}
            </div>
        </div>
    </div>

    <script>
        // Agregar miembros seleccionados
        function sendSelectedUsers(selectedUsers) {
            sendRequest(
                '/proyecto/miembro/agregar/',
                {
                    'usuarios': selectedUsers,
                    'proyecto': {{ proyecto.id }},
                    'href': window.location.href
                }
            );
        }
        // Remover rol de usuario
        function sendRemoveUserRol(usuario, rol) {
            sendRequest(
                '/proyecto/miembro/rol/remover/',
                {
                    'proyecto': {{ proyecto.id }},
                    'usuario': usuario,
                    'rol': rol,
                    'href': window.location.href
                }
            );
        }
        // Remover usuario
        function sendRemoveUser(usuario, lugar) {
            sendRequest(
                '/proyecto/miembro/remover/',
                {
                    'usuario': usuario,
                    'proyecto': lugar,
                    'href': window.location.href
                }
            );
        }
        function reincorporateMember(username = '') {
            $.confirm({
                title: "Reincorporar miembro al proyecto",
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-puzzle-piece',
                content: '<div style="margin-top:10px"><strong>El usuario será reincorporado como miembro del proyecto.</strong></div>' +
                    '<p style="margin:10px 0">Los roles que previamente le fueron asignados han sido removidos, ' +
                    'debe darle nuevos roles para que tenga acceso a las partes del proyecto.</p>' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<input class="confirm-value-input text-input" value="' + username + '" readonly/>' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Confirmar',
                        btnClass: 'btn-green',
                        action: function () {
                            sendRequest(
                                '/proyecto/miembro/agregar/',
                                {
                                    'usuarios': [username],
                                    'proyecto': {{ proyecto.id }},
                                    'href': window.location.href
                                }
                            );
                        }
                    },
                    cancelar: function () {
                    },
                },
            });
        }
    </script>
{% endblock %}