<div class="modal-container">
    <div class="modal-content">
        <div class="modal-header">
            <div class="tdi-config"><i class="fas fa-users-cog"></i>
                Configuración de miembros
            </div>
            <div class="tdi-id"><strong>del proyecto:</strong> {{ proyecto.nombre }}</div>
            <div class="field-list-head flex-row" style="justify-content:space-between;margin:10px 0;">
                <div class="flex-row">
                    <label>Miembros</label>
                    <p class="lista-atributos-contador">{{ cantidadMiembros }}</p>
                    {% if mostrarMiembrosInactivos %}
                        <div onclick="hideInactiveMembers()" data-tooltip="Ocultar miembros inactivos"
                             style="margin-left:14px;"><i class="fas fa-lightbulb"></i></div>
                    {% else %}
                        <div onclick="showInactiveMembers()" data-tooltip="Mostrar miembros inactivos"
                             style="margin-left:14px;"><i class="far fa-lightbulb"></i></div>
                    {% endif %}
                </div>
                {% if mostrarMiembrosInactivos %}
                    <div class="flex-row">
                        <p class="lista-atributos-contador">+{{ cantidadMiembrosInactivos }}</p>
                        <p style="margin-left:5px;color:#777;">
                            {% if cantidadMiembrosInactivos == 1 %}
                                inactivo {% else %} inactivos
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="elements-list-container">
            {% if mostrarMiembrosInactivos %}
                {% for miembro in miembros_inactivos %}
                    <div class="list-item-elem-del">
                        {% if modificable %}
                            <div class="flex-row flex-justify-end" style="width:72px;">
                                <div data-tooltip-right="Miembro inactivo" style="color:#777;">
                                    <i class="fas fa-bed"></i></div>
                                <div data-tooltip-right="Reincorporar miembro" style="color:#777;"
                                     onclick="addMember({{ proyecto.id }}, '{{ miembro.username }}')">
                                    <i class="fas fa-user-plus"></i></div>
                            </div>
                        {% endif %}
                        <div style="margin-left:10px">
                            <del>{{ miembro.username }}</del>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if gerente is not None %}
                <div style="background-color:#3465a411" class="list-item-elem">
                    <div class="tdi-id" style="margin:0;margin-right:10px">Gerente</div>
                    <div>{{ gerente.username }}</div>
                    <!--<div style="color:#777;">Gerente</div>-->
                </div>
            {% endif %}
            {% for miembro in miembros %}
                {% if miembro.id != gerente.id %}
                    <div class="list-item-elem">
                        {% if modificable %}
                            <div class="flex-row flex-justify-end" style="width:72px;">
                                <div data-tooltip-right="Inactivar miembro" style="color:#877;"
                                     onclick="removeMemb({{ miembro.id }}, {{ proyecto.id }})">
                                    <i class="fas fa-trash-alt"></i></div>
                                <div data-tooltip-right="Modificar roles" style="color:#777;"
                                     onclick="showUsermodRol({{ miembro.id }})">
                                    <i class="fas fa-user-tag"></i></div>
                            </div>
                        {% endif %}
                        <div style="margin-left:10px">{{ miembro.username }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="modal-footer">
            {% if modificable %}
                <div onclick="addMember({{ proyecto.id }})" class="add-field-long"><i
                        class="fas fa-plus"></i> miembro
                </div>
            {% endif %}
            <div onclick="closeMembersList()" class="att-menu-opt cirular-close-tdi-info">
                <i class="fas fa-times"></i></div>
        </div>
    </div>
</div>