<style>
    .roles-container {
        max-width: 200%;
        display: flex;
        flex-wrap: wrap;

    }
    .user-info-container {
        margin-left: 15px;
        max-width: 30%;
    }
    .rol-nota {
        border-radius: 2px;
        font-size: 15px;
        margin: 3px 6px 0 0;
        padding: 3px 5px;
        color: #6a6a6a;
    }
    .remover-usuario-rol {
        margin: 0;
        margin-left: 4px;
        color: #bbb;
        cursor: pointer;
        font-size: 13px;
    }
    .remover-usuario-rol:hover {
        color: #C03728;
    }
    .eres-tu {
        background-color: #5FAC56;
        color: white;
        padding: 1px 5px;
        margin: 0 8px;
        border-radius: 4px;
        font-size: 15px;
        white-space: nowrap;
    }
</style>

<div class="flex-row flex-justify-between flex-align-items-center" style="width:100%;background-color: white">
    <div class="flex-column flex-justify-arround user-info-container">
        <div class="flex-row flex-align-items-center">
            <p style="white-space:nowrap">{{ usuario.first_name }} {{ usuario.last_name }}</p>
            <p style="margin:0 5px">/</p>
            <p {% if user|tiene_permiso_sistema:'ver_todos_los_perfiles' or usuario.username == user.username %}
                onclick="window.location.href = '/usuario/{{ usuario.username }}'" {% endif %}
                class="lista-item-titulo" {% if not usuario|usuario_es_activo_en_proyecto:proyecto %}
                style="text-decoration:line-through;color:#777"{% endif %}>
                <strong>{{ usuario.username }}</strong>
            </p>
            {% if user.id == usuario.id %}
                <p class="eres-tu">Eres tú</p>
            {% endif %}
        </div>

        <div class="flex-row roles-container flex-align-items-center">
            {% if mostrarMiembrosEnFase %}
                {% for rol in usuario|roles_de_usuario_en_fase:fase %}
                    <p class="elemento-nota-claro rol-nota">{{ rol.nombre }}
                        {% if modificable %}
                            <i onclick="deleteUsermodRol({{ rol.id }}, {{ usuario.id }}, {{ proyecto.id }})"
                               class="fas fa-times remover-usuario-rol"></i>
                        {% endif %}
                    </p>
                {% endfor %}
            {% else %}
                {% for rol in usuario|roles_de_usuario_en_proyecto:proyecto %}
                    <p class="elemento-nota-claro rol-nota">{{ rol.nombre }}
                        {% if modificable %}
                            <i onclick="deleteUsermodRol({{ rol.id }}, {{ usuario.id }}, {{ proyecto.id }})"
                               class="fas fa-times remover-usuario-rol"></i>
                        {% endif %}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div style="margin-right:10px" class="flex-row">
        {% if usuario.id == proyecto.gerente.id %}
            <div style="border-radius:3px" class="elemento-nota-claro texto-claro">Gerente</div>
        {% endif %}
        {% if user.id == proyecto.gerente.id %}
            {% if usuario|usuario_es_activo_en_proyecto:proyecto %}
                {% if modificable %}
                    {% if not mostrarMiembrosEnFase and usuario|cantidad_de_roles_de_usuario_en_proyecto_faltantes:proyecto > 0%}
                        <div onclick="addUrlParam('modMiembro', {{ usuario.id }})"
                             class="btn-squere-white flex-justify-between flex-align-items-center"
                             style="margin-right:5px">
                            Asignar nuevo rol<i style="margin:0 0 0 5px;font-size:12px" class="fas fa-plus"></i>
                        </div>
                    {% elif mostrarMiembrosEnFase and usuario|cantidad_de_roles_de_usuario_en_fase_faltantes:fase > 0 %}
                        <div onclick="addUrlParam('modMiembro', {{ usuario.id }})"
                             class="btn-squere-white flex-justify-between flex-align-items-center"
                             style="margin-right:5px">
                            Asignar nuevo rol<i style="margin:0 0 0 5px;font-size:12px" class="fas fa-plus"></i>
                        </div>
                    {% else %}
                        {% if cantidadRolesDeProyecto == 0 %}
                            <div style="margin:0" class="btn-squere-white flex-justify-between flex-align-items-center">
                                No hay roles para asignar
                            </div>
                        {% else %}
                            <div class="btn-squere-white flex-justify-between flex-align-items-center">
                                Ya tiene todos los roles
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if not mostrarMiembrosEnFase %}
                        <div style="margin:0 0 0 5px" onclick="removeMemb({{ usuario.id }}, {{ proyecto.id }})"
                             class="btn-squere-red"><i class="fas fa-trash-alt"></i></div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="btn-squere-white flex-justify-between flex-align-items-center" style="margin-right:5px">
                    Usuario inactivo
                </div>
                {% if modificable and usuario.is_active %}
                    <div onclick="reincorporateMember('{{ usuario.username }}')"
                         class="btn-squere-green flex-justify-between flex-align-items-center">Reincorporar
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>