<script src="https://kit.fontawesome.com/2b8eb4a4fb.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine|Roboto|Staatilches|Poppins|Inter|Sen|Anton|Lobster|Inria+Sans|Oswald">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>