{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<a title="{{brand.name}}"
     class="socialaccount_provider {{provider.id}} {{brand.id}}"
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
{% endfor %}
{% endif %}
<a title="{{provider.name}}" class="socialaccount_provider_container {{provider.id}}"
   href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
    <i class="fab fa-google"></i>
    <div class="socialaccount_provider-content">
         <p class="socialaccount_provider">Inicia sesión con {{provider.name}}</p>
    </div>
</a>
{% endfor %}
