<style>
    .items-contenedor{
        width:100%;
        //background-color: #f9f9f9;
        background-color: #f6f6f6;
        border:2px solid #f2f2f2;
        height:calc(100vh - 190px);
        border-radius: 5px;
        box-shadow: 0 4px 10px 5px #0001;
        overflow: hidden;
        position: relative;
        cursor: grab;
        transform:translateX(-2px);
    }
    .level-block{
        width:100%;
        display: flex;
        flex-direction:row;
        margin:20px 0;
        position: relative;
        overflow: visible;
    }
    .item-element{
        border: 1px solid #ddd;
        margin:0 5px;
        position: absolute;
        vertical-align: middle;
        line-height: normal;
        background-color: white;
        border-radius:2px;
        max-width: 180px;
        overflow: hidden;
        z-index: 50;
        color:#888;
        font-size:14px;
        cursor: pointer;
    }
    .item-element p{
        padding:5px 5px 5px 8px;
    }
    .item-element-hover{
        z-index: 120;
        color:#333;
        box-shadow:0 0 12px 8px #0001;
        border: 1px solid #444;
     }
    .item-element-selected{
        z-index: 100;
        color:#333;
        box-shadow:0 0 12px 8px #0001;
        border: 1px solid #444;
    }
    .item-element-color-bar{
        position: absolute;
        top:0;
        left:0;
        width:3px;
        height:100%;
        background-color:#5E5694;
        transition: .3s;
    }
    .vertex{
        position: absolute;
        background-color:red;
        border-radius:50%;
    }
    .edge{
        position: absolute;
        background-color:#ddd;
    }
    .item-options{
        background-color:#eee;
        font-size: 11px;
        height: 0;
        position: absolute;
        top:0;
        left:3px;
        overflow: hidden;
        width: calc(100% - 15px);
        transition: .3s;
    }
    .item-options i{
        color: #999;
    }
    .item-options i:hover{
        color:#555;
    }
    .group-block{
        position: relative;
    }
    .restore-position-btn{
        position: absolute;
        font-size:30px;
        color:#0003;
        z-index:300;
        left:100%;
        top:7px;
        cursor: pointer;
        transform: translateX(calc(-100% - 10px)) rotate(180deg);
        display:none;
    }
    .restore-position-btn:hover{
        color:#0009;
    }
</style>

<div id="items-contenedor" class="items-contenedor">
    <div class="restore-position-btn" onclick="removeUrlParamList(['x','y'])"><i class="fas fa-external-link-square-alt"></i></div>
</div>

<script>
    {% if request.GET.modItem %}
        let mapDraged = false;
        let itemsContenedor = $('#items-contenedor');
        $(itemsContenedor).on('click', function(e) {
            if (!mapDraged && ($(e.target).hasClass('level-block') || e.target === this)) removeUrlParam('modItem');
        });
        $(itemsContenedor).on('mousedown',()=>mapDraged=false);
        $(itemsContenedor).on('mousemove',()=>mapDraged=true);
    {% endif %}

    $(document).ready(()=>{
        let items = [];
        {% for item in items_trazo %}
            items.push({
                id: {{ item.id }},
                codigo: {{ item.codigo }},
                estado: '{{ item.estado }}',
                contenido: '{{ item.nombre }}',
                prefijo: '{{ item.prefijo|upper }}',
                fase:'{{ item.fase.numero_fase }}',
                padres:[{% for padre in item|item_relaciones:'p' %}{% if padre|item_relacion_padre_es_en_lista_items:items_trazo %}{{ padre.item_relacion.id }},{% endif %}{% endfor %}],
                {% if item|item_tiene_lb %}
                lb: "{{ item|item_lb_nombre }}",
                {% endif %}
            });
        {% endfor %}
        new ItemsMap('items-contenedor').loadMapItems(items);
    });
    //
    // Librería
    //
    function ItemsMap(mapId) {
        this.itemHandler = new ItemHandler(this);
        this.items = undefined;
        this.itemsHeight = 60;
        this.itemsMinWidth = 50;
        this.itemsMaxWidht = 150;
        this.map = document.getElementById(mapId);
        this.groups = [];
        this.levels = [];
        this.edges = [];
        this.mapPosition = {x:0,y:0};
        this.roots = [];
        this.loadMapItems = function (items) {
            this.initializeMapEvents();
            this.items = this.normalizeItems(items);
            this.startDrawItems();
        };
        this.initializeMapEvents = function () {
            let isMouseDown = false;
            let mouseDownPosition = null;
            $(this.map).on('mousedown', (e)=>{
                $(this.map).css('cursor', 'move');
                let pos = $('.group-block').position();
                mouseDownPosition = {x: e.pageX - pos.left, y: e.pageY - pos.top + 20};
                isMouseDown=true;
            });
            $(this.map).on('mouseup', (e)=>{
                $(this.map).css('cursor', 'grab');
                isMouseDown=false;
            });
            $(this.map).on('mousemove', (e)=>{
                if(isMouseDown){
                    $('.group-block').css({
                        left: (e.pageX - mouseDownPosition.x) + 'px',
                        top: (e.pageY - mouseDownPosition.y) + 'px'
                    });
                    $('.restore-position-btn').css('display','block');
                }
            });
        };
        this.normalizeItems = function(items){
            // set item children by parent
            items.forEach(item => {
                if(item.padres) {
                    let padres = items.filter(i => item.padres.includes(i.id));
                    padres.forEach(p => {
                        if (p.hijos) p.hijos.push(item.id);
                        else p.hijos = [].concat(item.id);
                    });
                }
            });
            // load normalization
            let normalizeds = [];
            items.forEach(item => {
                normalizeds.push({
                    id:item.id,
                    fase: item.fase,
                    contenido:item.contenido,
                    prefijo: item.prefijo,
                    codigo: item.codigo,
                    estado:item.estado,
                    padres:item.padres?item.padres:[],
                    hijos:item.hijos?item.hijos:[],
                    lb: item.lb,
                    iter:0,
                    childrenLined:false,
                    htmlList:[],
                });
            });
            return normalizeds;
        };
        this.startDrawItems = function () {
            let left = 0, group = 0;
            let currGroup = this.addGroup(group++);
            let firstLevel = this.addLevel(0, currGroup);
            let trees = 0;
            for (let i = 0; i < this.items.length; i++) {
                if (this.items[i].padres.length===0) { // No tiene padre (es la raíz de un árbol)
                    left += this.drawItem(this.items[i], firstLevel, currGroup, left + 50 * trees, trees); // Dibuja el árbol
                    trees++;
                }
            }
            this.drawEdges(); // Dibuja las aristas formados por los nodos del árbol (ítems)
        };
        this.drawItem = function (item, level, group, left = 0, trees) {
            // Generar y guarda el html del ítem
            let itemElementBarColor = item.estado === 'ap' ? '#29ac24' : item.estado === 'da' ? '#CE3D2E' :
                item.estado === 'er' ? '#ecb735' : item.estado === 'co' ? '#ec94ac' :
                    item.estado === 'pv' ? '#1dc6ec' : '';
            let itemHtml = item.html = $(
                `<div class="item-element item-${item.id}" style="left:${left}px;min-width:${this.itemsMinWidth}px;max-width:${this.itemsMaxWidht}px">
                    <div class="flex-row flex-justify-between">
                        <p style="padding-bottom:0"><strong>${item.prefijo} ${item.codigo}</strong></p>
                        <p style="padding-bottom:0"><strong>${item.lb||''}</strong></p>
                    </div>
                    <p style="padding-top:0;word-break:break-word">${item.contenido}</p>
                    <div class="item-element-color-bar" style="background-color:${itemElementBarColor}"/>
                </div>`);
            item.htmlList.unshift({html:itemHtml,parentLined:false});
            // Agrega el html al nivel actual
            $(level.levelHtml).prepend(itemHtml);
            // Guarda el alto original del html del ítem
            item.height = $(itemHtml).innerHeight();
            // Asigna una altura por defecto al html del ítem
            this.itemHandler.setDefaultHeight(item);
            // Define si el ítem está seleccionado
            if (this.itemHandler.isSelected(item)) this.itemHandler.select(item);
            else this.itemHandler.setMouseEvents(item);
            // Ancho del ítem actual
            let width = $(itemHtml).outerWidth(true);
            let nextLeft = width;
            // Si tiene hijos...
            if (item.hijos.length > 0) {
                // Almacena la posición en X enterior
                let prevLeft = left;
                // Si ya tiene otra instancia en el mapa, no necesita volver a dibujar sus hijos
                if (item.iter === 0) {
                    // Incrementa las veces que el ítem fue dibujado
                    item.iter++;
                    // Genera un nuevo nivel superior al actual o, si ya existe, lo trae
                    let nextLevel = this.addLevel(level.id + 1, group);
                    // Obtiene los hijos del ítem
                    let hijos = this.items.filter(i=>item.hijos.includes(i.id));
                    // Dibuja los hijos del ítem
                    for (let i = 0; i < hijos.length; i++)
                        left += this.drawItem(hijos[i], nextLevel, group, left, trees);
                }
                // Estable la posición del siguiente ítem
                nextLeft = Math.max(left - prevLeft, width);
            }
            // Defien la posición de las aristas y del ítem
            this.setEdgesAndPositions(level, item, itemHtml, width);
            // Dibujar la cabecera de fase
            this.drawFaseHeader(item, itemHtml, level, trees);
            // Dibujar siguiente árbol (iniciando en la posición dada por 'nextLeft')
            return nextLeft;
        };
        this.drawFaseHeader = function (item, itemHtml, level, trees) {
            // Si el ítem es la raiz del árbol
            if (item.padres.length === 0) {
                let itemWidth = $(itemHtml).outerWidth();
                let itemPosLeft = $(itemHtml).position().left;
                let headerLeft = itemPosLeft + itemWidth / 2 - 17;
                let headerHtml = $(
                    `<div style="position:absolute;z-index:100;top:calc(100% + 20px);font-size:19px;color:#777">Fase ${item.fase}</div>`);
                // Append fase header to level
                $(level.levelHtml).append(headerHtml);
                // Set fase header left position
                $(headerHtml).css('left', headerLeft + 'px');
                // Draw edge between fases
                if (trees > 0){
                    let previousRoot = this.roots[this.roots.length - 1];
                    let height = $(itemHtml).outerHeight(true) / 2;
                    this.edges.push({
                        v1: {x: itemPosLeft, y: height},
                        v2: {x: previousRoot.left + previousRoot.width, y: height},
                        level: level,
                    });
                }
                // Save root item
                this.roots.push({
                    item: item,
                    html: itemHtml,
                    left: itemPosLeft,
                    width: itemWidth,
                });
            }
        };
        this.setEdgesAndPositions = function (level, item, itemHtml, width) {
            // Si tiene hijos... genera las líneas de relación con ellos...
            if (item.hijos.length > 0 && !item.childrenLined) {
                // Establece que los hijos de este ítem ya fueron dibujados y no deben volver a dibujarse
                item.childrenLined = true;
                // Extrae el primer y último ítem
                let hijos = this.items.filter(i=>item.hijos.includes(i.id));
                let firstItem = hijos[0].htmlList.find(h=>h.parentLined===false);
                let lastItem = hijos[hijos.length - 1].htmlList.find(h=>h.parentLined===false);
                let firstItemHtml = firstItem.html;
                let lastItemHtml = lastItem.html;
                firstItem.parentLined=true;
                lastItem.parentLined=true;

                // Calcula las posiciones de los vérticas que formarán las aristas
                let v1 = {x: parseFloat($(firstItemHtml).css('left')) + $(firstItemHtml).outerWidth(true) / 2, y: -10};
                let v2 = {x: parseFloat($(lastItemHtml).css('left')) + $(lastItemHtml).outerWidth(true) / 2, y: -10};
                if (v1.x > v2.x) {
                    let aux = v2;
                    v2 = v1;
                    v1 = aux;
                }

                // Establece la posición del ítem
                let posX = Math.max(Math.max((v2.x + v1.x) / 2 - width / 2, 0), parseFloat($(itemHtml).css('left')));
                $(itemHtml).css('left', posX + 'px');

                // Guarda las nuevas aristas (verticales superiores y horizontales)
                this.edges.push({v1: v1, v2: v2, level: level, noArrow: true});
                this.edges.push({v1: {x: (v2.x + v1.x) / 2, y: -10}, v2: {x: (v2.x + v1.x) / 2, y: 0}, level: level, noArrow: true});
            }
            // Si tiene padre... genera las líneas de relación con ellos...
            if (item.padres.length > 0) {
                // Solo dibuja si el ítem no está seleccionado o si tiene un alto menos o igual a itemsHeight + 5
                if (!this.itemHandler.isSelected(item) || item.height <= this.itemsHeight + 5) {
                    // Extrae el alto actual del ítem
                    let height = $(itemHtml).outerHeight(true);
                    // Guarda las nuevas aristas (verticales inferiores)
                    this.edges.push({
                        v1: {x: parseFloat($(itemHtml).css('left')) + width / 2, y: height},
                        v2: {x: parseFloat($(itemHtml).css('left')) + width / 2, y: height + 9},
                        level: level,
                    });
                }
            }
        };
        this.drawEdges = function () {
            for (let i = 0; i < this.edges.length; i++) {
                // Valores por defecto
                let weight = 2; // grosor de las aristas
                let backColor = '#ddd'; // color de las aristas
                // Variables
                let edge = this.edges[i];
                let html = edge.level.levelHtml;
                // Variables de dirección
                let direction = edge.v2.x > edge.v1.x ? 'l' : edge.v2.x < edge.v1.x ? 'r' : edge.v2.y > edge.v1.y ? 'u': 'd';
                let dPosition = {
                    x: edge.v1.x + (direction !== 'l' ? -4 : 0),
                    y: edge.v1.y + (direction === 'r' || direction === 'l' ? -5 : direction === 'u' ? -3 : 0),
                };
                let dIcon = direction === 'r' ? 'fas fa-caret-right' : direction === 'left' ? 'fas fa-caret-left' :
                    direction === 'u' ? 'fas fa-caret-up' : 'fas fa-caret-down';
                // Calcula el alto y el ancho de las aristas
                let w = edge.v2.x - edge.v1.x;
                let h = edge.v2.y - edge.v1.y;
                if (w === 0) w = weight;
                else if (w < 0) {
                    let aux = edge.v1.x;
                    edge.v1.x = edge.v2.x;
                    edge.v2.x = aux;
                    w = Math.abs(w);
                }
                if (h === 0) h = weight;
                else if (h < 0) {
                    let aux = edge.v1.y;
                    edge.v1.y = edge.v2.y;
                    edge.v2.y = aux;
                    h = Math.abs(h);
                }
                if (w > h) w += 2;
                // Calcula el tamaño de la arista en html
                let edgeSize = 'width:' + w + 'px;height:' + h + 'px';
                // Calcula la posición inicial de la arista en html
                let edgePos = 'left:' + edge.v1.x + 'px;top:' + edge.v1.y + 'px;';
                // Coloca la arista dentro del nivel correspondiente al ítem que lo generó
                html.append($('<div class="edge" style="' + edgePos + edgeSize + ';background-color:' + backColor + '"></div>'));
                // Dibuja la flecha de dirección
                if (!edge.noArrow)
                    html.append($(`<div style="position:absolute;left:${dPosition.x}px;
                        top:${dPosition.y}px;width:10px;height:10px;z-index:10;overflow:visible">
                        <i style="transform:translateY(-4px); color:#999" class="${dIcon}"></i></div>`));
            }
        };
        this.addLevel = function (level, group) {
            // Define si el nivel ya existe o no
            let selected = this.levels.find(x => x.id===level && x.group===group.id);
            // Si es un nuevo nivel...
            if (!selected) {
                // Genera el html para nuevo nivel
                let currentLevelHtml = $('<div style="height:'+this.itemsHeight+'px" class="level-block"></div>');
                // Coloca el nivel al comienzo del mapa
                $(group.html).prepend(currentLevelHtml);
                // Guarda la información del nuevo nivel
                let newLevel = {id: level, levelHtml: currentLevelHtml, group:group.id};
                this.levels.push(newLevel);
                // Retorna el nuevo nivel
                return newLevel;
            }
            // Retorna un nivel ya existente
            return selected;
        };
        this.addGroup = function (group) {
            // Define si el grupo ya existe o no
            let selected = this.groups.find(x => x.id === group);
            // Si es un nuevo grupo...
            if (!selected) {
                // Show restore position btn
                if (hasUrlParam('x') || hasUrlParam('y')) $('.restore-position-btn').css('display','block');
                // Obtiene la posición del bloque según la url
                let posX = getUrlParameterValue('x') || 10;
                let posY = (getUrlParameterValue('y') || 20) - 20;
                // Genera el html para nuevo grupo
                let html = $('<div class="group-block" style="top:'+posY+'px;left:'+posX+'px"></div>');
                // Coloca el grupo en el mapa
                $(this.map).append(html);
                // Guarda la información del nuevo grupo
                let newGroup = {id: group, html: html};
                this.groups.push(newGroup);
                // Retorna el nuevo grupo
                return newGroup;
            }
            // Retorna un grupo ya existente
            return selected;
        };
    }

    function ItemHandler(mapHandler) {
        this.mapHandler = mapHandler;
        this.select = function (item,hover=false) {
            let elems = $('.item-' + item.id);
            for (let i = 0; i < elems.length; i++) {
                if(hover) $(elems[i]).addClass('item-element-hover');
                else $(elems[i]).addClass('item-element-selected');
                $(elems[i]).css('height', Math.max(this.mapHandler.itemsHeight, item.height) + 'px');
                $(elems[i].childNodes[2]).css('height', '13px');
                $(elems[i].childNodes[2]).css('padding', '4px 4px 4px 8px');
            }
        };
        this.unselect = function (item) {
            let elems = $('.item-' + item.id);
            for (let i = 0; i < elems.length; i++) {
                $(elems[i]).css('height', this.mapHandler.itemsHeight + 'px');
                $(elems[i]).removeClass('item-element-hover');
                $(elems[i]).removeClass('item-element-selected');
                $(elems[i].childNodes[2]).css('height', '0');
                $(elems[i].childNodes[2]).css('padding', '0');
            }
        };
        this.setMouseEvents = function (item) {
            $(item.html).hover(() => {
                this.select(item,true);
            });
            $(item.html).mouseleave(() => {
                this.unselect(item);
            });
            setTimeout(() => {
                $(item.html).css('transition', '.3s');
            }, 200);
        };
        this.onClickItem = function (item) {
            addUrlParam('modItem',item.id);
        };
        this.isSelected = function (item) {
            return getUrlParameterValue('mostrarTrazo') === '' + item.id;
        };
        this.setDefaultHeight = function (item) {
            $(item.html).css('height', Math.min(Math.max(this.mapHandler.itemsHeight, item.height), this.mapHandler.itemsHeight));
        };
    }

</script>