{% extends 'systemBase.html' %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Menú principal" %}{% endblock %}
{% block systemBase_extra_head %}

{% endblock %}

{% block main_container %}

    <div class="page-title-top-space">
        <div class="flex-row flex-justify-between">
            <h2>Roles del sistema</h2>
            {% if user|tiene_permiso_sistema:'modificar_roles_sistema' %}
                <div style="margin-right:5px" onclick="crearRol()" class="btn-squere-green">Nuevo rol</div>
            {% endif %}
        </div>
    </div>

    {% include 'roles/listaRolesToInclude.html' %}

    <script>
        function crearRol() {
            $.confirm({
                title: "Crear nuevo rol",
                boxWidth: '30%',
                useBootstrap: false,
                icon: "fas fa-plus",
                content: "<div style='margin: 10px 0'>Luego de crear el rol vaya a la pesataña " +
                    "<strong>Todos los roles</strong> y agregue los permisos correspondientes al nuevo rol.</div>" +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<input type="text" placeholder="Ingrese en nombre del rol" class="confirm-value-input text-input" required autofocus/>' +
                    '</div>' +
                    '</form>',
                buttons: {
                    formSubmit: {
                        text: 'Crear',
                        btnClass: 'btn-green',
                        action: function () {
                            const name = this.$content.find('.confirm-value-input').val();
                            if (!name) {
                                fastAlert('Error al intentar guardar',
                                    'Es posible que no haya ingresado un nombre para el rol.',
                                    'red', 'fas fa-bomb');
                                return false;
                            }
                            sendRequest(
                                '/rol/agregar/',
                                {
                                    'rol': name,
                                    'href': window.location.href,
                                }
                            );
                        }
                    },
                    cancelar: function () {
                        //close
                    },
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                }
            });
        }
    </script>
{% endblock %}