<style>
    .perm-nota{
        margin:0 6px 5px 0;
        padding:3px 5px;
        color: #555;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    .cantidad-permisos{
        font-size: 15.5px;
    }
    .remover-rol-perm{
        margin:0;
        margin-left:4px;
        color:#bbb;
        cursor: pointer;
        font-size: 13px;
    }
    .remover-rol-perm:hover{
        color:#C03728;
    }
    .perms-container{
        max-width: 65%;
        display: flex;
        flex-wrap: wrap;
        margin-top:5px;
    }
    .btn-agregar-perm-a-rol{
        border:1px solid #ccc;
        font-size: 14px;
        color: #888;
        height: 32px;
        display: flex;
        align-items: center;
        padding: 0 7px;
        margin-right: 5px;
        border-radius: 2px;
        cursor: pointer;
        transition: 0.4s border;
        white-space: nowrap;
    }
    .btn-agregar-perm-a-rol:hover{
        border:1px solid #777;
    }
</style>

<div class="pos-realtive">
    {% if request.GET.buscar is not None %}
        <div style="position:absolute;transform:translate(2px, -22px)">
            <p class="texto-claro">Resultados de la busqueda: <strong>{{ request.GET.buscar }}</strong></p>
        </div>
    {% endif %}
    <div class="flex-row flex-justify-between header-row flex-align-items-center">
        <div class="flex-row">
            <!-- Mostrar todos o solo aquellos con permisos ya asignados -->
            <div onclick="removeUrlParamList(['todos', 'buscar'])" class="flex-row flex-align-items-center
                    {% if request.GET.todos == 'True' %}list-option-btn{% else %}selected-list-option-btn{% endif %}">
                <p>Roles con permisos</p>
                <p class="elemento-nota">{{ cantidad_roles_no_vacios }}</p>
            </div>
            <div onclick="addUrlParam('todos', 'True', ['buscar'])" class="flex-row flex-align-items-center
                    {% if request.GET.todos == 'True' %}selected-list-option-btn{% else %}list-option-btn{% endif %}">
                <p>Todos los roles</p>
                <p class="elemento-nota">{{ cantidad_roles_totales }}</p>
            </div>
        </div>
        <div class="flex-row flex-align-items-center" style="height:40px">
            <input id="input-buscar-enter" style="width:230px;margin-right:6px;"
                   class="input-text" type="text" placeholder="Buscar rol">
            <div onclick="showFloatMenu()" class="input-text flex-row flex-justify-between flex-align-items-center"
                 style="width:180px;color:#555;cursor:pointer">
                <div id="filtro-titulo">Seleccionar orden y filtro</div>
                <div><i class="fas fa-chevron-down"></i></div>
            </div>
        </div>
    </div>
    <div style="margin-top: 10px">
        <!-- LISTA DE ROLES -->
        {% for rol in lista_roles %}
            {% if not request.GET.buscar or request.GET.buscar == rol.id|stringformat:"i" or request.GET.buscar|lower in rol.nombre|lower %}
                <div class="item-lista flex-row flex-align-items-center flex-justify-between">
                    <div>
                        <div class="flex-row flex-align-items-center">
                            <div {% if user|tiene_permiso_sistema:'modificar_roles_sistema' and not rol|tiene_todos_los_permisos %}
                                onclick="showRolPerms({{ rol.id }})"{% endif %}
                                    class="lista-item-titulo flex-align-items-center">
                                <strong>{{ rol.nombre }}</strong></div>
                                <p style="margin:0 5px">/</p>
                                <div class="texto-claro cantidad-permisos">{{ rol|get_rol_cantidad_permisos }}
                                    {% if rol|get_rol_cantidad_permisos == 1 %}
                                        permiso{% else %}permisos
                                    {% endif %}
                                </div>
                        </div>
                        <!-- LISTA (INFERIOR) DE PERMISOS DE ROLES -->
                        {% if rol|permisos_de_rol|length > 0 %}
                            <hr style="border:0;margin:4px">
                            <div class="flex-row perms-container flex-align-items-center">
                                {% for perm in rol|permisos_de_rol %}
                                    <div class="flex-row">
                                        <p class="elemento-nota-claro perm-nota">{{ perm.descripcion }}
                                            {% if configuracionesDeRolesDeProyecto %}
                                                {% if user.id == proyecto.gerente.id %}
                                                    <i onclick="deletePermFromRole({{ perm.id }}, {{ rol.id }})"
                                                       class="fas fa-times remover-rol-perm"></i>
                                                {% endif %}
                                            {% elif not editandoUsuario %}
                                                {% if request.user|tiene_permiso_sistema:'modificar_roles_sistema' %}
                                                    <i onclick="deletePermFromRole({{ perm.id }}, {{ rol.id }})"
                                                       class="fas fa-times remover-rol-perm"></i>
                                                {% endif %}
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- OPCIONES (AGREGAR PERMISOS/ELIMINAR ROL) -->
                    <div style="margin-right:30px" class="element-right-side flex-row">
                        {% if configuracionesDeRolesDeProyecto %}
                            {% if user.id == proyecto.gerente.id %}
                                {% if not rol|tiene_todos_los_permisos %}
                                    <div onclick="addUrlParam('modRol', {{ rol.id }})"
                                         class="btn-agregar-perm-a-rol flex-justify-between flex-align-items-center">
                                        Agregar permiso<i style="margin:0 0 0 5px;font-size:12px"
                                                          class="fas fa-plus"></i>
                                    </div>
                                {% else %}
                                    <div class="btn-agregar-perm-a-rol flex-justify-between flex-align-items-center">
                                        Ya tiene todos los permisos
                                    </div>
                                {% endif %}
                                <div onclick="removeRole({{ rol.id }})"
                                     class="btn-squere-red"><i class="fas fa-trash"></i>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if not usuario.aprobado and request.user|tiene_permiso_sistema:'modificar_roles_sistema' %}
                                {% if not editandoUsuario %}
                                    {% if not rol|tiene_todos_los_permisos %}
                                        <div onclick="addUrlParam('modRol', {{ rol.id }})"
                                             class="btn-agregar-perm-a-rol flex-justify-between flex-align-items-center">
                                            Agregar permiso<i style="margin:0 0 0 5px;font-size:12px"
                                                              class="fas fa-plus"></i>
                                        </div>
                                    {% else %}
                                        <div class="btn-agregar-perm-a-rol flex-justify-between flex-align-items-center">
                                            Ya tiene todos los permisos
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div onclick="removeRole({{ rol.id }})"
                                     class="btn-squere-red"><i class="fas fa-trash"></i>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <hr style="border:0;border-bottom:1px solid #e5e5e5">
            {% endif %}
        {% endfor %}
    </div>

    <!--    MODAL PARA FILTRAR Y ORDENAR PROYECTOS     -->

    <div id="menu-flotante-ord-flit-back-container" style="display: none;">
        <div onclick="hideFloatMenu()" class="manu-flotante-ord-flit-back"></div>
        <div id="menu-flotante-ord-filt" class="menu-flotante-ord-filt" style="top:50px">
            <div><strong>Ordenar por</strong></div>
            <!-- Nombre de rol -->
            {% if request.GET.ordenarPor == 'nombre' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Nombre</p>
                <script>$('#filtro-titulo').html('Nombre')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'nombre')">Nombre</p>
            {% endif %}
            <!-- Cantidad de permisos -->
            {% if request.GET.ordenarPor == 'cantidadPermisos' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Cantidad de permisos</p>
                <script>$('#filtro-titulo').html('Cantidad de permisos')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'cantidadPermisos')">Cantidad de permisos</p>
            {% endif %}
            <!-- Cantidad de permisos -->
            {% if request.GET.ordenarPor == 'cantidadPermisosInv' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Cantidad de permisos (invertido)</p>
                <script>$('#filtro-titulo').html('Cantidad de permisos')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'cantidadPermisosInv')">Cantidad de permisos (invertido)</p>
            {% endif %}

            <!--#################    FILTROS     ################-->

            <div class="border-top-claro"><strong>Filtrar</strong></div>
            <!-- Pendientes -->
            {% if request.GET.filtro == 'sinPermisos' %}
                <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Sin permisos asignados</p>
            {% else %}
                <p onclick="addUrlParam('filtro', 'sinPermisos')">Sin permisos asignados</p>
            {% endif %}
        </div>
    </div>

</div>

<!--    MODAL PARA AGREGAR PERMISOS A ROL DE <<"" SISTEMA "">>  -->

{% if not editandoUsuario and rolModificando is not None and user|tiene_permiso_sistema:'modificar_roles_sistema' %}
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-content-title">
                <i class="fas fa-tasks"></i>
                <p>Agregar permiso</p>
            </div>
            <div class="flex-row">
                <div class="input-titulo texto-bold">Selecciona el permiso a agregar</div>
            </div>
            <select id="select-perm" class="text-input-full">
                {% for perm in permisosFaltantes %}
                    <option value="{{ perm.id }}">{{ perm.descripcion }}</option>
                {% endfor %}
            </select>
            <div class="flex-row flex-justify-end" style="margin-top: 10px">
                <div onclick="addPermToRol({{ rolModificando.id }})" class="btn-squere-green">Agregar</div>
            </div>
            <!-- addRolePerm -->
            <div onclick="removeUrlParam('modRol')" class="modal-close-button"><i class="fas fa-times"></i></div>
        </div>
    </div>
{% endif %}

<script>
    function removeRole(rolId) {
        $.confirm({
            title: "<p style='font-family:Inria Sans, sans-serif'>Remover rol</p>",
            typeAnimated: true,
            columnClass: 'small',
            boxWidth: '30%',
            useBootstrap: false,
            icon: "fas fa-dumpster-fire",
            content: "<p>¿Está seguro de que desea remover este rol?</p>" +
                "<p style='margin:10px 0'><strong>Advertencia:</strong></p> " +
                    "<p>" +
                    {% if editandoUsuario %}
                        "La confirmación tendrá efecto inmediato y el usuario perderá los permisos correspondientes al rol." +
                    {% else %}
                        "La confirmación tendrá efecto inmediato y todos los usarios con este rol asignado perderán los permisos correspondientes." +
                    {% endif %}
                    "</p>",

            buttons: {
                formSubmit: {
                    text: 'Eliminar',
                    btnClass: 'btn-red',
                    action: function () {
                        const next =
                            {% if editandoUsuario %}
                                '/usuario/rol/remover/';
                            {% elif configuracionesDeRolesDeProyecto %}
                                '/proyecto/rol/remover/';
                            {% else %}
                                '/rol/remover/';
                            {% endif %}
                        sendRequest(
                            next,
                            {
                                {% if editandoUsuario %}
                                    'usuario': {{ usuarioMod.id }},
                                {% endif %}
                                'rol': rolId,
                                'href': window.location.href
                            }
                        );
                    }
                },
                cancelar: function () {
                    //close
                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });
    }
    function addPermToRol(rolId) {
        const selectedPermId = $('#select-perm').val();
        const backto = removeUrlParam('modRol', false);
        const goto =
            {% if configuracionesDeRolesDeProyecto %}
                '/proyecto/rol/permiso/agregar/';
            {% else %}
                '/rol/permiso/agregar/';
            {% endif %}
        sendRequest(
            goto,
            {
                'permiso': selectedPermId,
                'rol': rolId,
                'href': backto
            }
        );
    }
    function showFloatMenu() {
        $('#menu-flotante-ord-flit-back-container').css('display', 'block');
        {% if configuracionesDeRolesDeProyecto %}
            $('#menu-flotante-ord-filt').css('top', '50px');
        {% endif %}
    }
    function hideFloatMenu() {
        $('#menu-flotante-ord-flit-back-container').css('display', 'none');
    }
    function deletePermFromRole(permId, rolId) {
        $.confirm({
            title: "Confirmar remover permiso",
            typeAnimated: true,
            columnClass: 'small',
            boxWidth: '30%',
            useBootstrap: false,
            icon: "fas fa-dumpster-fire",
            content: "<p>¿Está seguro de que desea remover el permiso a este rol?</p>" +
                "<p style='margin:10px 0'><strong>Advertencia:</strong></p> " +
                "<p>La confirmación tendrá efecto inmediato y todos los usarios con este rol asignado perderán " +
                "el permiso correspondiente.</p>",
            buttons: {
                formSubmit: {
                    text: 'Remover',
                    btnClass: 'btn-red',
                    action: function () {
                        const next =
                            {% if configuracionesDeRolesDeProyecto %}
                                '/proyecto/rol/permiso/remover/';
                            {% else %}
                                '/rol/permiso/remover/';
                            {% endif %}
                        sendRequest(
                            next,
                            {
                                'permiso': permId,
                                'rol': rolId,
                                'href': window.location.href
                            }
                        );
                    }
                },
                cancelar: function () {
                    //close
                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });
    }
</script>