{% extends 'systemBase.html' %}
{% load static %}
{% block systemBase_extra_head %}
    <link rel="stylesheet" href="{% static 'css/menuUsuario.css' %}">
    <link rel="stylesheet" href="{% static 'css/listaRoles.css' %}">
{% endblock %}

{% block main_container %}
<form id="roles-sender" method="POST">
    {% csrf_token %}
    <input id="rolename" type="hidden" name="rolename">
    <input id="permname" type="hidden" name="permname">
    <input id="href" type="hidden" name="href">
</form>
    <div class="titulo-lista">
        <p id="cantidad-roles" class="cantidad-roles"></p>
        <p class="config-titulo" style="margin:0 20px 0 10px;">Roles del sistema</p>
        {% if user|tiene_permiso_sistema:'modificar_roles' %}
            <div data-tooltip-bottom="Agregar rol" onclick="crearRol()" class="cirular-add-field">
                <i style="margin:0" class="fas fa-plus"></i></div>
        {% endif %}
        <div data-tooltip-bottom="Buscar rol" onclick="buscarRol()" class="cirular-add-field">
            <i style="margin:0" class="fas fa-search"></i></div>
        {% if request.GET.buscar %}
            <div data-tooltip-bottom="Mostrar todos" onclick="window.location.href='/rol/listar/'" class="cirular-add-field">
                <i style="margin:0" class="fas fa-list"></i></div>
        {% endif %}
    </div>

    {% if request.GET.buscar %}
        <div style="margin-bottom: 14px; color:#444;">Resultados del filtro <strong>{{ request.GET.buscar }}</strong></div>
    {% endif %}

    <script>let cantidad_roles = 0;</script>
{% for rol in lista_roles %}
    {% if not request.GET.buscar or request.GET.buscar == rol.id|stringformat:"i" or request.GET.buscar|lower in rol.nombre|lower %}
        <script>cantidad_roles += 1;</script>
        <div class="user-menu-block-container">
            <div class="user-menu-main-info-block">
                <p class="rol-id">id: {{ rol.id }}</p>
                <h3>{{ rol.nombre }}</h3>
                <p style="color:#444">{{ rol|get_rol_cantidad_permisos }} permisos asignados</p>
            </div>
            <div class="user-menu-main-fields-block">
                <div class="field-container">
                    <div class="field-list-head">
                        {% if user|tiene_permiso_sistema:'modificar_roles' %}
                            <p></p>
                            <div data-tooltip="Elimiar rol {{ rol.nombre }} del sistema"
                                    type="button" onclick="removeRolFromSystem({{ rol.id }}, '{{ rol.nombre }}')" class="simple-remove-rol">
                                <i class="fas fa-minus"></i>
                                <div style="margin-left: 8px">rol</div>
                            </div>
                            <div type="button" onclick="addPerm({{ sistemaPermisos }}, {{ rol|get_rol_permisos_diccionario }}, '{{ rol.nombre }}', {{ rol.id }})"
                                 class="simple-add-field" style="top: 40px"><i class="fas fa-plus"></i> <div style="margin-left: 8px">permiso</div>
                            </div>
                        {% endif %}
                    </div>
                    <div style="margin: 12px 0 2px 8px"><strong>Permisos</strong></div>
                    {% for permiso in rol|get_rol_permisos %}
                        <div class="field-input-content">
                            <input name="{{ permiso.nombre }}" id="{{ permiso.nombre }}" class="text-input" type="text" value="{{ permiso.descripcion }}" readonly>
                            {% if user|tiene_permiso_sistema:'modificar_roles' %}
                                <div data-tooltip="Eliminar permiso del rol" id="remove-perm-{{ permiso.nombre }}"
                                     onclick="removePerm(id, '{{ permiso.nombre }}', '{{ permiso.descripcion }}', '{{ rol.nombre }}', {{ rol.id }})"
                                    class="side-btn unselected-trash"><i class="fas fa-trash-alt"></i></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

    <script>
        $('#cantidad-roles').text(cantidad_roles);
    </script>

{% endblock %}
