{% load static %}

<style>
    .agregar-a-fase-row-btn,
    .agregar-a-fase-sel-btn {
        padding: 12px;
        color: #777;
        cursor: pointer;
        position: relative;
        transition: 0.2s;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .agregar-a-fase-row-btn:hover {
        color: #111;
        font-weight: bold;
    }

    .agregar-a-fase-row-btn:hover:before,
    .agregar-a-fase-sel-btn:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ccc;
        left: 0;
        top: calc(100% - 2px);
    }

    .agregar-a-fase-sel-btn {
        color: #000;
        font-weight: bold;
    }

    .agregar-a-fase-sel-btn:before {
        background-color: #3875d7;
    }
    .circular-color-input-container{
        overflow: hidden;
        margin-left:4px;
        width:15px;
        height:15px;
        border-radius:50%;
        background-color: #D9AB62aa;
    }
    .circular-color-selectable{
        border:0;
        padding:0;
        margin:4px;
        min-width:45px;
        min-height:45px;
        cursor: pointer;
        border-radius: 50%;
    }
    .select-fase-icon-input{
        background-color: transparent;
        border:0;
    }
    .fase-icon-selectable{
        margin:4px;
        min-width:45px;
        min-height:45px;
        font-size: 21px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #fff;
        color: #777;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ddd;
    }
    #fase-icon-selected{
        margin-left:6px;
        font-size:16px;
        color: #D9AB62aa;
    }
    .numero-fase-input{
        text-align:center;
        color:#555;
        height:32px;
        border:0;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
</style>


<div class="agregar-a-fase-titulo flex-row" style="border-bottom:1px solid #ccc">
    {% if proyecto.estado == 'pe' %}
    <div onclick="removeUrlParam('agregar')" class="flex-row flex-align-items-center
                {% if request.GET.agregar != 'roles' %} agregar-a-fase-sel-btn {% else %} agregar-a-fase-row-btn {% endif %}">
        <p>Agregar fases</p>
    </div>
    {% endif %}
    <div onclick="addUrlParam('agregar', 'roles')"
         style="border-left: 1px solid #ddd;border-right: 1px solid #ddd;"
         class="{% if request.GET.agregar == 'roles' or proyecto.estado == 'ac' %} agregar-a-fase-sel-btn {% else %} agregar-a-fase-row-btn {% endif %}">
        Agregar roles de fase
    </div>
</div>
<div style="margin-top:3px">
    <div class="bordered-group-list-content">
        <div class="flex-column">
            {% if not request.GET.agregar and proyecto.estado == 'pe' %}
                <div class="flex-row"><p class="input-titulo"><strong>Nombre para la nueva fase</strong></p></div>
                <input id="agregar-fase-input" type="text" class="input-text-auto bordes-claros">
                <div class="flex-row flex-align-items-center" style="margin-top:10px">
                    <!-- Agregar -->
                    <div id="btn-agregar_fase_a_proyecto"
                         onclick="agregar_fase_a_proyecto({{ proyecto.id }})"
                         class="btn-squere-gray">Agregar
                    </div>
                    <!-- Color e ícono -->
                    <div class="flex-row" style="margin:0 20px;border-radius:4px;border:1px solid #ccc">
                        <div onclick="changeFaseColor()" style="border:0" class="btn-squere-white flex-row">
                            <p>Color</p>
                            <div id="fase-color-circle" class="circular-color-input-container"></div>
                        </div>
                        <div onclick="changeFaseIcon()" style="border:0;border-radius:0;border-left:1px solid #ccc"
                             class="btn-squere-white flex-row">
                            <p>Icono</p>
                            <i id="fase-icon-selected" class="fas fa-folder"></i>
                        </div>
                    </div>
                    <!-- Número de fase -->
                    <div class="flex-row" style="border-radius:4px;border:1px solid #ccc">
                        <div style="border:0" class="btn-squere-white flex-row">
                            <p>Número de la nueva fase</p>
                        </div>
                        <div style="border:0;border-radius:0;border-left:1px solid #ccc;padding:0"
                             class="btn-squere-white flex-row">
                            <input id="numero-fase-input" class="text-input-auto numero-fase-input" type="number"
                                   min="1" max="{{ lista_fases|length|add:1 }}" value="{{ lista_fases|length|add:1 }}">
                        </div>
                    </div>
                </div>
            {% elif request.GET.agregar == 'roles' or proyecto.estado == 'ac' %}
                <div class="flex-row"><p class="input-titulo"><strong>Nombre para el nuevo rol</strong></p></div>
                <input id="agregar-fase-rol-input" type="text" class="input-text-auto bordes-claros">
                <div class="flex-row" style="margin-top:10px">
                    <div id="btn-agregar_fase_rol_a_proyecto"
                         onclick="agregar_fase_rol_a_proyecto()"
                         class="btn-squere-gray">Agregar
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    /* AGREGAR FASES */
    var newFaseNameSetted = false;
    function agregar_fase_a_proyecto() {
        if (!newFaseNameSetted) return;
        const fase = $('#agregar-fase-input').val();
        const nroFase = $('#numero-fase-input').val();
        sendRequest(
            '/proyecto/fase/agregar/',
            {
                'fase': fase,
                'proyecto': {{ proyecto.id }},
                'numero': nroFase,
                'color': currentFaseColor,
                'icono': currentFaseIcon,
                'href': window.location.href,
            }
        );
    }
    $(document).ready(function () {
        const button = $('#btn-agregar_fase_a_proyecto');
        $('#agregar-fase-input').on('input', function (e) {
            const texto = $('#agregar-fase-input').val();
            const is_valid = !stringIsNullOrWhitespace(texto);
            if (is_valid && !newFaseNameSetted){
                $(button).removeClass('btn-squere-gray');
                $(button).addClass('btn-squere-green');
                newFaseNameSetted = true;
            }
            else if (!is_valid && newFaseNameSetted) {
                $(button).addClass('btn-squere-gray');
                $(button).removeClass('btn-squere-green');
                newFaseNameSetted = false;
            }
        });
    });
    /* AGREGAR ROLES DE FASE */
    var newRoleNameSetted = false;
    function agregar_fase_rol_a_proyecto() {
        if (!newRoleNameSetted) return;
        const rol = $('#agregar-fase-rol-input').val();
        sendRequest(
            '/proyecto/fase/rol/agregar/',
            {
                'proyecto': {{ proyecto.id }},
                'rol': rol,
                'href': window.location.href
            }
        );
    }
    $(document).ready(function () {
        const button = $('#btn-agregar_fase_rol_a_proyecto');
        $('#agregar-fase-rol-input').on('input', function (e) {
            const texto = $('#agregar-fase-rol-input').val();
            const is_valid = !stringIsNullOrWhitespace(texto);
            if (is_valid && !newRoleNameSetted){
                $(button).removeClass('btn-squere-gray');
                $(button).addClass('btn-squere-green');
                newRoleNameSetted = true;
            }
            else if (!is_valid && newRoleNameSetted) {
                $(button).addClass('btn-squere-gray');
                $(button).removeClass('btn-squere-green');
                newRoleNameSetted = false;
            }
        });
    });
    /* CAMBIAR COLOR DE FASE */
    var currentFaseColor = '#D9AB62';
    var currentFaseIcon = 'fas fa-folder';
    function changeFaseColor() {
        var colores = [
            '#E74432', '#BA59AE', '#259AF8', '#7974FE', '#8456B7',
            '#62AE31', '#79D64E', '#509F8B', '#F1992E', '#BBE937',
            '#9E9E9E', '#96431B', '#597C8C', '#E74852', '#FEE725',
            '#5A51B5', '#58BFD7', '#EC8D94', '#424242', '#CD3B2B',
            '#E65588', '#C43E4E', '#E076D7', '#407624', '#97AA1E',
            '#D59E24', '#B67C54', '#D9AB62', '#3875D7', '#7D71A6'];
        var html = '<form class="flex-column flex-align-items-center">';
        for (let i = 0; i < colores.length; i += 5){
            html += '<div class="flex-row">';
            for (let j = i; j < i + 5; j++){
                html += '<input type="submit" value="" class="circular-color-selectable" ' +
                    'onclick="setNewFaseColor(\'' + colores[j] + '\')" style="background-color:'+ colores[j] +'"/>';
            }
            html += '</div>';
        }
        html += '</form>';
        $.confirm({
            title: '',
            content: html,
            boxWidth: '300px',
            useBootstrap: false,
            buttons: {
                formSubmit: {
                    text: 'Cancelar',
                    //btnClass: 'btn-blue',
                    action: function () { }
                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });
    }
    function changeFaseIcon() {
        const icons = ['fas fa-folder', 'fas fa-address-book', 'fas fa-address-card', 'fas fa-adjust', 'fab fa-adn',
            'fas fa-align-justify', 'fab fa-algolia', 'fas fa-anchor', 'fas fa-archive', 'fas fa-archway',
            'fas fa-asterisk', 'fas fa-at', 'fas fa-atlas', 'fas fa-award', 'fas fa-backspace',
            'fas fa-balance-scale', 'fas fa-balance-scale-right', 'fas fa-bars', 'fas fa-bell', 'fas fa-bell-slash',
            'fas fa-birthday-cake', 'fab fa-black-tie', 'fas fa-bomb', 'fas fa-bookmark', 'fas fa-box',
            'fas fa-box-open', 'fas fa-boxes', 'fas fa-brain', 'fas fa-bread-slice', 'fab fa-buffer',
            'fas fa-bug', 'fas fa-bullhorn', 'far fa-building', 'fas fa-business-time', 'fas fa-calculator',
            'fas fa-calendar-alt', 'fas fa-camera', 'fas fa-cart-arrow-down', 'fas fa-cash-register', 'fas fa-carrot',
            'fas fa-chart-pie', 'fas fa-chart-line', 'fas fa-chart-bar', 'fas fa-chart-area', 'fas fa-chalkboard',
            'fas fa-check', 'fas fa-city', 'fas fa-clock', 'fas fa-clone', 'fas fa-clipboard-list',
            'fas fa-cloud', 'fas fa-coins', 'fas fa-cogs', 'fas fa-cog', 'fas fa-code',
            'fas fa-comment-alt', 'fas fa-concierge-bell', 'fas fa-compass', 'fas fa-cookie', 'fas fa-copy',
            'fas fa-code-branch', 'fas fa-credit-card', 'fas fa-cube', 'fas fa-database', 'fas fa-desktop',
            'fab fa-dev', 'fas fa-draw-polygon', 'fas fa-edit', 'fas fa-dumpster', 'fas fa-eraser',
            'fas fa-exclamation-triangle', 'fas fa-file-alt', 'fas fa-ethernet', 'fas fa-external-link-alt', 'fas fa-flag',
            'fab fa-git-alt', 'fab fa-github', 'fab fa-gitlab', 'fab fa-gitkraken', 'fas fa-hashtag',
            'fas fa-heart', 'fas fa-hdd', 'fas fa-home', 'fas fa-hourglass', 'fas fa-industry',
            'fas fa-key', 'fas fa-laptop-code', 'fas fa-keyboard', 'fas fa-layer-group', 'fas fa-list-ol',
            'fas fa-lock', 'fas fa-lock-open', 'fas fa-map-marker-alt', 'fas fa-map-pin', 'fas fa-map-signs',
            'fas fa-map-marked-alt', 'fas fa-magic', 'fas fa-money-bill-wave', 'fas fa-money-check-alt', 'fas fa-newspaper',
            'fas fa-network-wired', 'fas fa-object-group', 'fas fa-object-ungroup', 'fas fa-pen-square', 'fas fa-phone-square-alt',
            'fas fa-play', 'fas fa-puzzle-piece', 'fas fa-redo-alt', 'fas fa-server', 'fas fa-share-alt-square',
            'fas fa-sign-in-alt', 'fas fa-sign-out-alt', 'fas fa-sliders-h', 'fas fa-sticky-note', 'fas fa-street-view',
            'fas fa-swatchbook', 'fas fa-tag', 'fas fa-tags', 'fas fa-tasks', 'fas fa-traffic-light',
            'fas fa-trash-alt', 'fas fa-undo-alt', 'fas fa-user-alt', 'fas fa-video', 'fas fa-vote-yea',
            'far fa-window-maximize', 'fas fa-wrench', 'fas fa-warehouse', 'fas fa-wallet', 'fas fa-truck-loading'];
        var html = '<form class="flex-column flex-align-items-center">';
        for (let i = 0; i < icons.length; i += 5){
            html += '<div class="flex-row">';
            for (let j = i; j < i + 5; j++){
                html += '<label><input type="submit" value="" class="select-fase-icon-input" onclick="setNewFaseIcon(\''
                    + icons[j] + '\')"/><i style="color:'+ currentFaseColor + ';border: 2px solid '
                    + currentFaseColor + '" class="fase-icon-selectable ' + icons[j] + '"></i></label>';
            }
            html += '</div>';
        }
        html += '</form>';
        $.confirm({
            title: '',
            content: html,
            boxWidth: '300px',
            useBootstrap: false,
            buttons: {
                formSubmit: {
                    text: 'Cancelar',
                    //btnClass: 'btn-blue',
                    action: function () { }
                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });
    }

    function setNewFaseColor(color) {
        currentFaseColor = color;
        $('#fase-color-circle').css('background-color', color + 'aa');
        $('#fase-icon-selected').css('color', color + 'aa');
    }
    function setNewFaseIcon(icon) {
        currentFaseIcon = icon;
        $('#fase-icon-selected').removeClass();
        $('#fase-icon-selected').addClass(icon);
    }
</script>