{% if agregar_tdi and modificable %}
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-content-title">
                <i class="fas fa-tasks"></i>
                <p>Asignar tipo de ítem a fase</p>
            </div>
            <div class="flex-row">
                <div class="input-titulo texto-bold">Selecciona el tipo de ítem</div>
            </div>
            <select id="select-tdi" class="text-input-full">
                {% for tdi_disp in tdis_disponibles %}
                    <option value="{{ tdi_disp.id }}">{{ tdi_disp.nombre }}</option>
                {% endfor %}
            </select>
            <div class="flex-row flex-justify-end" style="margin-top: 10px">
                <div onclick="addTdiAFase()" class="btn-squere-green">Agregar</div>
            </div>
            <div onclick="removeUrlParam('agregar_tdi')" class="modal-close-button"><i class="fas fa-times"></i></div>
        </div>
    </div>
{% endif %}