{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Fases de proyecto" %}{% endblock %}

{% block main_container %}
    {% include 'includes/direccionDePagina.html' %}
    <div class="proyecto-config-main-continer">
        <div style="font-size:24px;font-weight:bold">Fases del proyecto</div>
        {% if modificable %}
            <p class="bordered-group-header-top texto-claro" style="max-width:65%">
                Puedes agregar nuevas fases al proyecto y luego asignarles uno o varios <strong>Tipos de ítems</strong>
                o crear nuevos <strong>Roles de fase</strong> para asignarselos a los <strong>Miembros</strong>
                del proyecto.
            </p>
            <div class="bordered-group-container">
                {% include 'fases/agregarAFaseToInclude.html' %}
            </div>
            <div class="bordered-group-header-top">
                <strong>Fases existentes del proyecto</strong>
            </div>
        {% else %}
            <div style="margin:10px"></div>
        {% endif %}
        <div class="bordered-group-container">
            <div class="bordered-group-title flex-row flex-column">
                <p>Fases de <strong>{{ proyecto.nombre }}</strong></p>
            </div>
            <div class="flex-row flex-justify-between header-row flex-align-items-center">
                <div class="flex-row">
                    <div onclick="removeUrlParamList(['mostrar','buscar','todos'])" class="flex-row flex-align-items-center
                        {% if not request.GET.mostrar == 'roles' %}
                        selected-list-option-btn {% else %} list-option-btn {% endif %}">
                        Fases
                        <p class="elemento-nota">{{ lista_fases|length }}</p>
                    </div>
                    <div onclick="addUrlParam('mostrar', 'roles', ['buscar'])"
                         class="{% if request.GET.mostrar == 'roles' %}selected-list-option-btn{% else %}list-option-btn{% endif %}">
                        Roles de fases
                    </div>
                </div>
            </div>
            <!-- Lista de elementos de la fase -->
            <div class="bordered-group-list-content">
                {% if request.GET.mostrar == 'roles' %}
                    {% include 'roles/listaRolesToInclude.html' %}
                {% else %}
                    {% include 'fases/listaFasesToInclude.html' %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal para agregar permiso a rol de fase -->
    {% if modRol and modificable and permisosFaltantes|length > 0 %}
        <div class="modal-container">
            <div class="modal-content">
                <div class="modal-content-title">
                    <i class="fas fa-award"></i>
                    <strong>Asignar permiso a rol de fase</strong>
                </div>
                <div class="flex-row">
                    <div class="input-titulo texto-bold">Selecciona el permiso</div>
                </div>
                <select id="select-fase-rol-perm" class="text-input-full">
                    {% for perm in permisosFaltantes %}
                        <option value="{{ perm.id }}">{{ perm.descripcion }}</option>
                    {% endfor %}
                </select>
                <div class="flex-row flex-justify-end" style="margin-top:10px;">
                    <div onclick="addPermToFaseRol()" class="btn-squere-green">Agregar</div>
                </div>
                <div onclick="removeUrlParam('modRol')" class="modal-close-button"><i class="fas fa-times"></i>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        {% if modRol != None %}
        function addPermToFaseRol() {
            const perm = $('#select-fase-rol-perm').val();
            sendRequest(
                '/proyecto/fase/rol/permiso/agregar/',
                {
                    'permiso': perm,
                    'rol': {{ modRol }},
                    'href': removeUrlParam('modRol', false)
                }
            );
        }
        {% endif %}
    </script>
{% endblock %}
