{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Fase info" %}{% endblock %}

{% block systemBase_extra_head %}{% endblock %}

{% block main_container %}

    {% include 'includes/direccionDePagina.html' %}

    <div class="proyecto-config-main-continer">

        {% if not fase.finalizado %}
        <!-- Configuración de roles de miembros en fase -->
        <p class="texto-bold" style="padding:10px;margin-bottom:20px;font-size:18px">
            Configuración de roles de miembros
        </p>
        <div style="border:1px solid #ccc;border-radius:4px">
            <div class="texto-claro" style="padding:10px;border-bottom:1px solid #ccc">
                <p style="max-width:65%">
                    Puedes asignar roles sobre esta fase a los miembros del proyecto.
                    Para crear nuevos roles que asignar, vaya a
                    <a style="color:#3875D7;text-decoration-line:none" class="texto-bold"
                       href="/proyecto/{{ proyecto.id }}/fases/?agregar=roles&mostrar=roles">
                        Configuración de roles de fases
                    </a>
                    del proyecto y defina el nunevo rol de fase, luego podrá asignarle los
                    permisos correspondientes.
                </p>
            </div>
            <div style="padding:0 10px 10px 10px">
                {% include 'usuario/listaUsuariosToInclude.html' %}
            </div>
        </div>
        {% endif %}

        <!-- Tipos de ítems -->

        <div class="texto-bold flex-justify-between flex-align-items-center" style="padding:10px;margin:20px 0;font-size:18px">
            <span>Configuración de tipos de ítems</span>
            {% if modificable %}
            <span class="btn-squere-green" onclick="goto('/proyecto/{{ proyecto.id }}/fases/?agregar_tdi={{ fase.id }}')">Agregar tipo de ítem</span>
            {% endif %}
        </div>
        <div style="border:1px solid #ccc;border-radius:4px">
            <div class="texto-claro" style="padding:10px;border-bottom:1px solid #ccc">
                <p style="max-width:65%">
                    Pudes crear un nuevos tipos de ítem yando a
                    <a style="color:#3875D7;text-decoration-line:none" class="texto-bold" href="/proyecto/{{ proyecto.id }}/tdis/">
                        Configuración de tipos de ítem</a>
                        del proyecto. Una vez que hayas creado nuevos tipos de ítems, puedes ir a
                    <a style="color:#3875D7;text-decoration-line:none" class="texto-bold" href="/proyecto/{{ proyecto.id }}/fases/">
                        Configuración de fases</a> del proyecto para asignarlo a esta fase o a otra.
                </p>
            </div>
            <div style="padding:0 10px 10px 10px">
                {% include 'tdis/listaTdisToInclude.html' %}
            </div>
        </div>

        <!-- LINEAS BASE -->
        <div class="texto-bold flex-justify-between flex-align-items-center" style="padding:10px;margin:20px 0;font-size:18px">
            <span>Líneas base</span>
        </div>
        <div style="border:1px solid #ccc;border-radius:4px">
            <div style="padding:0 10px 10px 10px">
                {% include 'lineaBase/listaLineaBaseToInclude.html' %}
            </div>
        </div>

        <!-- FINALIZAR FASE -->
        <div class="texto-bold flex-justify-between flex-align-items-center" style="padding:10px;margin:20px 0;font-size:18px">
            <span>Estado de la fase</span>
        </div>
        <div style="border:1px solid #ccc;border-radius:4px">
            <div style="padding:10px" class="flex-column">
                {% if fase.finalizado %}
                    <span>Fase finalizada.</span>
                {% elif fase|puede_finalizar_fase %}
                    <span style="margin-bottom:10px;margin-top:5px">Fase abierta</span>
                    {% if user.id == proyecto.gerente.id %}
                        <span style="margin-top:5px;padding-top:10px;border-top:1px solid #ccc"><strong>Puedes finalizar esta fase</strong></span>
                        <span>Una vez que esta operación sea confirmada, la fase no podrá volver a ser modificada.</span>
                        <div class="flex-row" style="margin-top:10px">
                            <div class="btn-squere-blue" onclick="finalizarFase()">Finalizar fase</div>
                        </div>
                    {% endif %}
                {% else %}
                    <span style="margin-bottom:10px;margin-top:5px">Fase abierta</span>
                    {% if user.id == proyecto.gerente.id %}
                    <span style="margin-top:5px;padding-top:10px;border-top:1px solid #ccc"><strong>No puedes finalizar esta fase</strong></span>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <!-- Volver -->

        <div class="flex-row flex-justify-end" style="margin:40px 25px">
            <div onclick="goto('/fase/{{ fase.id }}/')" class="btn-squere-white">Volver</div>
        </div>

    </div>

    <!-- Modal para agregar permiso a rol de fase -->
    {% if modMiembro and modificable and rolesFaltantes|length > 0 %}
        <div class="modal-container">
            <div class="modal-content">
                <div class="modal-content-title">
                    <i class="fas fa-award"></i>
                    <strong>Asignar rol de fase a miembro</strong>
                </div>
                <div class="flex-row">
                    <div class="input-titulo texto-bold">Roles disponibles</div>
                </div>
                <select id="select-fase-rol-memb" class="text-input-full">
                    {% for rol in rolesFaltantes %}
                        <option value="{{ rol.id }}">{{ rol.nombre }}</option>
                    {% endfor %}
                </select>
                <div class="flex-row flex-justify-end" style="margin-top:10px;">
                    <div onclick="addRolToFaseMember()" class="btn-squere-green">Asignar</div>
                </div>
                <div onclick="removeUrlParam('modMiembro')" class="modal-close-button"><i class="fas fa-times"></i>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        {% if modMiembro %}
            function addRolToFaseMember() {
                const rol = $('#select-fase-rol-memb').val();
                sendRequest(
                    '/fase/miembro/rol/agregar/',
                    {
                        'fase': {{ fase.id }},
                        'rol': rol,
                        'miembro': {{ modMiembro }},
                        'href': removeUrlParam('modMiembro', false)
                    }
                );
            }
        {% endif %}
        function sendRemoveUserRol(usermodId, rolId){
            sendRequest(
                '/fase/miembro/rol/remover/',
                {
                    'fase': {{ fase.id }},
                    'miembro': usermodId,
                    'rol': rolId,
                    'href': removeUrlParam('modMiembro', false)
                }
            )
        }
        function finalizarFase() {
            $.confirm({
                title: 'Confirmar finalización de fase',
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-clipboard-check',
                content: `¿Está seguro de que desea finalizar esta fase? Una vez que sea finalizada, la fase no podrá
                          volver a ser modificada ni estaurada a un estado anterior.`,
                buttons: {
                    confirmar: function () {
                        sendRequest(
                            '/fase/{{ fase.id }}/finalizar/',
                            {
                                usuario: {{ user.id }},
                                href: window.location.href
                            }
                        );
                    },
                    cancelar: function () {},
                }
            });
        }
    </script>

{% endblock %}