{% load static %}

<style>
    .fase-item {
        margin: 10px 7px;
    }

    .fase-icono {
        width: 40px;
        max-width: 40px;
        min-width: 40px;
        height: 40px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fase-icono i {
        font-size: 35px;
    }

    .fase-item-nombre {
        color: #333;
        cursor: pointer;
    }

    .fase-item-nombre:hover {
        text-decoration-line: underline;
        color: #111;
    }
</style>
<div class="pos-realtive">

    <!-- Cabecera -->

    {% if request.GET.buscar is not None %}
        <div style="position:absolute;transform:translate(2px, -22px)">
            <p class="texto-claro">Resultados de la busqueda: <strong>{{ request.GET.buscar }}</strong></p>
        </div>
    {% endif %}
    <div class="flex-row flex-justify-between header-row flex-align-items-center" style="padding:5px">
        {% if lista_fases_solo_ver %}
            <p style="font-size:18px">Lista de fases del proyecto</p>
        {% elif request.GET.mostrar != 'roles' and request.GET.mostrar != 'miembros' and modificable %}
            {% if tdis|length == 0 %}
                <div style="padding:10px 0">
                    <p style="margin-bottom:5px">
                        No hay tipos de ítems para asignar.
                    </p>
                    <p class="texto-claro">
                        Para definir nuevos típos de ítems y luego asignarlos a las fases,
                        vaya a la <a href="/proyecto/{{ proyecto.id }}/tdis/" style="color:#3875D7">
                        <strong>configuración de tipos de ítems</strong></a> del proyecto.
                    </p>
                </div>
            {% else %}
                <div style="padding:10px 0">
                    <p>Quedan <strong>{{ cantidad_tdis_disponibles }}</strong>
                        {% if cantidad_tdis_disponibles == 1 %}tipo{% else %}tipos{% endif %} de ítem sin asignar
                        de los <strong>{{ tdis|length }}</strong> existentes.</p>
                </div>
            {% endif %}
        {% else %}
            <div></div>
        {% endif %}
        <div class="flex-row flex-align-items-center" style="height:40px">
            <input id="input-buscar-enter" style="width:230px;margin-right:6px;"
                   class="input-text" type="text" placeholder="Buscar fase">
            <div onclick="showFloatMenu()" class="input-text flex-row flex-justify-between flex-align-items-center"
                 style="width:180px;color:#555;cursor:pointer">
                <div id="filtro-titulo">Seleccionar orden y filtro</div>
                <i style="margin:0" class="fas fa-chevron-down"></i>
            </div>
        </div>
    </div>

    <!-- Lista de fases -->

    <div style="margin-top: 10px">
        {% for fase in lista_fases %}
            {% if not request.GET.buscar or request.GET.buscar == fase.numero_fase|stringformat:"i" or request.GET.buscar|lower in fase.nombre|lower %}
                <div class="fase-item flex-row flex-align-items-center">
                    <div class="pos-realtive fase-icono">
                        <i style="color:{{ fase.color }}bb" class="{{ fase.icono }}"></i>
                    </div>
                    <div class="flex-row flex-justify-between flex-align-items-center" style="width:100%">
                        <div class="flex-column">
                            <p style="font-size:14px;color:#000a">Fase {{ fase.numero_fase }}</p>
                            <div style="font-size:15px" class="fase-item-nombre"
                                {% if proyecto.estado == 'ac' or proyecto.estado == 'fi' %}onclick="goto('/fase/{{ fase.id }}/')"{% endif %}>
                                {{ fase.nombre }}
                            </div>
                        </div>
                        {% if modificable and proyecto.gerente.id == user.id and not ocultar_conf_fases == True and not fase.finalizado %}
                            <div class="flex-row flex-align-items-center flex-justify-end" style="width:55%">
                                <div class="flex-row">
                                    {% if cantidad_tdis_disponibles > 0 %}
                                        <div class="btn-squere-white flex-align-items-center" style="margin-right:5px"
                                             onclick="addUrlParam('agregar_tdi', {{ fase.id }})">
                                            <i class="fas fa-plus" style="margin-right:5px"></i>
                                            <p>Asignar tipo de ítem</p>
                                        </div>
                                    {% else %}
                                        <div class="btn-squere-white flex-align-items-center" style="margin-right:5px">
                                            <p>No hay tipos de ítems para asignar</p>
                                        </div>
                                    {% endif %}
                                    {% if proyecto.estado == 'pe' %}
                                        <div onclick="removeFaseFromProject({{ fase.id }})" class="btn-squere-red">
                                            <i class="fas fa-trash-alt"></i></div>
                                    {% endif %}
                                </div>
                            </div>
                        {% elif fase.finalizado %}
                            <div class="btn-squere-white flex-align-items-center" style="margin-right:5px">
                                <p>Finalizado</p>
                            </div>
                        {% endif %}
                        {% if mostrar_reporte == True %}
                            {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_fase' or user.id == fase.proyecto.gerente.id %}
                                <div onclick="window.location.href='/fase/{{ fase.id }}/reporte/items'" class="btn-squere-white">Reporte de ítems</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!--    MODAL PARA FILTRAR Y ORDENAR USUARIOS     -->

    <div id="menu-flotante-ord-flit-back-container" style="display: none;">
        <div onclick="hideFloatMenu()" class="manu-flotante-ord-flit-back"></div>
        <div class="menu-flotante-ord-filt" style="top:50px;">
            <div><strong>Ordenar por</strong></div>
            <!-- Nombre de fase -->
            {% if request.GET.ordenarPor == 'nombreDeFase' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Nombre de fase</p>
                <script>$('#filtro-titulo').html('Nombre de fase')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'nombreDeFase')">Nombre de fase</p>
            {% endif %}
            <!-- Ultima fase agregada a proyecto -->
            {% if request.GET.ordenarPor == 'ultimoAgregado' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Último agregado</p>
                <script>$('#filtro-titulo').html('Último registrado')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'ultimoAgregado')">Último agregado</p>
            {% endif %}
            <!-- Primera fase agregado a proyecto -->
            {% if request.GET.ordenarPor == 'primeroAgregado' %}
                <p onclick="removeUrlParam('ordenarPor')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Primero agregado (más antiguo)</p>
                <script>$('#filtro-titulo').html('Primero agregado')</script>
            {% else %}
                <p onclick="addUrlParam('ordenarPor', 'primeroAgregado')">Primero agregado (más antiguo)</p>
            {% endif %}

            <!--#################    FILTROS     ################-->

            <div class="border-top-claro"><strong>Filtrar</strong></div>
            <!-- Pendientes -->
            {% if request.GET.filtro == 'pendientes' %}
                <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Pendientes</p>
            {% else %}
                <p onclick="addUrlParam('filtro', 'pendientes')">Pendientes</p>
            {% endif %}
            <!-- Finalizados -->
            {% if request.GET.filtro == 'finalizados' %}
                <p onclick="removeUrlParam('filtro')" class="pos-realtive">
                    <i style="left:25px" class="pos-absolute fas fa-check"></i>Finalizados</p>
            {% else %}
                <p onclick="addUrlParam('filtro', 'finalizados')">Finalizados</p>
            {% endif %}
        </div>
    </div>
</div>

<!--    MODAL PARA AGREGAR TDI A FASE  -->

{% include 'fases/agregarTdiAFaseToInclude.html' %}

<script>
    {% if mod_fase %}
        function addTdiAFase() {
            const tdiId = $('#select-tdi').val();
            sendRequest(
                '/proyecto/fase/tdi/agregar/',
                {
                    'fase': {{ mod_fase.id }},
                    'tdi': tdiId,
                    'href': removeUrlParam('agregar_tdi', false)
                }
            )
        }
    {% endif %}
    function removeFaseFromProject(faseId) {
        $.confirm({
            title: "Remover fase",
            typeAnimated: true,
            columnClass: 'small',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: '<p>¿Está seguro de que desea eliminar esta fase del proyecto? ' +
                'Confirmar la operación tendrá un efecto inmediato e irreversible.</p>',
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-red',
                    action: function () {
                        sendRequest(
                            '/proyecto/fase/remover/',
                            {
                                'fase': faseId,
                                'proyecto': {{ proyecto.id }},
                                'href': window.location.href
                            }
                        )
                    }
                },
                cancelar: function () {
                },
            },
            onContentReady: function () {
                // bind to events
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            }
        });
    }
    function showFloatMenu() {
        $('#menu-flotante-ord-flit-back-container').css('display', 'block');
    }
    function hideFloatMenu() {
        $('#menu-flotante-ord-flit-back-container').css('display', 'none');
    }
</script>
