{% extends 'systemBase.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Fase info" %}{% endblock %}

{% block systemBase_extra_head %}{% endblock %}

{% block main_container %}
    <style>
        .fase-icono {
            width: 40px;
            max-width: 40px;
            min-width: 40px;
            height: 40px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 36px;
        }

        .fase-options-btn {
            margin-left: 10px;
            display: flex;
            align-items: center;
        }

        .fase-options-btn i {
            margin-right: 5px;
            font-size: 13px;
        }

        .item-attr-container {
            position: relative;
            padding-left: 25px;
            background-color: #f2f2f2;
            border-radius: 5px;
            margin-top: 10px;
        }

        .item-attr-container::before {
        / / content: "";
            position: absolute;
            background-color: #333;
            width: 3px;
            height: 100%;
            left: 0;
            top: 0;
        }
    </style>
    {% if request.GET.mostrarTrazo is not None %}

        <div class="flex-row" style="margin-top:20px">
            <div class="pos-realtive fase-icono" style="margin:0 20px;font-size:30px">
                <i style="color:#ccc" class="fas fa-sitemap"></i>
            </div>
            <div class="flex-column">
                <p style="font-size:14px;color:#000a">{{ itemTrazo.prefijo|upper }} {{ itemTrazo.codigo }}</p>
                <div style="font-size:15px" class="fase-item-nombre">{{ itemTrazo.nombre }}</div>
            </div>
        </div>

        <div class="flex-row flex-align-items-center" style="margin-bottom:20px;margin-top:10px">
            <div class="fase-options-btn btn-squere-white" onclick="cerrarTrazo()">
                <i class="fas fa-times"></i>Cerrar trazo
            </div>
            <div class="fase-options-btn btn-squere-white" style="color:#555">Costo en proyecto: {{ costo_total }}</div>
        </div>

        {% include 'fases/items/trazoEstructura.html' %}
    {% else %}
        {% include 'includes/direccionDePagina.html' %}

        <div class="proyecto-config-main-continer">
            <div class="flex-row flex-justify-between flex-align-items-center">
                <div class="flex-row">
                    <div class="pos-realtive fase-icono">
                        <i style="color:{{ fase.color }}bb" class="{{ fase.icono }}"></i>
                    </div>
                    <div class="flex-column">
                        <p style="font-size:14px;color:#000a">Fase {{ fase.numero_fase }}</p>
                        <div style="font-size:15px" class="fase-item-nombre">{{ fase.nombre }}</div>
                    </div>
                </div>
            </div>

            <div class="flex-row flex-align-items-center" style="margin:20px 0">
                {% if user.id == proyecto.gerente.id %}
                    <a href="/fase/{{ fase.id }}/config/" class="btn-squere-white" style="text-decoration-line:none">
                        <i style="margin-right:5px" class="fas fa-wrench"></i>Cofiguración</a>
                {% endif %}
                {% if user|usuario_fase:fase|tiene_permiso_fase:'crear_nuevo_item' and modificable %}
                    <div class="new-item-btn fase-options-btn btn-squere-white"><i class="fas fa-plus"></i>Nuevo ítem
                    </div>
                {% endif %}
                {% if user|usuario_fase:fase|tiene_permiso_fase:'crear_linea_base' and modificable %}
                    <div class="new-lb-btn fase-options-btn btn-squere-white"><i class="fas fa-plus"></i>Nueva línea
                        base
                    </div>
                {% endif %}
                {% if prevId is not None %}
                    <div class="fase-options-btn btn-squere-white" onclick="goto('/fase/' + {{ prevId }})"><i
                            class="fas fa-chevron-left"></i>Fase anterior
                    </div>
                {% endif %}
                {% if sigId is not None %}
                    <div class="fase-options-btn btn-squere-white" onclick="goto('/fase/' + {{ sigId }})"><i
                            class="fas fa-chevron-right"></i>Fase siguiente
                    </div>
                {% endif %}
            </div>
        </div>


        {% include 'fases/items/itemsEstructura.html' %}
    {% endif %}

    <script>
        let addedItemsId = [];
        // Nuevo ítem
        $('.new-item-btn').click(() => {
            $.confirm({
                title: "Agregar ítem",
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-plus',
                content: `
                        <div style="margin:10px 0 30px 0;border:1px solid #d2d2d2;border-radius:5px;overflow:hidden">
                            <div style="padding:5px;background-color:#eee;color:#222">
                                <strong>Asignar relaciones</strong>
                            </div>
                            <p style="padding:5px;color:#444">
                                Para asignar una nueva relación o remover una ya existente, haga click sobre el ítem luego de
                                crearlo para ir al menú de propiedades del mismo.
                            </p>
                        </div>
                        <form action="" class="formName">
                            <div class="form-group" style="position:relative">
                                <div style="display:flex;flex-direction:row;margin-top:20px">
                                    <span style="position:absolute;top:-5px;left:10px;background-color:white"><strong>Prefijo</strong></span><br>
                                    <select id="tag" class="text-input" style="width:130px;margin-right:10px" name="tags">
                                        <option value="rf">RF</option>
                                        <option value="rnf">RNF</option>
                                    </select>
                                    <span style="position:absolute;top:-5px;left:150px;background-color:white"><strong>Código</strong></span><br>
                                    <input id="code" class="confirm-value-input text-input" style="width:140px" value="{{ ultimo_rf }}" readonly/>
                                </div>
                                <br>
                                <span style="position:relative;left:10px"><strong>Nombre, costo y descipción</strong></span><br>
                                <input id="name" class="confirm-value-input text-input" placeholder="Nombre del nuevo ítem" required autofocus/>
                                <input id="price" class="confirm-value-input text-input" style="width:160px" placeholder="Costo"/>
                                <textarea id="desc" style="width:calc(100% - 25px);resize: none;" placeholder="Descripción inicial del ítem"
                                class="confirm-value-input text-input" rows="5" required/>
                                <span style="position:relative;top:13px;left:10px;background-color:white"><strong>Seleccionar el tipo de ítem</strong></span>
                                <div style="display:flex;flex-direction:row;align-items:center">
                                    <select id="tdi" class="text-input" style="width:calc(100% - 7px)" name="tdis">
                                        {% for tdi in tdis %}
                                            <option value="{{ tdi.id }}">{{ tdi.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="btn-squere-white" style="margin-left:5px;font-size:20px"
                                    onclick="goto('/proyecto/{{ proyecto.id }}/fases/?agregar_tdi={{ fase.id }}')">
                                        <i class="fas fa-plus"></i></div>
                                </div>
                                <br>
                                <span style="position:relative;left:10px"><strong>Atributos del tipo de ítem</strong></span>
                                <div id="attr-list"></div>
                                <span style="position:relative;top:13px;left:10px;background-color:white"><strong>Versión inicial</strong></span><br>
                                <input id="version" class="confirm-value-input text-input" value="1.0" required/><br>
                                <br>
                                <!--<span style="position:relative;left:10px"><strong>Asignar padre</strong></span>
                                <select name="" id="padre-select" class="text-input-full">
                                    <option value=""></option>
                                    {% for item_fase in items_fase %}
                                    <option value="{{ item_fase.id }}">{{ item_fase.prefijo|upper }}
                    {{ item_fase.codigo }} - {{ item_fase.nombre }}</option>
                                    {% endfor %}
                                </select>-->
                            </div>
                        </form>`,
                buttons: {
                    formSubmit: {
                        text: 'Confirmar',
                        btnClass: 'btn-green',
                        action: function () {
                            const tag = this.$content.find('#tag').val();
                            const name = this.$content.find('#name').val();
                            const desc = this.$content.find('#desc').val();
                            const tdi = this.$content.find('#tdi').val();
                            const version = this.$content.find('#version').val();
                            const price = this.$content.find('#price').val();
                            const code = this.$content.find('#code').val();
                            //const padre = this.$content.find('#padre-select').val();
                            let attrs = '';
                            let requiredAttrs = true;
                            const list = $('.input-tdi-' + tdi);

                            for (let i = 0, len = list.length; i < len; i++) {
                                // TODO: Verificar que los tipos URL sean direcciones correctas
                                let elem = list[i];
                                let attrId = $(elem).attr('attr-id');
                                let attrValue = '';
                                if ($(elem).attr('type') === 'checkbox')
                                    attrValue = $(elem).is(":checked");
                                else attrValue = $(elem).val();
                                attrs += attrId + '<$s>' + attrValue + (i + 1 === len ? '' : '<$n>');
                                let attrRequired = $(elem).attr('attr-required');
                                if (attrRequired === 'True' && (attrValue === '' || attrValue === undefined || attrValue === null))
                                    requiredAttrs = false;
                            }

                            if (name && desc && price && tdi && requiredAttrs) {
                                sendRequest(
                                    '/fase/{{ fase.id }}/item/agregar/',
                                    {
                                        // estado
                                        prefijo: tag,
                                        nombre: name,
                                        descripcion: desc,
                                        tdi: tdi,
                                        version: version,
                                        costo: price,
                                        codigo: code,
                                        atributos: attrs,
                                        //padre: padre,
                                        href: window.location.href
                                    }
                                );
                            } else {
                                $.alert({
                                    title: 'Error',
                                    content: 'ingrese todos los campos requeridos para registrar el nuevo ítem.',
                                    boxWidth: '35%',
                                    useBootstrap: false,
                                    icon: 'fas fa-exclamation-triangle',
                                });
                                return false;
                            }
                        }
                    },
                    cancelar: function () {
                    },
                },
                onContentReady: function () {
                    let onTdiChange = function () {
                        let tdiId = $('#tdi').val();
                        let html = $(`
                                <div class="item-attr-container">
                                    <br>
                                    {% for tdi in tdis %}
                                    {% for attr in tdi|atributos_de_tdi %}
                                    <div class="tdi-{{ tdi.id }}" style="display:none;flex-direction:column;margin:3px 0">
                                        {% if attr.tipo == "bool" %}
                                        <label class="att-boo-block flex-row">
                                            <span style="margin-right:5px"><u>{{ attr.titulo }}</u></span>
                                            <input attr-id="{{ attr.id }}" {% if attr.es_obligatorio %}checked
                        {% endif %} class="input-tdi-{{ tdi.id }}" type="checkbox" attr-required="False">
                                            <span class="checkmark"></span>
                                        </label>
                                        {% elif attr.tipo == 'str' %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ attr.titulo }}</u></span>
                                            {% if attr.es_obligatorio %}<strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <textarea rows="2" attr-id="{{ attr.id }}" class="input-tdi-{{ tdi.id }}
                             text-input" attr-required="{{ attr.es_obligatorio }}">{{ attr.defecto }}</textarea>
                                        {% else %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ attr.titulo }}</u></span>
                                            {% if attr.es_obligatorio %}<strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <input attr-id="{{ attr.id }}" attr-required="{{ attr.es_obligatorio }}" type="
                            {% if attr.tipo == 'num' %}number{% elif attr.tipo == 'url' %}url{% endif %}"
                                        class="text-input input-tdi-{{ tdi.id }}" value="{{ attr.defecto }}">
                                        {% endif %}
                                        <br>
                                    </div>
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                            `);
                        $('#attr-list').html(html);
                        $('.tdi-' + tdiId).css('display', 'flex');
                    };
                    // on prfix selection changed
                    $('#tag').change(function () {
                        if ($(this).val() === 'rf') $('#code').val("{{ ultimo_rf }}");
                        else if ($(this).val() === 'rnf') $('#code').val("{{ ultimo_rnf }}");
                    });
                    // on tdi change
                    onTdiChange();
                    $('#tdi').change(() => onTdiChange());
                    // bind to events
                    let jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                },
            });
        });
        // Nueva línea base
        $('.new-lb-btn').click(() => {
            $.confirm({
                title: "Agregar línea base",
                boxWidth: '30%',
                useBootstrap: false,
                icon: 'fas fa-plus',
                content: `
                        <form action="" class="formName">
                            <div class="form-group" style="position:relative">
                                <div style="display:flex;flex-direction:row;margin-top:20px">
                                    <span style="position:absolute;top:-5px;left:10px;background-color:white"><strong>Nombre</strong></span><br>
                                    <input id="code" class="confirm-value-input text-input" style="width:110px" value="LB-{{ fase.numero_fase }}-{{ cant_lb }}" readonly/>
                                    <span style="position:absolute;top:-5px;left:150px;background-color:white"><strong>Versión</strong></span><br>
                                    <input id="code" class="confirm-value-input text-input" style="width:100px;margin-left:10px" value="1.0" readonly/>
                                </div>
                                <br>
                                <span style="position:relative;top:13px;left:10px;background-color:white"><strong>Seleccionar ítems</strong></span>
                                <div style="display:flex;flex-direction:column;margin-top:20px">
                                    {% for item in items %}
                                        {% if item.id|puede_agregarse_a_lb %}
                                        <div id="item-{{ item.id }}" style="padding:15px 10px;border-bottom:1px solid #ccc;display:flex;
                                        flex-direction:row;justify-content:space-between;align-items:center">
                                            <span>{{ item.prefijo|upper }} {{ item.codigo }}: {{ item.nombre }}</span>
                                            <div style="display:flex;flex-direction:row">
                                                <span onclick="onItemSelect({{ item.id }})"
                                                    class="btn-agregar-{{ item.id }} btn-squere-blue">Agregar</span>
                                                <span class="btn-agregado-{{ item.id }} btn-squere-gray"
                                                    style="margin-right:10px;display:none;background-color:white">Agregado</span>
                                                <span onclick="onItemDeselect({{ item.id }})"
                                                    class="btn-no-agregar-{{ item.id }} btn-squere-red"
                                                    style="display:none">No agregar</span>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </form>`,
                buttons: {
                    formSubmit: {
                        text: 'Confirmar',
                        btnClass: 'btn-green',
                        action: function () {
                            if (addedItemsId.length === 0) {
                                $.alert({
                                    title: 'Error',
                                    content: 'Seleccione al menos un ítem para agregar a la línea base.',
                                    boxWidth: '35%',
                                    useBootstrap: false,
                                    icon: 'fas fa-exclamation-triangle',
                                });
                                return false;
                            }

                            sendRequest(
                                '/lineaBase/crear/',
                                {
                                    // estado
                                    items: addedItemsId.join(','),
                                    fase: {{ fase.id  }},
                                    creador: {{ user.id }},
                                    href: window.location.href
                                }
                            );
                        }
                    },
                    cancelar: function () {
                    },
                },
                onContentReady: function () {

                    onItemSelect = function (id) {
                        addedItemsId.push(id);
                        $('.btn-agregar-' + id).css('display', 'none');
                        $('.btn-agregado-' + id).css('display', 'flex');
                        $('.btn-no-agregar-' + id).css('display', 'flex');
                    };
                    onItemDeselect = function (id) {
                        addedItemsId = addedItemsId.filter(i => i !== id);
                        $('.btn-agregar-' + id).css('display', 'flex');
                        $('.btn-agregado-' + id).css('display', 'none');
                        $('.btn-no-agregar-' + id).css('display', 'none');
                    };

                    // bind to events
                    let jc = this;
                    this.$content.find('form').on('submit', function (e) {
                        // if the user submits the form by pressing enter in the field.
                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                },
            });
        });

        function previousFase() {
            goto('/fase/' + {{ prevId }});
        }

        function nextFase() {
            goto('/fase/' + {{ sigId }});
        }

        {% if request.GET.mostrarTrazo is not None %}

            function previousFaseTrazo() {
                goto('/fase/' + {{ prevId }} +"/?mostrarTrazo=" + {{ request.GET.mostrarTrazo }});
            }

            function nextFaseTrazo() {
                goto('/fase/' + {{ sigId }} +"/?mostrarTrazo=" + {{ request.GET.mostrarTrazo }});
            }

            function cerrarTrazo(){
                goto('/fase/' + {{ itemTrazo.fase.id }} +"/?modItem=" + {{ itemTrazo.id }});
            }

        {% endif %}
    </script>

{% endblock %}