{% extends 'base.html' %}

{% block body %}
    <div class="main-content">
        <div class="content-headder">{% block content_header %}{% endblock %}</div>
        <div class="content-body">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
