{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmar E-mail" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirmar E-mail" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Por favor confirme que <a href="mailto:{{ email }}">{{ email }}</a> es una direccion de correo para el usuario {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirmar' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Este link de confirmación expiró o es inválido. Por favor <a href="{{ email_url }}">emita una nueva solicitud de confirmación de correo</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
