 <!-- Custom fonts for this template-->
  <!--link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"-->
  <!--link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"-->

  <!-- Custom styles for this template-->
  <!--link href="css/sb-admin-2.min.css" rel="stylesheet"-->

{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Iniciar sesión" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-title">
    <h1>{% trans "Bienvenido<br>a Eleven Panda" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
        <p>No se ha encontrado ningún proveedor externo, consulte a soporte técnico sobre este problema.</p>
    {% endif %}
</div>
{% endblock %}

