{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cerrar Sesión" %}{% endblock %}

{% block content %}
<br>
<h1>{% trans "Cerrar sesión" %}</h1>
<p>{% trans '¿Está seguro de que quiere salir?' %}</p>
<br>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="semi-circular-btn" type="submit">{% trans 'Cerrar' %}</button>
</form>


{% endblock %}
