{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Cambiar contraseña" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Cambiar contraseña" %}</button>
    </form>
{% endblock %}
