{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Cambiar contraseña" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}El link para restablecer la contraseña fue invalido, posiblemente porque ya ha sido usado. Por favor solicite un <a href="{{ passwd_reset_url }}"> nuevo restablecimiento de contraseña</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Tu contraseña ha cambiado.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
