{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Restablecer constraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Restablecer contraseña" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Le enviamos un e-mail. Por favor contacte con nosotros si no lo recibe en unos minutos.{% endblocktrans %}</p>
{% endblock %}
