{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Cambiar contraseña" %}{% endblock %}

{% block content %}
    <h1>{% trans "Cambiar contraseña" %}</h1>
    <p>{% trans 'Tu contraseña ha cambiado.' %}</p>
{% endblock %}
