{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Restablecer contraseña" %}{% endblock %}

{% block content %}

    <h1>{% trans "Restablecer contraseña" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Olvidó su contraseña? Ingrese su e-mail abajo, y le enviaremos un e-mail permitiéndole restablecerla." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Por favor contáctenos si tiene algún problema restableciendo su contraseña.{% endblocktrans %}</p>
{% endblock %}
