{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Registración cerrada" %}{% endblock %}

{% block content %}
<h1>{% trans "Registración cerrada" %}</h1>

<p>{% trans "Lo sentimos, pero el registro está actualmente cerrado." %}</p>
{% endblock %}
