{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Regístrate" %}{% endblock %}

{% block content %}
<h1>{% trans "Regístrate" %}</h1>

<p>{% blocktrans %}Ya tienes una cuenta? Entonces por favor <a href="{{ login_url }}">inicia sesión</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Regístrate" %} &raquo;</button>
</form>

{% endblock %}
