{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Solicitud en espera" %}{% endblock %}

{% block content %}
<br>
<h1>{% trans "Solicitud en espera" %}</h1>

{% blocktrans %}
<br><p>Hemos enviado tu solicitud de registro para que alguien lo verifique.
    Usted ya ha inicaido sesión, pero no será capaz de utilizar ninguna funcionalidad del sistema hasta recibir
    los permisos para hacerlo.</p>
<br><p>Por favor contacte con el encargado de verificación si no recibe ninguna
    respuesta en unos minutos.</p>
{% endblocktrans %}

<a class="semi-circular-btn" style="margin-top: 20px" href="{% url 'account_logout' %}">Cerrar sesión</a>

{% endblock %}
