{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verifique su dirección de correo" %}{% endblock %}

{% block content %}
<h1>{% trans "Verifique su dirección de correo" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Esta parte del sitio requiere que
verifiquemos que eres quien dices ser. Para este propósito, requerimos que usted
verifique la propiedad de su dirección de correo electrónico. {% endblocktrans %}</p>

<p>{% blocktrans %}Le hemos enviado un e-mail para
verificación. Por favor click sobre el link que contiene este e-mail. Por favor
contactanos si no lo recibe en unos minutos.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Note:</strong> Todavia puedes <a href="{{ email_url }}">cambiar tu dirección de correo</a>.{% endblocktrans %}</p>


{% endblock %}
