<style>
    .directorio-contenerdor{
        margin-top: 5px;
        padding: 15px 3px;
        border-bottom: 1px solid #ccc;
        font-size: 14.5px;
    }
    .directorio-contenerdor a{
        font-family: 'Inria Sans', sans-serif;
    }
    .directorio-contenerdor a,
    .directorio-contenerdor i{
        color: #777;
    }
    .directorio-contenerdor a:hover{
        color: #444;
        text-decoration-line: underline;
    }
    .directorio-contenerdor i{
        font-size: 10px;
        margin: 0 10px;
    }
    .dir-contenedor a{
        text-decoration-line:none;
    }
</style>
<div class="dir-contenedor flex-row directorio-contenerdor flex-align-items-center">
    {% for directorio in directorios %}
        {% if forloop.counter0 > 0 %}
             <i class="fas fa-chevron-right"></i>
        {% endif %}
        {% if forloop.counter == directorios|length %}
            <a class="texto-bold" href="{{ directorio.href }}">{{ directorio.nombre }}</a>
        {% else %}
            <a href="{{ directorio.href }}">{{ directorio.nombre }}</a>
        {% endif %}
    {% endfor %}
</div>