<style>
    .item-option-container{
        display: flex;
        flex-direction: column;
    }
    .head-bar{
        border-bottom:1px solid #ddd;
        height:40px;
        padding:0 15px;
    }
    .head-bar i{
        color: #777;
        cursor: pointer;
    }
    .head-bar i:hover{
        color: #222;
    }
    .mod-item-panel-list-item{
        padding:10px 5px;
        background-color:#eee;
    }
    .mod-item-panel-list-item i{
        color:#777;
    }
    .mod-item-panel-list-item:hover{
        background-color: #ddd;
        cursor: pointer;
    }
    .campo-estado{
        position:relative;
        border: 2px solid #5E5694;
    }
    .campo-estado:before{
        content: "";
        position: absolute;
        top:0;
        left:0;
        width:7px;
        height:100%;
        background-color:#5E5694;
    }
</style>
<div class="item-option-container">
    <div class="head-bar flex-justify-between flex-align-items-center">
        <span><strong>RF {{ modItem.codigo }}</strong></span>
        <i onclick="removeUrlParam('modItem')" class="fas fa-times"></i>
    </div>
    <div style="padding:10px">

        <!-- VERSIONAR CAMBIOS -->

        {% if modItem.estado == 'pv' %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'versionar_item' and modificable %}
                <div style="margin:10px 5px"><strong>Versionar</strong></div>
                <div class="btn-squere-green" style="flex-grow:1;margin-top:5px" onclick="crearVersion()">
                    VERSIONAR CAMBIOS
                </div>
                <div class="btn-squere-red" style="flex-grow:1;margin-top:5px" onclick="deshacerCambios()">
                    DESHACER CAMBIOS
                </div>
            {% endif %}
        {% endif %}

        <!-- CAMBIAR ESTADO -->
        <div style="margin:10px 5px"><strong>Acciones</strong></div>

        {% if modItem.estado == 'pe' %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'aprobar_pendiente' and modificable %}
                <div class="btn-squere-green" style="flex-grow:1" onclick="confirmarItem()">APROBAR</div>
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_item' and modificable %}
                <div class="btn-squere-red" style="flex-grow:1;margin-top:5px" onclick="deshabilitarItem()">
                    DESHABILITAR
                </div>
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' or user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                <div style="margin:10px 5px"><strong>Visualizar</strong></div>
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff8a00;border:1px solid #ff5d00"
                         onclick="mostrarTrazo()">MOSTRAR TRAZO
                    </div>
                {% endif %}
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff2da1;border:1px solid #d12584"
                         onclick="mostrarHistorial()">MOSTRAR HISTORIAL
                    </div>
                {% endif %}
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_item' and modificable %}
                <div style="margin:10px 5px"><strong>Atributos</strong></div>
                <div id="btn-mod-item" class="btn-squere-blue" style="margin-top:10px">MODIFICAR</div>
            {% endif %}
        {% endif %}

        {% if modItem.estado == 'ap' %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_item' and modificable and not modItem|item_tiene_lb %}
                <div class="btn-squere-red" style="flex-grow:1;margin-top:5px" onclick="deshabilitarItem()">
                    DESHABILITAR
                </div>
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' or user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                <div style="margin:10px 5px"><strong>Visualizar</strong></div>
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff8a00;border:1px solid #ff5d00"
                         onclick="mostrarTrazo()">MOSTRAR TRAZO
                    </div>
                {% endif %}
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff2da1;border:1px solid #d12584"
                         onclick="mostrarHistorial()">MOSTRAR HISTORIAL
                    </div>
                {% endif %}
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_item' and modificable and not modItem|item_tiene_lb %}
                <div style="margin:10px 5px"><strong>Atributos</strong></div>
                <div id="btn-mod-item" class="btn-squere-blue" style="margin-top:10px">MODIFICAR</div>
            {% endif %}
        {% endif %}

        {% if modItem.estado == 'da' %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_item' and modificable %}
                <div class="btn-squere-green" style="flex-grow:1" onclick="activarItem()">ACTIVAR</div>
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff2da1;border:1px solid #d12584"
                     onclick="mostrarHistorial()">MOSTRAR HISTORIAL
                </div>
            {% endif %}
        {% endif %}

        {% if modItem.estado == 'er' %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'aprobar_en_revision' and modificable %}
                <div class="btn-squere-green" style="flex-grow:1" onclick="aprobarItemLbRota()">APROBAR REVISIÓN</div>
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' or user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                <div style="margin:10px 5px"><strong>Visualizar</strong></div>
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff8a00;border:1px solid #ff5d00"
                         onclick="mostrarTrazo()">MOSTRAR TRAZO
                    </div>
                {% endif %}
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff2da1;border:1px solid #d12584"
                         onclick="mostrarHistorial()">MOSTRAR HISTORIAL
                    </div>
                {% endif %}
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_item' and modificable %}
                <div style="margin:10px 5px"><strong>Atributos</strong></div>
                <div id="btn-mod-item" class="btn-squere-blue" style="margin-top:10px">MODIFICAR</div>
            {% endif %}
        {% endif %}

        {% if modItem.estado == 'co' %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'aprobar_comprometido' and modificable %}
                <div class="btn-squere-green" style="flex-grow:1" onclick="confirmarItem()">APROBAR COMPROMETIDO</div>
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' or user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                <div style="margin:10px 5px"><strong>Visualizar</strong></div>
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff8a00;border:1px solid #ff5d00"
                         onclick="mostrarTrazo()">MOSTRAR TRAZO
                    </div>
                {% endif %}
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff2da1;border:1px solid #d12584"
                         onclick="mostrarHistorial()">MOSTRAR HISTORIAL
                    </div>
                {% endif %}
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_item' and modificable and not modItem|item_tiene_lb %}
                <div style="margin:10px 5px"><strong>Atributos</strong></div>
                <div id="btn-mod-item" class="btn-squere-blue" style="margin-top:10px">MODIFICAR</div>
            {% endif %}
        {% endif %}

        {% if modItem.estado == 'pv' %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' or user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                <div style="margin:10px 5px"><strong>Visualizar</strong></div>
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_trazo' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff8a00;border:1px solid #ff5d00"
                         onclick="mostrarTrazo()">MOSTRAR TRAZO
                    </div>
                {% endif %}
                {% if user|usuario_fase:fase|tiene_permiso_fase:'ver_historial_items' %}
                    <div class="btn-squere-blue" style="margin-top:5px;background-color:#ff2da1;border:1px solid #d12584"
                         onclick="mostrarHistorial()">MOSTRAR HISTORIAL
                    </div>
                {% endif %}
            {% endif %}
            {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_item' and modificable %}
                <div style="margin:10px 5px"><strong>Atributos</strong></div>
                <div id="btn-mod-item" class="btn-squere-blue" style="margin-top:10px">MODIFICAR</div>
            {% endif %}
        {% endif %}

        <!-- NOMBRE -->
        <div style="margin:10px 5px"><strong>Nombre</strong></div>
        <div style="background-color:#eee;border-radius:4px;padding:5px">
            <div style="padding:5px">{{ modItem.nombre }}</div>
        </div>

        <!-- DESCRIPCIÓN -->
        <div style="margin:10px 5px"><strong>Descripción</strong></div>
        <div style="background-color:#eee;border-radius:4px;padding:5px">
            <div style="padding:5px">{{ modItem.descripcion }}</div>
        </div>

        <!-- ESTADO -->
        <div style="margin:10px 5px"><strong>Estado</strong></div>
        <div style="background-color:#eee;border-radius:4px;padding:5px" class="flex-row flex-align-items-center flex-justify-between">
            <div style="padding:10px 5px">
                {% if modItem.estado == 'pe' %}Pendiente
                {% elif modItem.estado == 'ap' %}Aprobado
                {% elif modItem.estado == 'da' %}Desactivado
                {% elif modItem.estado == 'er' %}En revisión<br>(Línea base rota)
                {% elif modItem.estado == 'co' %}Comprometido
                {% elif modItem.estado == 'pv' %}Pendiente de nuevo versionado
                {% else %}Desconocido{% endif %}</div>
            <div style="margin-right:10px;color:#777"><i class="fas fa-landmark"></i></div>
        </div>

        <!-- COSTO -->
        <div style="margin:10px 5px"><strong>Costo</strong></div>
        <div style="background-color:#eee;border-radius:4px;padding:5px" class="flex-row flex-align-items-center flex-justify-between">
            <div style="padding:10px 5px">{{ modItem.costo }}</div>
            <div style="margin-right:10px;color:#777"><i class="fas fa-bolt"></i></div>
        </div>

        <!-- TIPO DE ÍTEM -->
        <div style="margin:10px 5px" class="flex-column">
            <span><strong>Tipo de ítem</strong></span>
            <span style="color:#444">{{ modItem.tipo_de_item.nombre }}</span>
        </div>
        <div style="background-color:#eee;border-radius:4px;padding:5px">
            {% for din in din_attrs %}
                <div style="padding:10px 5px;border-bottom:1px solid #d2d2d2">
                <div class="flex-column">
                    <span style="margin-bottom:3px"><strong>{{ din.atributo.titulo }}</strong></span>
                    <span>{{ din.valor }}</span>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- LÍNEA BASE -->
        {% if lb is not None %}
        <div style="margin:10px 5px"><strong>Línea base</strong></div>
        <div style="background-color:#eee;border-radius:4px;padding:5px" class="flex-row flex-align-items-center flex-justify-between">
            <div style="padding:10px 5px">{{ lb.nombre }}</div>
            <div style="margin-right:10px;color:#777"><i class="fas fa-vector-square"></i></div>
        </div>
        {% endif %}

        <!-- ARCHIVO ADJUNTO -->
        <div style="margin:10px 5px"><strong>Archivo adjunto</strong></div>
        <div class="flex-row flex-align-items-center" style="border-bottom:1px solid #d2d2d2">
            <div class="mod-item-panel-list-item flex-column" style="flex-grow:1">
                <!-- SI TIENE ARCHIVO ADJUNTO -->
                {% if modItem|item_tiene_arch_adj %}
                    <span onclick="descargarArchivoAdjunto()">{{ modItem.nombre_adjunto }}</span>
                {% else %}
                    <!-- SI NO TIENE ARCHIVO ADJUNTO -->
                    <span id="file-input-span" style="color:#222" onclick="adjuntarArchivo(-1)">Click para adjuntar archivo</span>
                    <input type="file" id="file-input" onchange="adjuntarArchivo(this.files)" style="display:none">
                {% endif %}
            </div>
            <!-- ELIMIAR ARCHIVO ADJUNTO -->
            {% if modItem|item_tiene_arch_adj %}
            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px"
                 onclick="eliminarArchivoAdjunto()">
                <i class="fas fa-eraser" style="padding:0 5px"></i>
            </div>
            {% endif %}
        </div>

        <!-- HIJOS -->
        <div style="margin:10px 5px">
            <strong class="flex-row flex-align-items-center">
                Hijos
                <span style="margin-left:10px" class="elemento-nota-claro">{{ modItem|item_relaciones:'h'|length }}</span>
            </strong>
        </div>
        {% if modItem|item_relaciones:'h'|length > 0 %}
        <div style="background-color:#eee;border-radius:4px;padding:5px">
            {% for rel_item in modItem|item_relaciones:'h' %}
                <div class="flex-row flex-align-items-center" style="border-bottom:1px solid #d2d2d2">
                    <div class="mod-item-panel-list-item flex-column" style="flex-grow:1" onclick="addUrlParam('modItem', {{ rel_item.item.id }})">
                        <span>{{ rel_item.item.prefijo|upper }} {{ rel_item.item.codigo }}</span>
                        <span>{{ rel_item.item.nombre }}</span>
                    </div>
                    <!-- ELIMIAR HIJOS -->
                    {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_relaciones' and modificable %}
                        {% if modItem.estado == 'er' or modItem.estado == 'pr' or modItem.estado == 'pv' %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% elif modItem.estado == 'ap' and not modItem|item_tiene_lb %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% elif modItem.estado == 'co' and not modItem|item_tiene_lb %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- ASIGNAR NUEVO HIJO -->
        {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_relaciones' and modificable %}
            {% if modItem.estado == 'er' or modItem.estado == 'pe' or modItem.estado == 'pv' %}
                <div id="asignar-hijo" class="btn-squere-green">Asignar hijo</div>
            {% elif modItem.estado == 'ap' and not modItem|item_tiene_lb %}
                <div id="asignar-hijo" class="btn-squere-green">Asignar hijo</div>
            {% elif modItem.estado == 'co' and not modItem|item_tiene_lb %}
                <div id="asignar-hijo" class="btn-squere-green">Asignar hijo</div>
            {% endif %}
        {% endif %}
        <!-- PADRES -->
        <div style="margin:10px 5px">
            <strong class="flex-row flex-align-items-center">
                Padres
                <span style="margin-left:10px" class="elemento-nota-claro">{{ modItem|item_relaciones:'p'|length }}</span>
            </strong>
        </div>
        {% if modItem|item_relaciones:'p'|length > 0 %}
        <div style="background-color:#eee;border-radius:4px;padding:5px">
            {% for rel_item in modItem|item_relaciones:'p' %}
                <div class="flex-row flex-align-items-center" style="border-bottom:1px solid #d2d2d2">
                    <div class="mod-item-panel-list-item flex-column" style="flex-grow:1" onclick="addUrlParam('modItem', {{ rel_item.item_relacion.id }})">
                        <span>{{ rel_item.item_relacion.prefijo|upper }} {{ rel_item.item_relacion.codigo }}</span>
                        <span>{{ rel_item.item_relacion.nombre }}</span>
                    </div>
                    <!-- ELIMIAR PADRE -->
                    {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_relaciones' and modificable %}
                        {% if modItem.estado == 'er' or modItem.estado == 'pr' or modItem.estado == 'pv' %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item_relacion.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% elif modItem.estado == 'ap' and not modItem|item_tiene_lb %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item_relacion.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% elif modItem.estado == 'co' and not modItem|item_tiene_lb %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item_relacion.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- SUCESORES -->
        <div style="margin:10px 5px">
            <strong class="flex-row flex-align-items-center">
                Sucesores
                <span style="margin-left:10px" class="elemento-nota-claro">{{ modItem|item_relaciones:'s'|length }}</span>
            </strong>
        </div>
        {% if modItem|item_relaciones:'s'|length > 0 %}
        <div style="background-color:#eee;border-radius:4px;padding:5px">
            {% for rel_item in modItem|item_relaciones:'s' %}
                <div class="flex-row flex-align-items-center" style="border-bottom:1px solid #d2d2d2">
                    <div class="mod-item-panel-list-item flex-column" style="flex-grow:1" onclick="irA_sucesor({{ rel_item.item_relacion.id }})">
                        <span>{{ rel_item.item_relacion.prefijo|upper }} {{ rel_item.item_relacion.codigo }}</span>
                        <span>{{ rel_item.item_relacion.nombre }}</span>
                    </div>
                    <!-- ELIMIAR SUCESOR -->
                    {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_relaciones' and modificable %}
                        {% if modItem.estado == 'er' or modItem.estado == 'pr' or modItem.estado == 'pv' %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item_relacion.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% elif modItem.estado == 'ap' and not modItem|item_tiene_lb %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item_relacion.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% elif modItem.estado == 'co' and not modItem|item_tiene_lb %}
                            <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item_relacion.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- ASIGNAR SUCESORES -->
        {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_relaciones' and modificable %}
            {% if modItem.estado == 'er' %}
                <div class="btn-squere-green" onclick="asignarSucesor()">Asignar sucesor</div>
            {% elif modItem.estado == 'pv' and modItem|item_tiene_lb %}
                <div class="btn-squere-green" onclick="asignarSucesor()">Asignar sucesor</div>
            {% elif modItem.estado == 'ap' and not modItem|item_tiene_lb %}
                <div class="btn-squere-green" onclick="asignarSucesor()">Asignar sucesor</div>
            {% endif %}
        {% endif %}
        <!-- ANTECESORES -->
        <div style="margin:10px 5px">
            <strong class="flex-row flex-align-items-center">
                Antecesores
                <span style="margin-left:10px" class="elemento-nota-claro">{{ modItem|item_relaciones:'a'|length }}</span>
            </strong>
        </div>
        {% if modItem|item_relaciones:'a'|length > 0 %}
        <div style="background-color:#eee;border-radius:4px;padding:5px">
            {% for rel_item in modItem|item_relaciones:'a' %}
                <div class="flex-row flex-align-items-center" style="border-bottom:1px solid #d2d2d2">
                    <div class="mod-item-panel-list-item flex-column" style="flex-grow:1" onclick="irA_antecesor({{ rel_item.item.id }})">
                        <span>{{ rel_item.item.prefijo|upper }} {{ rel_item.item.codigo }}</span>
                        <span>{{ rel_item.item.nombre }}</span>
                    </div>
                    <!-- ELIMIAR ANTECESOR -->
                    {% if not rel_item|item_tiene_lb %}
                        {% if user|usuario_fase:fase|tiene_permiso_fase:'modificar_relaciones' and modificable %}
                            {% if modItem.estado == 'er' or modItem.estado == 'pr' or modItem.estado == 'pv' %}
                                <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                            {% elif modItem.estado == 'ap' and not modItem|item_tiene_lb %}
                                <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                            {% elif modItem.estado == 'co' and not modItem|item_tiene_lb %}
                                <div class="mod-item-panel-list-item flex-align-items-center" style="height:100%;min-height:40px" onclick="eliminarRelacion({{ rel_item.item.id }})"><i class="fas fa-eraser" style="padding:0 5px"></i></div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- VERSIONES -->
        {% if user|usuario_fase:fase|tiene_permiso_fase:'versionar_item' %}
        <div style="margin:10px 5px" class="flex-column">
            <span><strong>Versiones</strong></span>
            <span style="color:#444">Versión actual: {{ modItem|get_version_actual_item }}</span>
        </div>
        <div style="background-color:#eee;border-radius:4px;padding:5px">
            {% for v in modItem|get_item_versiones %}
                <div onclick="addUrlParam('sv', {{ v.id }})" class="mod-item-panel-list-item flex-column"
                     style="border-bottom:1px solid #d2d2d2">
                    <span>Versión {{ v.version }}</span>
                    <span style="color:#444;margin-top:5px">Creado el {{ v.fecha_version }}</span>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<script>
    $(document).ready(() => {
        // Modificar ítem
        $('#btn-mod-item').click(() => {
                $.confirm({
                    title: "Modificar ítem",
                    boxWidth: '30%',
                    useBootstrap: false,
                    icon: 'fas fa-edit',
                    content: `
                        <form action="" class="formName">
                            <div class="form-group" style="position:relative">
                                <div style="display:flex;flex-direction:row;margin-top:20px">
                                    <span style="position:absolute;top:-5px;left:10px;background-color:white"><strong>Prefijo</strong></span><br>
                                    <input style="width:110px;margin-right:10px" class="confirm-value-input text-input" value="{{ modItem.prefijo|upper }}" readonly/>
                                    <span style="position:absolute;top:-5px;left:150px;background-color:white"><strong>Código</strong></span><br>
                                    <input id="code" class="confirm-value-input text-input" style="width:140px" value="{{ modItem.codigo }}" readonly/>
                                </div>
                                <br>
                                <span style="position:relative;left:10px"><strong>Nombre, costo y descipción</strong></span><br>
                                <input id="name" class="confirm-value-input text-input" placeholder="Nombre del ítem"/ value="{{ modItem.nombre }}">
                                <input id="price" class="confirm-value-input text-input" style="width:160px" placeholder="Costo" value="{{ modItem.costo }}">
                                <textarea id="desc" style="width:calc(100% - 25px);resize: none;" placeholder="Descripción del ítem"
                                class="confirm-value-input text-input" rows="5" required>{{ modItem.descripcion }}</textarea>
                                <span style="position:relative;top:13px;left:10px;background-color:white"><strong>Tipo de ítem</strong></span>
                                <br>
                                <input id="tdi" tdi-id="{{ modItem.tipo_de_item.id }}" class="confirm-value-input text-input" value="{{ modItem.tipo_de_item.nombre }}" readonly/>
                                <br>
                                <br>
                                <span style="position:relative;left:10px"><strong>Atributos del tipo de ítem</strong></span>
                                <div id="attr-list"></div>
                                <!--<span style="position:relative;top:13px;left:10px;background-color:white"><strong>Nueva versión</strong></span><br>
                                <input id="version" class="confirm-value-input text-input" required/><br>
                                Descripción de la versión-->
                            </div>
                        </form>`,
                    buttons: {
                        formSubmit: {
                            text: 'Confirmar',
                            btnClass: 'btn-green',
                            action: function () {
                                const name = this.$content.find('#name').val();
                                const desc = this.$content.find('#desc').val();
                                const tdi = this.$content.find('#tdi').attr('tdi-id');
                                const price = this.$content.find('#price').val();
                                //const version = this.$content.find('#version').val();
                                let attrs = '';
                                let requiredAttrs = true;

                                const list = $('.input-tdi-' + tdi);
                                for (let i=0,len=list.length;i<len;i++){
                                    // TODO: Verificar que los tipos URL sean direcciones correctas
                                    let elem = list[i];
                                    let attrId = $(elem).attr('attr-id');
                                    let attrValue = '';
                                    if ($(elem).attr('type') === 'checkbox')
                                        attrValue = $(elem).is(":checked");
                                    else attrValue = $(elem).val();
                                    attrs += attrId + '<$s>' + attrValue + (i+1===len ? '' : '<$n>');

                                    let attrRequired = $(elem).attr('attr-required');
                                    if (attrRequired === 'True' && (attrValue === '' || attrValue === undefined || attrValue === null)) {
                                        requiredAttrs = false;
                                        $.alert({
                                            title: 'Error',
                                            content: 'El atributo ' + $(elem).attr('title') + ' es obligatorio',
                                            boxWidth: '35%',
                                            useBootstrap: false,
                                            icon: 'fas fa-exclamation-triangle',
                                        });
                                        return false;
                                    }
                                }

                                if (name && desc && price && requiredAttrs) {
                                    sendRequest(
                                        '/fase/item/modificar/',
                                        {
                                            // estado
                                            item: {{ modItem.id }},
                                            nombre: name,
                                            descripcion: desc,
                                            costo: price,
                                            atributos:attrs,
                                            href: window.location.href,
                                            usuario: "{{ user.id }}",
                                            //version: version,
                                        }
                                    );
                                }
                                else{
                                    $.alert({
                                        title: 'Error',
                                        content: 'ingrese todos los campos requeridos para registrar el nuevo ítem.',
                                        boxWidth: '35%',
                                        useBootstrap: false,
                                        icon: 'fas fa-exclamation-triangle',
                                    });
                                    return false;
                                }
                            }
                        },
                        cancelar: function () {
                        },
                    },
                    onContentReady: function (){
                        let updateTdiAttrs = function(){
                            let html = $(`
                                <div class="item-attr-container">
                                    <br>
                                    {% for din in din_attrs %}
                                    <div style="flex-direction:column;margin:3px 0">
                                        {% if din.atributo.tipo == "bool" %}
                                        <label class="att-boo-block flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            <input title="{{ din.atributo.titulo }}" attr-id="{{ din.atributo.id }}" {% if din.valor == 'true' %}checked{% endif %} class="input-tdi-{{ din.atributo.tipo_de_item.id }}" type="checkbox" attr-required="False">
                                            <span class="checkmark"></span>
                                        </label>
                                        {% elif din.atributo.tipo == 'str' %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            {% if din.atributo.es_obligatorio %}<strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <textarea rows="2" title="{{ din.atributo.titulo }}" attr-id="{{ din.atributo.id }}" class="input-tdi-{{ din.atributo.tipo_de_item.id }} text-input" attr-required="{{ din.atributo.es_obligatorio }}">{{ din.valor }}</textarea>
                                        {% else %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            {% if din.atributo.es_obligatorio %}<strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <input title="{{ din.atributo.titulo }}" attr-id="{{ din.atributo.id }}" attr-required="{{ din.atributo.es_obligatorio }}" type="{% if din.atributo.tipo == 'num' %}number{% elif din.atributo.tipo == 'url' %}url{% endif %}"
                                        class="text-input input-tdi-{{ din.atributo.tipo_de_item.id }}" value="{{ din.valor }}">
                                        {% endif %}
                                        <br>
                                    </div>
                                    {% endfor %}
                                    <br>
                                </div>
                            `);
                            $('#attr-list').html(html);
                        };
                        // on tdi change
                        updateTdiAttrs();
                        // bind to events
                        let jc = this;
                        this.$content.find('form').on('submit', function (e) {
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    },
                });
            });
        $('#asignar-hijo').click(() => {
            $.confirm({
                    title: "Asignar hijo",
                    boxWidth: '30%',
                    useBootstrap: false,
                    icon: 'fas fa-edit',
                    content: `
                        <form action="" class="formName flex-column">
                            <span style="margin-left:10px"><strong>Seleccionar hijo</strong></span>
                            <select name="" id="hijo-select" class="text-input-full">
                                {% for item_hijo in modItem|hijos_posibles %}
                                <option value="{{ item_hijo.id }}">{{ item_hijo.prefijo|upper }} {{ item_hijo.codigo }} - {{ item_hijo.nombre }}</option>
                                {% endfor %}
                            </select>
                        </form>`,
                    buttons: {
                        formSubmit: {
                            text: 'Confirmar',
                            btnClass: 'btn-green',
                            action: function () {
                                const hijoId = this.$content.find('#hijo-select').val();
                                if (hijoId) {
                                    sendRequest(
                                        '/fase/item/relacion/agregar/',
                                        {
                                            item: {{ modItem.id }},
                                            itemRelacion: hijoId,
                                            relacionTipo: 'h',
                                            href: window.location.href
                                        }
                                    );
                                }
                                else{
                                    $.alert({
                                        title: 'Error',
                                        content: 'No se ha especificado un ítem correcto para relacionar.',
                                        boxWidth: '35%',
                                        useBootstrap: false,
                                        icon: 'fas fa-exclamation-triangle',
                                    });
                                    return false;
                                }
                            }
                        },
                        cancelar: function () {
                        },
                    },
                    onContentReady: function (){
                        let updateTdiAttrs = function(){
                            let html = $(`
                                <div class="item-attr-container">
                                    <br>
                                    {% for din in din_attrs %}
                                    <div style="flex-direction:column;margin:3px 0">
                                        {% if din.atributo.tipo == "bool" %}
                                        <label class="att-boo-block flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            <input title="{{ din.atributo.titulo }}" attr-id="{{ din.atributo.id }}" {% if din.valor == 'True' %}checked{% endif %} class="input-tdi-{{ din.atributo.tipo_de_item.id }}" type="checkbox" attr-required="False">
                                            <span class="checkmark"></span>
                                        </label>
                                        {% elif din.atributo.tipo == 'str' %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            {% if din.atributo.es_obligatorio %}<strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <textarea rows="2" title="{{ din.atributo.titulo }}" attr-id="{{ din.atributo.id }}" class="input-tdi-{{ din.atributo.tipo_de_item.id }} text-input" attr-required="{{ din.atributo.es_obligatorio }}">{{ din.valor }}</textarea>
                                        {% else %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            {% if din.atributo.es_obligatorio %}<strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <input title="{{ din.atributo.titulo }}" attr-id="{{ din.atributo.id }}" attr-required="{{ din.atributo.es_obligatorio }}" type="{% if din.atributo.tipo == 'num' %}number{% elif din.atributo.tipo == 'url' %}url{% endif %}"
                                        class="text-input input-tdi-{{ din.atributo.tipo_de_item.id }}" value="{{ din.valor }}">
                                        {% endif %}
                                        <br>
                                    </div>
                                    {% endfor %}
                                    <br>
                                </div>
                            `);
                            $('#attr-list').html(html);
                        };
                        // on tdi change
                        updateTdiAttrs();
                        // bind to events
                        let jc = this;
                        this.$content.find('form').on('submit', function (e) {
                            // if the user submits the form by pressing enter in the field.
                            e.preventDefault();
                            jc.$$formSubmit.trigger('click'); // reference the button and click it
                        });
                    },
                });
        });
    });

    // Adjuntar archivo
    function adjuntarArchivo(archivo) {
        if (archivo === -1){
            $('#file-input').trigger('click');
            return;
        }
        $('#file-input-span').html('Cargando archivo ' + archivo[0].name + '...');
        const UPLOAD_FILE_SIZE_LIMIT = 150 * 1024 * 1024;
        const ACCESS_TOKEN = "oE5mNGRRnbUAAAAAAAAAAfB8KArpivQahsD7EV9QwEJA8AXMsrBUinP4OOsY8nIV";
        const dbx = new Dropbox.Dropbox({ accessToken: ACCESS_TOKEN });
        const file = archivo[0];

        if (file.size < UPLOAD_FILE_SIZE_LIMIT) { // File is smaller than 150 Mb - use filesUpload API
            dbx.filesUpload({path: '/' + file.name, contents: file})
                .then(function (response) {
                    sendRequest(
                        '/proyecto/item/adjuntar/',
                        {
                            item: {{ modItem.id }},
                            nombre: archivo[0].name,
                            tipo: archivo[0].type,
                            href: window.location.href
                        }
                    );
                })
                .catch(function (error) {
                    alert('Error al intentar adjuntar el archivo.');
                    console.error(error);
                });
        }
        else {
            alert('El tamaño del archivo es demasiado grande.');
        }
    }
    function adjuntarArchivo_old(archivo) {
        if (archivo === -1){
            $('#file-input').trigger('click');
            return;
        }
        const reader = new FileReader();
        reader.addEventListener('load', (event) => {
            console.log(event.target.result);
            sendRequest(
                '/proyecto/item/adjuntar/',
                {
                    item: {{ modItem.id }},
                    datos: event.target.result,
                    nombre: archivo[0].name,
                    tipo: archivo[0].type,
                    href: window.location.href
                }
            );
        });
        //reader.readAsText(archivo[0]);
        reader.readAsBinaryString(archivo[0]);
    }
    function eliminarArchivoAdjunto() {
        sendRequest(
            '/proyecto/item/desadjuntar/',
            {
                item: {{ modItem.id }},
                href: window.location.href
            }
        );
    }
    function descargarArchivoAdjunto(){
        const ACCESS_TOKEN = "oE5mNGRRnbUAAAAAAAAAAfB8KArpivQahsD7EV9QwEJA8AXMsrBUinP4OOsY8nIV";
        const dbx = new Dropbox.Dropbox({ accessToken: ACCESS_TOKEN });
        dbx.filesDownload({ path: '/{{ modItem.nombre_adjunto }}'})
            .then(function(response){
                console.log(response);
                downloadBlob(response.result.fileBlob, '{{ modItem.nombre_adjunto }}');
            })
            .catch(function (error) {
                alert('Error al intentar descargar el archivo.');
                console.error(error);
            });
        return false;
    }
    function downloadBlob(blob, filename) {
        // Create an object URL for the blob object
        const url = URL.createObjectURL(blob);

        // Create a new anchor element
        const a = document.createElement('a');

        // Set the href and download attributes for the anchor element
        // You can optionally set other attributes like `title`, etc
        // Especially, if the anchor element will be attached to the DOM
        a.href = url;
        a.download = filename || 'download';

        // Click handler that releases the object URL after the element has been clicked
        // This is required for one-off downloads of the blob content
        const clickHandler = () => {
            setTimeout(() => {
                URL.revokeObjectURL(url);
                this.removeEventListener('click', clickHandler);
            }, 150);
        };

        // Add the click event listener on the anchor element
        // Comment out this line if you don't want a one-off download of the blob content
        a.addEventListener('click', clickHandler, false);

        // Programmatically trigger a click on the anchor element
        // Useful if you want the download to happen automatically
        // Without attaching the anchor element to the DOM
        // Comment out this line if you don't want an automatic download of the blob content
        a.click();

        // Return the anchor element
        // Useful if you want a reference to the element
        // in order to attach it to the DOM or use it in some other way
        return a;
    }

    // Más funciones
    function asignarSucesor() {
        $.confirm({
            title: "Asignar sucesor",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-edit',
            content: `
                <form action="" class="formName flex-column">
                    <span style="margin-left:10px"><strong>Seleccionar sucesor</strong></span>
                    <select name="" id="item-select" class="text-input-full">
                        {% for item_hijo in modItem|sucesores_posibles %}
                        <option value="{{ item_hijo.id }}">{{ item_hijo.prefijo|upper }} {{ item_hijo.codigo }} - {{ item_hijo.nombre }}</option>
                        {% endfor %}
                     </select>
                </form>`,
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-green',
                    action: function () {
                        const itemRel = this.$content.find('#item-select').val();
                        if (itemRel) {
                            sendRequest(
                                '/fase/item/relacion/agregar/',
                                {
                                    item: {{ modItem.id }},
                                    itemRelacion: itemRel,
                                    relacionTipo: 's',
                                    href: window.location.href
                                }
                            );
                        } else {
                            $.alert({
                                title: 'Error',
                                content: 'No se ha especificado un ítem correcto para relacionar.',
                                boxWidth: '35%',
                                useBootstrap: false,
                                icon: 'fas fa-exclamation-triangle',
                            });
                            return false;
                        }
                    }
                },
                cancelar: function () {
                },
            },
            onContentReady: function () {
                let updateTdiAttrs = function () {
                    let html = $(`
                                <div class="item-attr-container">
                                    <br>
                                    {% for din in din_attrs %}
                                    <div style="flex-direction:column;margin:3px 0">
                                        {% if din.atributo.tipo == "bool" %}
                                        <label class="att-boo-block flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            <input title="{{ din.atributo.titulo }}" attr-id="{{ din.atributo.id }}"
                        {% if din.valor == 'True' %}checked{% endif %} class="input-tdi-
                        {{ din.atributo.tipo_de_item.id }}" type="checkbox" attr-required="False">
                                            <span class="checkmark"></span>
                                        </label>
                                        {% elif din.atributo.tipo == 'str' %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            {% if din.atributo.es_obligatorio %}<strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <textarea rows="2" title="{{ din.atributo.titulo }}" attr-id="
                        {{ din.atributo.id }}" class="input-tdi-{{ din.atributo.tipo_de_item.id }}
                         text-input" attr-required="{{ din.atributo.es_obligatorio }}">{{ din.valor }}</textarea>
                                        {% else %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ din.atributo.titulo }}</u></span>
                                            {% if din.atributo.es_obligatorio %}<strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <input title="{{ din.atributo.titulo }}" attr-id="{{ din.atributo.id }}
                        " attr-required="{{ din.atributo.es_obligatorio }}" type="{% if din.atributo.tipo == 'num' %}
                            number{% elif din.atributo.tipo == 'url' %}url{% endif %}"
                                        class="text-input input-tdi-{{ din.atributo.tipo_de_item.id }}" value="
                        {{ din.valor }}">
                                        {% endif %}
                                        <br>
                                    </div>
                                    {% endfor %}
                                    <br>
                                </div>
                            `);
                    $('#attr-list').html(html);
                };
                // on tdi change
                updateTdiAttrs();
                // bind to events
                let jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            },
        });
    }

    function eliminarRelacion(itemRelacion) {
        $.confirm({
            title: 'Eliminar relación',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: '¿Está seguro de que desea eliminar la relación entre estos dos ítems?',
            buttons: {
                confirmar: function () {
                    sendRequest(
                        '/fase/item/relacion/eliminar/',
                        {
                            item: {{ modItem.id }},
                            itemRelacion: itemRelacion,
                            href: window.location.href
                        }
                    );
                },
                cancelar: function () {},
            }
        });
    }

    function confirmarItem(){
        $.confirm({
            title: 'Confirmar ítem',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-check-square',
            content: '¿Está seguro de que desea confirmar el estado de este ítem?',
            buttons: {
                confirmar: function () {
                    sendRequest(
                        '/fase/item/modificar/',
                        {
                            item: {{ modItem.id }},
                            estado: 'ap',
                            href: window.location.href
                        }
                    );
                },
                cancelar: function () {},
            }
        });
    }

    function deshabilitarItem(){
        $.confirm({
            title: 'Deshabilitar ítem',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: '¿Está seguro de que desea deshabilitar este ítem?',
            buttons: {
                confirmar: function () {
                    sendRequest(
                        '/fase/item/modificar/',
                        {
                            item: {{ modItem.id }},
                            estado: 'da',
                            href: window.location.href
                        }
                    );
                },
                cancelar: function () {},
            }
        });
    }

    function activarItem(){
        $.confirm({
            title: 'Activar ítem',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-check-square',
            content: '¿Está seguro de que desea activar este ítem?',
            buttons: {
                confirmar: function () {
                    sendRequest(
                        '/fase/item/modificar/',
                        {
                            item: {{ modItem.id }},
                            estado: 'pe',
                            href: window.location.href
                        }
                    );
                },
                cancelar: function () {},
            }
        });
    }

    function aprobarItemLbRota() {
        $.confirm({
            title: 'Aprobar ítem de línea base rota',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-check-square',
            content: `¿Está seguro de que desea aprobar este ítem? Una vez que todos los ítems de la línea base rota
                      sean vueltos a aprobar, la línea base pasará automáticamente a un estado activo.`,
            buttons: {
                confirmar: function () {
                    sendRequest(
                        '/lineaBase/rota/aprobar/item/',
                        {
                            item: {{ modItem.id }},
                            href: window.location.href
                        }
                    );
                },
                cancelar: function () {},
            }
        });
    }

    function mensajeNoDeshabilitarItem() {
        $.alert({
            title: 'No se puede deshabilitar',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-exclamation',
            content: 'El ítem seleccionado es antecesor de otro ítem. Para deshabilitar este ítem, remueva todos sus sucesores.',
        });
    }

    function mensajeNoModificable() {
        $.alert({
            title: 'No se puede modificar',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-exclamation',
            content: 'El ítem seleccionado es antecesor de otro ítem. Una vez que modifique este ítem, el estado ' +
                'volverá a ser "Pendiente de aprobación". Para modificar este ítem, remueva todos sus sucesores.',
        });
    }

    function cambiarVersion(version_id) {
        $.confirm({
            title: 'Cambiar versión',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-undo-alt',
            content: `¿Está seguro de que desea volver a esta versión del ítem?`,
            buttons: {
                confirmar: function () {
                    sendRequest(
                        '/fase/item/version/modificar/',
                        {
                            item: {{ modItem.id }},
                            version: version_id,
                            usuario: {{ user.id }},
                            href: removeUrlParam('sv', false),
                        }
                    );
                },
                cancelar: function () {},
            }
        });
    }

    function deshacerCambios(){
        $.confirm({
            title: 'Deshacer cambios',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: `¿Está seguro de que desea deshacer los cambios en el ítem? El estado del ítem volverá a la
                        última versión registrada.`,
            buttons: {
                confirmar: function () {
                    sendRequest(
                        '/fase/item/version/deshacer/',
                        {
                            item: {{ modItem.id }},
                            href: removeUrlParam('sv', false),
                        }
                    );
                },
                cancelar: function () {},
            }
        });
    }

    function crearVersion() {
        $.confirm({
            title: "Versionar ítem",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-edit',
            content: `
                <form action="" class="formName flex-column">
                    <span style="margin-left:10px"><strong>Ingrese el nombre de la nueva versión</strong></span>
                    <input id="version-input" type="text" class="text-input" autofocus>
                </form>`,
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-green',
                    action: function () {
                        const version = this.$content.find('#version-input').val();
                        if (version) {
                            sendRequest(
                                '/fase/item/version/crear/',
                                {
                                    item: {{ modItem.id }},
                                    version: version,
                                    href: window.location.href
                                }
                            );
                        } else {
                            $.alert({
                                title: 'Error',
                                content: 'Debe ingresar un nombre para la nueva versión.',
                                boxWidth: '35%',
                                useBootstrap: false,
                                icon: 'fas fa-exclamation-triangle',
                            });
                            return false;
                        }
                    }
                },
                cancelar: function () {
                },
            },
            onContentReady: function () {
                // bind to events
                let jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            },
        });
    }

    {% if showVersionDeta %}
        $.confirm({
            title: "Detalles de la versión " + "{{ versionDeta.version }}",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-edit',
            content: `
            <form action="" class="formName">
                <div class="form-group" style="position:relative">
                    <div style="display:flex;flex-direction:row;margin-top:20px">
                        <span style="position:absolute;top:-5px;left:10px;background-color:white"><strong>Prefijo</strong></span><br>
                        <input style="width:110px;margin-right:10px" class="confirm-value-input text-input" value="{{ modItem.prefijo|upper }}" readonly/>
                        <span style="position:absolute;top:-5px;left:150px;background-color:white"><strong>Código</strong></span><br>
                        <input id="code" class="confirm-value-input text-input" style="width:140px" value="{{ modItem.codigo }}" readonly/>
                    </div>
                    <br>
                    <span style="position:relative;left:10px"><strong>Nombre, costo y descipción</strong></span><br>
                    <input id="name" class="confirm-value-input text-input" placeholder="Nombre del ítem"/ value="{{ versionDeta.nombre }}" readonly>
                    <input id="price" class="confirm-value-input text-input" style="width:160px" placeholder="Costo" value="{{ versionDeta.costo }}" readonly>
                    <textarea id="desc" style="width:calc(100% - 25px);resize: none;" placeholder="Descripción del ítem"
                        class="confirm-value-input text-input" rows="5" readonly>{{ versionDeta.descripcion }}</textarea>
                    <span style="position:relative;top:13px;left:10px;background-color:white"><strong>Tipo de ítem</strong></span>
                    <br>
                    <input id="tdi" tdi-id="{{ modItem.tipo_de_item.id }}" class="confirm-value-input text-input" value="{{ modItem.tipo_de_item.nombre }}" readonly/>
                    <br>
                    <br>
                    <span style="position:relative;left:10px"><strong>Atributos del tipo de ítem</strong></span>
                    <div id="attr-list"></div>
                    <!--<span style="position:relative;top:13px;left:10px;background-color:white"><strong>Nueva versión</strong></span><br>
                    <input id="version" class="confirm-value-input text-input" required/><br>
                    Descripción de la versión-->
                </div>
            </form>`,
            buttons: {
                {% if modItem.estado != 'da' %}
                    {% if not modItem|item_tiene_lb or modItem.estado == 'er'  or modItem.estado == 'pv' %}
                        formSubmit: {
                            text: 'Volver a esta versión',
                            btnClass: 'btn-green',
                            action: function () {
                                cambiarVersion("{{ versionDeta.id }}");
                                return false;
                            }
                        },
                    {% endif %}
                {% endif %}
                cerrar: function () {
                    removeUrlParam('sv');
                },
            },
            onContentReady: function () {
                let updateTdiAttrs = function () {
                    let html = $(`
                    <div class="item-attr-container">
                        <br>
                        {% for din in din_attrsVersionData %}
                            <div style="flex-direction:column;margin:3px 0">
                            {% if din.item_atributo.atributo.tipo == "bool" %}
                                <label class="att-boo-block flex-row">
                                    <span style="margin-right:5px"><u>{{ din.item_atributo.atributo.titulo }}</u></span>
                                    <input onclick="return false;" title="{{ din.item_atributo.atributo.titulo }}
                        " attr-id="{{ din.item_atributo.atributo.id }}" {% if din.valor == 'true' %}checked{% endif %}
                         class="input-tdi-{{ din.item_atributo.atributo.tipo_de_item.id }}" type="checkbox" attr-required="False" readonly>
                                    <span class="checkmark"></span>
                                </label>
                            {% elif din.item_atributo.atributo.tipo == 'str' %}
                                <div class="flex-row">
                                    <span style="margin-right:5px"><u>{{ din.item_atributo.atributo.titulo }}</u></span>
                                    {% if din.item_atributo.atributo.es_obligatorio %}<strong>(Requerido)</strong>
                        {% endif %}
                                        </div>
                                        <textarea readonly rows="2" title="{{ din.item_atributo.atributo.titulo }}
                        " attr-id="{{ din.item_atributo.atributo.id }}" class="input-tdi-
                        {{ din.item_atributo.atributo.tipo_de_item.id }} text-input" attr-required="
                        {{ din.item_atributo.atributo.es_obligatorio }}">{{ din.valor }}</textarea>
                                        {% else %}
                                        <div class="flex-row">
                                            <span style="margin-right:5px"><u>{{ din.item_atributo.atributo.titulo }}</u></span>
                                            {% if din.item_atributo.atributo.es_obligatorio %}
                            <strong>(Requerido)</strong>{% endif %}
                                        </div>
                                        <input readonly title="{{ din.item_atributo.atributo.titulo }}" attr-id="
                        {{ din.item_atributo.atributo.id }}" attr-required="
                        {{ din.item_atributo.atributo.es_obligatorio }}" type="
                        {% if din.item_atributo.atributo.tipo == 'num' %}number
                        {% elif din.item_atributo.atributo.tipo == 'url' %}url{% endif %}"
                        class="text-input input-tdi-{{ din.item_atributo.atributo.tipo_de_item.id }}" value="{{ din.valor }}">
                                        {% endif %}
                                        <br>
                                    </div>
                                    {% endfor %}
                                    <br>
                                </div>
                            `);
                    $('#attr-list').html(html);
                };
                // on tdi change
                updateTdiAttrs();
                // bind to events
                let jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            },
        });
    {% endif %}

    {% if request.GET.mostrarHistorial %}
        $.confirm({
            title: "Historial del ítem",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-edit',
            content: `
            <form action="" class="formName">
                <div class="form-group" style="position:relative">
                    <h4>{{ modItem|get_historial|length }} cambio/s registrados</h4>
                    {% for hist in modItem|get_historial %}
                        <div style="margin-top:10px;padding-top:10px;border-top:1px solid #777">
                            <span>En fecha {{ hist.fecha_historia }}.</span><br>
                            <span>{{ hist.descripcion|replace_enter_to_br|safe }}</span>
                        </div>
                    {% endfor %}
                </div>
            </form>`,
            buttons: {
                cerrar: function () {
                    removeUrlParam('mostrarHistorial');
                },
            },
            onContentReady: function () {
                // bind to events
                let jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            },
        });
    {% endif %}

    function faltaSucesor(){
        $.confirm({
            title: 'No se puede realizar',
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-eraser',
            content: `El ítem debe tener al menos un hijo o un sucesor asignado para realizar esta operación.`,
            buttons: {
                aceptar: function () {},
            }
        });
    }

    function irA_sucesor(sucesor) {
        goto('/fase/' + {{ sigId }} + '/?modItem=' + sucesor);
    }
    function irA_antecesor(antecesor) {
        goto('/fase/' + {{ prevId }} + '/?modItem=' + antecesor);
    }
    function mostrarTrazo()
    {
        addUrlParam("mostrarTrazo",{{ modItem.id }},["modItem"])
    }
    function mostrarHistorial()
    {
        addUrlParam("mostrarHistorial",{{ modItem.id }})
    }
</script>