<style>
    .project-overview{
        position: relative;
        padding-bottom: 10px;
        //border-top:1px solid #e2e2e2;
    }
    .overview-border{
        position: absolute;
        width: 5px;
        height: 100%;
        top:0;
        left:0;
        background-color:#3465a499;
    }
    .overview-backcolor{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.08;
        z-index: 0;
    }
    .botones-contenedor{
        z-index: 10;
        position: relative;
    }
    .lateral-opt-block{

    }
    .proj-option-title{
        padding: 14px 8px 14px 18px;
        /*border-top: 1px solid #bbb;*/
    }
    .selected-sub-option-btn,
    .sub-option-btn{
        font-size: 15px;
        cursor: pointer;
        padding: 8px;
        color: #666;
        padding-left: 50px;
    }
    .sub-option-btn:hover {
        background-color: {{ proyecto.color_icono }}1;
    }
    .selected-sub-option-btn{
        font-weight: bold;
        color: {{ proyecto.color_icono }};
        background-color: {{ proyecto.color_icono }}1;
    }
    .option-btn{
        cursor: pointer;
        color: #777;
        padding: 15px 8px 15px 10px;
    }
    .option-btn:hover{
        background-color: #eee;
    }
    a{
        text-decoration: none;
        color: #555;
    }
    .lateral-menu-container{
        min-width: 250px;
        background-color: #f7f7f7;
        //box-shadow: 0 0 8px 4px #0001;
        overflow: auto;
        border-right: 1px solid #ccc4;
    }
    .proyecto-titulo-lateral{
        padding: 20px 12px;
    }
    .proyecto-icono-lateral{
        min-width: 40px;
        height: 40px;
        border-radius: 10px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    .fas-r-space{
        margin-right: 11px;
    }
    /** Estilos de usuario **/
    .imagen-usuario {
        border-radius: 50%;
        margin-right: 10px;
        display: block;
        width: 44px;
        height: 44px;
    }
    .usuario-overview{
        position: relative;
        padding: 15px 20px;
        cursor:pointer;
    }
    .usuario-overview:hover{
        background-color: #f3f3f3;
    }
</style>
<div class="lateral-menu-container">

    <!--################ VISTA DE PROYECTO ################-->

    {% if vistaDeProyecto %}
        <div onclick="gotoHref('/proyecto/{{ proyecto.id }}/')"
             class="proyecto-titulo-lateral flex-row flex-align-items-center option-btn">
            <div class="proyecto-icono-lateral" style="background-color:{{ proyecto.color_icono }}">
                {{ proyecto.nombre|primera_letra|title }}
            </div>
            <p class="texto-bold">{{ proyecto.nombre }}</p>
        </div>
        <!-- Resumen de proyecto -->
        <div class="project-overview">
            {% if resumenDeProyecto %}
                <div class="overview-backcolor" style="background-color:{{ proyecto.color_icono }}"></div>
                <div class="overview-border" style="background-color:{{ proyecto.color_icono }}"></div>
                <p class="proj-option-title texto-bold" style="color:{{ proyecto.color_icono }}">
                    <i class="fas fa-home fas-r-space"></i>Vista del proyecto</p>
            {% else %}
                <p class="proj-option-title texto-claro"><i class="fas fa-home fas-r-space"></i>Vista del proyecto</p>
            {% endif %}
            <div class="botones-contenedor">
                <div class="{% if detallesDeProyecto %}selected-sub-option-btn{% else %}sub-option-btn{% endif %}"
                     onclick="gotoHref('/proyecto/{{ proyecto.id }}/')">Detalles</div>
                <div class="sub-option-btn" onclick="window.location.href='/proyecto/{{ proyecto.id }}/reporte/items/'">Informe de ítems</div>
                <div class="sub-option-btn" onclick="seleccionarFechas()">Reporte de cambios</div>
                <!--<div class="sub-option-btn" onclick="">Actividades</div>-->
            </div>
        </div>
        {% if user|usuario_proyecto:proyecto|tiene_permiso_proyecto:'ver_configuracion_de_proyecto' %}
        <!-- Configuración de proyecto -->
        <div class="project-overview">
            {% if configuracionDeProyecto %}
                <div class="overview-backcolor" style="background-color:{{ proyecto.color_icono }}"></div>
                <div class="overview-border" style="background-color:{{ proyecto.color_icono }}"></div>
                <p class="proj-option-title texto-bold" style="color:{{ proyecto.color_icono }}">
                    <i class="fas fa-cog fas-r-space"></i>Configuración</p>
            {% else %}
                <p class="proj-option-title texto-claro"><i class="fas fa-cog fas-r-space"></i>Configuración</p>
            {% endif %}

            <div class="botones-contenedor">
                <!-- Configuraciones generales -->
                <div class="{% if configuracionesGenerales %}selected-sub-option-btn{% else %}sub-option-btn{% endif %}"
                     onclick="gotoHref('/proyecto/{{ proyecto.id }}/config/')">
                    General
                </div>
                <!-- Configuración de roles -->
                <div class="{% if configuracionesDeRolesDeProyecto %}selected-sub-option-btn{% else %}sub-option-btn{% endif %}"
                     onclick="gotoHref('/proyecto/{{ proyecto.id }}/roles/')">
                    Roles</div>
                <!-- Configuración de miembros -->
                <div class="{% if configuración_de_miembros_de_proyecto %}selected-sub-option-btn{% else %}sub-option-btn{% endif %}"
                     onclick="gotoHref('/proyecto/{{ proyecto.id }}/miembros/')">
                    Miembros
                </div>
                <!-- Configuración de tipos de ítem -->
                <div class="{% if configuracionesDeTdisDeProyecto %}selected-sub-option-btn{% else %}sub-option-btn{% endif %}"
                     onclick="gotoHref('/proyecto/{{ proyecto.id }}/tdis/')">
                    Tipos de ítem</div>
                <!-- Configuración de fases -->
                <div class="{% if configuracionesDeFasesDeProyecto %}selected-sub-option-btn{% else %}sub-option-btn{% endif %}"
                     onclick="gotoHref('/proyecto/{{ proyecto.id }}/fases/')">
                    Fases</div>
            </div>
        </div>
        {% endif %}
    {% endif %}

    <!--################ VISTA DE EDITAR USUARIO ################-->

    {% if editandoUsuario %}
        <div onclick="gotoHref('/usuario/{{ usuarioMod.username }}/editar/')"
             class="flex-row flex-align-items-center option-btn">
            <img class="imagen-usuario" src="{{ usuarioMod.username|get_usuario_imagen_perfil }}">
            <div class="flex-column">
                <p style="color:#222"><strong>Editar usuario</strong></p>
                <p>{{ usuarioMod.username }}</p>
            </div>
        </div>
        <!-- Perfil de usuario -->
        <div onclick="gotoHref('/usuario/{{ usuarioMod.username }}/editar/')"
                class="usuario-overview" {% if editandoPerfil %}style="background-color:#aaa1"{% endif %}>
            {% if editandoPerfil %}<div class="overview-border"></div>{% endif %}
            <p class="user-option-title {% if editandoPerfil %}texto-bold{% else %}texto-claro{% endif %}">
                <i class="far fa-user fas-r-space"></i>Perfil</p>
        </div>
        {% if user|tiene_permiso_sistema:'modificar_roles_de_usuarios' %}
        <!-- Roles de usuario -->
        <div onclick="gotoHref('/usuario/{{ usuarioMod.username }}/editar/roles/')"
                class="usuario-overview" {% if editandoRoles %}style="background-color:#aaa1"{% endif %}>
            {% if editandoRoles %}<div class="overview-border"></div>{% endif %}
            <p class="user-option-title {% if editandoRoles %}texto-bold{% else %}texto-claro{% endif %}">
                <i class="fas fa-swatchbook fas-r-space"></i>Roles</p>
        </div>
        {% endif %}
    {% endif %}

    <!--################ VISTA DE ITEMS ################-->

    {% if editandoItem %}
        {% include 'includes/itemLateralManu.html' %}
    {% endif %}

    <div class="lateral-opt-block">
        <!--<div class="option-btn">(Sin implementación)</div>
        {% if user|tiene_permiso_sistema:"ver_lista_usuarios" %}{% endif %}
        <div class="option-btn"><i class="fas fa-truck-loading"></i>Actividades</div>
        <div class="option-btn"><i class="fas fa-calendar-alt"></i>Historial</div>
        <div class="option-btn"><i class="fas fa-database"></i>Recursos</div>
        <div class="option-btn"><i class="fas fa-chart-line"></i>Analisis</div>-->
    </div>
</div>

<script>
    function seleccionarFechas() {
        $.confirm({
            title: "Seleccionar fechas",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-calendar',
            content: `
                <form action="" class="formName flex-row" style="flex-wrap:wrap">
                    <div class="flex-column" style="margin-right:10px">
                        <span style="margin-left:10px;font-size:18px">Fecha inicial</span>
                        <input id="inicial-input" type="date" class="text-input" autofocus>
                    </div>
                    <div class="flex-column">
                        <span style="margin-left:10px;font-size:18px">Fecha final</span>
                        <input id="final-input" type="date" class="text-input">
                    </div>
                </form>`,
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    btnClass: 'btn-green',
                    action: function () {
                        const  inicial = this.$content.find('#inicial-input').val();
                        const  final = this.$content.find('#final-input').val();

                        if (!inicial || !final){
                            $.alert({
                                title: 'Error',
                                content: 'Debe completar ambos cambos antes de continuar.',
                                boxWidth: '35%',
                                useBootstrap: false,
                                icon: 'fas fa-exclamation-triangle',
                            });
                            return false;
                        } else {
                            const inicial_obj = new Date(inicial);
                            const final_obj = new Date(final);
                            if (inicial_obj > final_obj) {
                                $.alert({
                                    title: 'Error',
                                    content: 'La fecha inicial debe ser menor que la final.',
                                    boxWidth: '35%',
                                    useBootstrap: false,
                                    icon: 'fas fa-exclamation-triangle',
                                });
                                return false;
                            } else {
                                sendRequest(
                                    '/proyecto/{{ proyecto.id }}/reporte/cambios/',
                                    {
                                        fechaInicio: inicial,
                                        fechaFin: final,
                                    }
                                );
                            }
                        }
                    }
                },
                cancelar: function () {
                },
            },
            onContentReady: function () {
                // bind to events
                let jc = this;
                this.$content.find('form').on('submit', function (e) {
                    // if the user submits the form by pressing enter in the field.
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click'); // reference the button and click it
                });
            },
        });
    }
    function gotoHref(href) {
        window.location.href = href;
    }
    function showMembersList() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('mostrarMiembros')) urlParams.delete('mostrarMiembros');
        if (urlParams.has('mostrarMiembrosInactivos')) urlParams.delete('mostrarMiembrosInactivos');
        if (urlParams.has('modMiembro')) urlParams.delete('modMiembro');
        urlParams.append('mostrarMiembros', "True");
        window.location.href = window.location.href.split('?')[0] + '?' + urlParams;
    }
</script>
