<style>
    .menu-header-container{
        display: flex;
        justify-content: space-between;
    }
    .opciones-derecha,
    .opciones-izquierda{
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 10px;
    }
    .btn-circular{
        width: 32px;
        height: 32px;
        background-color: black;
        margin: 0;
        border-radius: 50%;
        cursor: pointer;
    }
    .imagen-usuario-header{
        border-radius: 50%;
        margin-bottom: 15px;
        display: block;
        width: 32px;
        height: 32px;
    }
    .desplegable-opciones-usuario-backgroun{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: black;
        opacity: 0.01;
        cursor: auto;
    }
    .desplegable-opciones-usuario{
        position: absolute;
        min-width: 240px;
        min-height: 100px;
        background-color: white;
        border: 1px #ccc solid;
        box-shadow: 0 0 10px 3px #0000001a;
        border-radius: 1px;
        transform: translate(calc(-100% + 40px), -12px);
    }
    .desplegable-opciones-mensajes{
        position: absolute;
        min-width: 340px;
        min-height: 100px;
        background-color: white;
        border: 1px #ccc solid;
        box-shadow: 0 0 10px 3px #0000001a;
        border-radius: 1px;
        transform: translate(calc(-100% + 10px), 20px);
    }
    .usuario-opciones-cabecera{
        border-bottom: 1px #ccc solid;
    }
    .usuario-opciones-cabecera,
    .usuario-opciones-pie{
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        padding: 0;
        font-size: 15px;
        cursor: auto;
        font-weight: normal;
    }
    .opciones-cabecera-fila-titulo,
    .opciones-cabecera-fila{
        padding: 0 18px;
        color: #555;
        text-decoration: none;
        cursor: auto;
        margin-top: 3px;
    }
    .opciones-cabecera-fila{
        padding: 10px 18px;
    }
    .opciones-cabecera-fila-selectable{
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }
    .opciones-cabecera-fila-selectable:hover{
        background: #eee;
    }
    .upc-usuario-info{
        padding-top: 14px;
        padding-bottom: 12px;
    }
    .ocf-nombre{
        font-weight: bold;
        color: #111;
    }
    .desplegable-opciones-usuario-container{
        display: none;
    }
    #check-opciones-usuario:checked + .desplegable-opciones-usuario-container{
        display: block;
    }
    .eleven-panda{
        display: flex;
        align-items: center;
        font-size: 24px;
        text-decoration: none;
        color: white;
        padding: 0 30px;
        font-family: Lobster, sans-serif;
        height: 100%;
    }
    .proys-superio-icono{
        margin-right: 10px;
        background-color: #003366;
        color: #f9f9f9;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    .fa-project-diagram{

    }
    .opciones-cabecera-fila i,
    .opciones-cabecera-fila-selectable i{
        margin-right: 10px;
        color: #444;
    }
    .sub-opcion{
        //background-color: #3465a40f;
        padding-left: 45px;
        position: relative;
    }
    .admin-tag{
        margin-left: 7px;
        margin-top: 7px;
    }
    .tus-proyectos-atajo{
        font-size: 14.5px;
        color: #fff;
        margin-left: 10px;
        background-color: #0000;
        border: 2px solid #fffa;
    }
    .tus-proyectos-atajo:hover{
        font-weight: bold;
        border: 2px solid white;
        background-color: #fff1;
    }
    .notification{
        padding:10px;
        border-bottom:1px solid #ccc;
    }
</style>
<div>
    <div class="menu-header-container">
        <div class="opciones-izquierda">
            <a href="/" class="eleven-panda">Eleven Panda</a>
            <div class="btn-squere-white tus-proyectos-atajo" onclick="goto('/')">Tus proyectos</div>
        </div >
        <div class="opciones-derecha">
            <!-- MENSAJES -->
            <div onclick="mostrarNotificaciones()" class="btn-circular" style="margin-right:10px;background-color:white">
                <div style="height:45px" class="flex-row flex-justify-center">
                    <i class="fas fa-envelope" style="margin-top:8px;color:#333"></i>
                </div>
            </div>
            <!-- Modal de mensajes -->
            <div class="desplegable-opciones-mensajes-container" style="display:none">
                <div class="desplegable-opciones-usuario-backgroun" onclick="mostrarNotificaciones()"></div>
                <div class="desplegable-opciones-mensajes">
                    {% for noti in user|romper_lb_notificaciones %}
                        {% if not noti.resuelto %}
                            <div class="notification flex-column">
                                <span><u>Solicitud de ruptura de línea base <strong>{{ noti.linea_base.nombre }}</strong></u></span>
                                <span style="margin-top:10px">En el proyecto <strong>{{ noti.linea_base.fase.proyecto.nombre }}</strong></span>
                                <span>Solicitado por <strong>{{ noti.usuario_solicitante.username }}</strong></span>
                                <span style="margin-top:10px">Fecha de solicitud</span>
                                <span>{{ noti.fecha_solicitud }}</span>
                                <span style="margin-top:10px"><strong>Motivo de solicitud</strong></span>
                                <span>{{ noti.motivo }}</span>
                                {% if not noti|voto_en_solicitud:user.id is not None %}
                                    <span style="margin-top:10px"><strong>Acciones</strong></span>
                                    <div class="flex-row" style="margin-top:10px">
                                        <div onclick="confirmarRomperLb({{ noti.id }}, 'y')" class="btn-squere-white"
                                             style="margin-right:5px;color:#555">Estoy de acuerdo</div>
                                        <div onclick="confirmarRomperLb({{ noti.id }}, 'n')" class="btn-squere-white"
                                            style="color:#555">No estoy de acuerdo</div>
                                    </div>
                                {% elif noti|voto_en_solicitud:user.id %}
                                    <div class="flex-row" style="margin-top:10px">
                                        <div class="btn-squere-white" style="margin-right:5px;cursor:default">Estoy de acuerdo</div>
                                    </div>
                                {% else %}
                                    <div class="flex-row" style="margin-top:10px">
                                        <div class="btn-squere-white" style="margin-right:5px">No estoy de acuerdo</div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- USUARIO -->
            <label for="check-opciones-usuario" class="btn-circular">
                    <img class="imagen-usuario-header" src="{{ user.id|get_usuario_imagen_perfil }}" alt="">
                <!-- Modal de opciones de usuario -->
                <input id="check-opciones-usuario" type="checkbox" style="visibility: hidden; position: absolute;">
                <div class="desplegable-opciones-usuario-container">
                    <div class="desplegable-opciones-usuario-backgroun"></div>
                    <div class="desplegable-opciones-usuario">
                        <div class="usuario-opciones-cabecera upc-usuario-info">
                            <p class="opciones-cabecera-fila-titulo ocf-nombre">{{ user.first_name }} {{ user.last_name }}</p>
                            <p class="opciones-cabecera-fila-titulo">{{ user.username }}</p>
                            <!--<p class="opciones-cabecera-fila-titulo">{{ user.email }}</p>-->
                            {% if user.is_superuser %}
                                <div class="flex-row admin-tag">
                                    <div class="elemento-nota-claro flex-row">
                                        <i style="margin-right:8px;" class="fas fa-unlock-alt"></i>
                                        <p>Administrador</p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="usuario-opciones-pie">
                            {% if user|tiene_permiso_sistema:'ver_todos_los_perfiles' or user|tiene_permiso_sistema:'ver_perfil_propio' or user|es_admin %}
                                <a class="opciones-cabecera-fila opciones-cabecera-fila-selectable" href="/usuario/perfil/">
                                    <i class="fas fa-user"></i>Perfil</a>
                            {% endif %}
                            {% if user|tiene_permiso_sistema:'ver_lista_usuarios' or user|tiene_permiso_sistema:'ver_lista_roles_de_sistema' or user|tiene_permiso_sistema:'ver_lista_proyectos' %}
                                <div class="flex-row flex-justify-between flex-align-items-center">
                                    <div class="opciones-cabecera-fila opciones-cabecera-fila">
                                        <i class="fas fa-cog"></i>Configuración
                                    </div>
                                    <div style="margin-right:12px"><i class="fas fa-chevron-down"></i></div>
                                </div>
                                <div class="flex-column">
                                    {% if user|tiene_permiso_sistema:'ver_lista_usuarios' %}
                                        <a class="opciones-cabecera-fila opciones-cabecera-fila-selectable sub-opcion"
                                           href="/usuario/lista/">Usuarios</a>
                                    {% endif %}
                                    {% if user|tiene_permiso_sistema:'ver_lista_roles_de_sistema' %}
                                        <a class="opciones-cabecera-fila opciones-cabecera-fila-selectable sub-opcion"
                                           href="/rol/listar/">Roles</a>
                                    {% endif %}
                                    {% if user|tiene_permiso_sistema:'ver_lista_proyectos' %}
                                        <a class="opciones-cabecera-fila opciones-cabecera-fila-selectable sub-opcion"
                                           href="/?todos=True">Proyectos</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="opciones-cabecera-fila opciones-cabecera-fila-selectable"
                                 style="border-top: 1px solid #ddd"
                                 onclick="goto('/accounts/logout/')">
                                <i class="fas fa-sign-out-alt"></i>Cerrar sesión</div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
    </div>
</div>

<script>
    function confirmarRomperLb(solicitud_id, voto) {
        $.confirm({
            title: voto === 'y' ? "Estoy de acuerdo con romper la línea base" : "No estoy de acuerdo con romper la línea base",
            boxWidth: '30%',
            useBootstrap: false,
            icon: 'fas fa-exclamation-circle',
            content: `<p>Confirmar la opración registrará su decisión y NO PODRÁ VOLVER A CAMBIARLA,
                        una vez que la mayoría de los miembros del comité haya dado su voto,
                        la operación será aprobada o rechazada automáticamente.</p>`,
            buttons: {
                formSubmit: {
                    text: 'Confirmar',
                    action: function () {
                        sendRequest(
                            '/proyecto/confirmar/romper/lineabase/',
                            {
                                'solicitud': solicitud_id,
                                'usuario': {{ user.id }},
                                'voto': voto,
                                'href': window.location.href,
                            }
                        )
                    }
                },
                cancelar: function () {
                },
            }
        });
    }
    function mostrarNotificaciones() {
        let container = $('.desplegable-opciones-mensajes-container');
        if ($(container).css('display') === 'none'){
            $(container).css('display', 'block');
        }
        else{
            $(container).css('display', 'none');
        }
    }
</script>